@import "../../../../../assets/scss/colors";

::ng-deep
{
    prt011-item
    {
        ps-dialog-confirm
        {
            .main-title
            {
                text-align: center;

                .hightline
                {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1;
                    color: $primary;
                }
            }

            .main-title-done
            {
                .done
                {
                    display: flex;
                }
            }

            .sub-title
            {
                span
                {
                    text-transform: uppercase;
                    color: $error;
                }
            }
        }

        ps-kendo-textbox
        {
            width: 220px;
        }

        .k-label
        {
            font-size: 13px !important;
        }

        ps-kendo-dropdown-list
        {
            .k-list-item-text
            {
                font-size: 14px;
            }

            .k-list-item-text,
            .k-dropdown-wrap .k-input
            {
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        ps-kendo-dropdown-button
        {
            .k-dropdown-button
            {
                background-color: $primary;
                border-radius: 5px;

                .k-link
                {
                    padding-left: 8px !important;
                }
            }
        }

        ps-kendo-dropdown-button .k-button-text
        {
            color: $white !important;
        }

        ps-dialog-confirm ps-kendo-button:first-child .k-button-text
        {
            color: $secondary !important;
        }
        
        .arrow-dropdown img
        {
            filter: brightness(10);
        }

        /* link trong ActionColumn menu */
        .k-link
        {
            width: 200px !important;
        }

        .k-group .k-item .k-link:active
        {
            background-color: $gray-light !important;
        }

        .filter-textbox
        {
            position: relative;
            top: 1px;
        }

        .prt011
        {
            padding: 0 10px 0 0;
            height: 100%;

            .ps-filter-bar
            {
                ps-filter-textbox
                {
                    min-width: 265px;
                }

                ps-filter-status
                {
                    .card-content-column
                    {
                        .col-3-4-container
                        {
                            .col-4
                            {
                                .status-btn
                                {
                                    min-width: 217px;
                                    width: fit-content;
                                }
                            }
                        }
                    }
                }

                .k-picker-solid
                {
                    min-width: 240px;
                }

                .io-type-container
                {
                    position: relative;
                    top: 1px;
                    margin-top: -3px;

                    kendo-label,
                    .k-label
                    {
                        position: relative;
                        top: -0.5px !important;
                    }
                }
            }

            .part-name
            {
                font-weight: 700;
            }

            .part-item-cell
            {
                display: flex;
                align-items: center;

                .part-thumb-spacer
                {
                    flex-shrink: 0;
                    width: 84px;
                    min-height: 62px;
                    background: transparent;
                }

                .part-info
                {
                    margin-left: 8px;
                }
            }

            .business-status-cell
            {
                text-transform: uppercase;
                color: $primary;
            }

            .io-type-container.status-checkbox
            {
                height: 59px;
                top: 1.9px;
                position: relative;

                input[type="checkbox"]
                {
                    left: 10px;
                    -webkit-appearance: none;
                    width: 16px;
                    height: 16px;
                    border-radius: 3px;
                    background-color: $white;
                    border: 1px solid $primary;
                    cursor: pointer;
                    position: relative;

                    &:checked
                    {
                        background-color: $primary;

                        &::after
                        {
                            content: '';
                            position: absolute;
                            left: 4.5px;
                            width: 5px;
                            height: 10px;
                            border: solid $white;
                            border-width: 0 2px 2px 0;
                            transform: rotate(45deg);
                        }
                    }
                }

                .filters-wrapper
                {
                    padding-bottom: 6px;
                    display: flex;
                    gap: 20px;
                    white-space: nowrap;
                    align-items: center;
                    height: 39px;
                }

                .filter-text
                {
                    font-size: 13px;
                    position: relative;
                }
            }

            .list
            {
                height: calc(100% - 121px);
                width: 100%;

                .k-grid
                {
                    margin-top: 6px;

                    .actionColumn
                    {
                        border-left: none !important;
                    }

                    .k-grid-container
                    {
                        .k-grid-content
                        {
                            .k-grid-table-wrap
                            {
                                .k-grid-table
                                {
                                    .k-table-tbody
                                    {
                                        .k-table-row
                                        {
                                            height: 80px;

                                            .k-table-td
                                            {
                                                &.col-description
                                                {
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    display: -webkit-box;
                                                    -webkit-box-orient: vertical;
                                                    -webkit-line-clamp: 2;
                                                    line-height: 1.6;
                                                    max-height: 3em;
                                                }

                                                .outbound-name
                                                {
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    display: -webkit-box;
                                                    -webkit-box-orient: vertical;
                                                    -webkit-line-clamp: 1;
                                                    line-height: 1.5;
                                                    max-height: 1.5em;
                                                    color: $primary;
                                                    font-weight: bold;
                                                }

                                                &.outbound-status
                                                {
                                                    div
                                                    {
                                                        text-transform: uppercase;
                                                    }
                                                }

                                                .outbound-group
                                                {

                                                    display: flex;

                                                    &.outbound-staff
                                                    {
                                                        .content-content.group-b
                                                        {
                                                            font-weight: 700;
                                                        }

                                                        .content-label
                                                        {
                                                            width: 95px;
                                                        }
                                                    }

                                                    &.outbound-point
                                                    {
                                                        .group-label
                                                        {
                                                            width: 35px;
                                                        }
                                                    }

                                                    &.outbound-quantity
                                                    {
                                                        .group-label
                                                        {
                                                            width: 70px;
                                                        }
                                                    }

                                                    &.outbound-date
                                                    {}

                                                    .hightline
                                                    {}

                                                    .group-b
                                                    {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}