<div class="prt001">

  <!-- START: NAVIGATION-BAR -->
  <ps-toolbar-top>
    <ps-kendo-button [theme]="'primary'" (onClick)="createInventory()">
      tạo mới
    </ps-kendo-button>
  </ps-toolbar-top>
  <!-- END: NAVIGATION-BAR -->

  <!-- START: FILTER-BAR -->
  <div class="ps-filter-bar">
    <ps-filter-textbox [placeholder]="'Tìm kiếm dữ liệu kiểm kê'" [listField]="listfiltertext"
                       (onFilter)="textFilterChange($event)"></ps-filter-textbox>
    <ps-filter-status class="filter-bar" [clearDisabled]="isDisabledClear" [resetDisabled]="isDisabledReset"
                      [field]="'StatusID'" (statusChanged)="statusFilterChange($event)"
                      (statusClear)="statusFilterClear($event)" (statusReset)="statusFilterClear($event)"
                      [type]="LSStatusTypeDataEnum.INVENTORY"></ps-filter-status>
  </div>
  <!-- END: FILTER-BAR -->

  <!-- START: LIST -->
  <div class="list">
    <ps-kendo-grid [data]="data | async" actionColumnWidth="50" [actionColumnData]="actionColumn"
                   (btnActionFocus)="onActionColumnFocus($event)" [hasColumnAction]="true"
                   (actionSelected)="onActionClick($event)" (pageChanged)="onPageChanged($event)" [skip]="skip">

      <kendo-grid-column [width]="350" title="Kỳ kiểm kê">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="inventory-name">{{dataItem.InventoryName}}</div>
          <div class="inventory-group inventory-date">
            <div class="content-label group-b">Ngày bắt đầu</div>
            <div class="content-content group-b">: {{dataItem.FromDate |
              date:'dd/MM/yyyy'}}</div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="350" [class]="'col-description'" field="Description"
                         title="Mục tiêu kiểm kê"></kendo-grid-column>

      <kendo-grid-column [width]="350" title="Nhân sự kiểm kê">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="inventory-group inventory-staff">
            <div class="content-label">Chủ trì</div>:&nbsp;
            <div class="content-content group-b"> {{dataItem.OwnerName}}</div>
          </div>
          <div class="inventory-group inventory-staff">
            <div class="content-label">Nhân sự tham gia</div>:&nbsp;
            <div class="content-content"> {{dataItem.StaffJoinQty}} nhân
              sự</div>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="450" title="Điểm kiểm kê">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="inventory-group inventory-point">
            <div class="group-label">Địa điểm kiểm kê</div>:&nbsp;
            <div class="group-content group-b"
                 *ngIf="!(dataItem.FirstInvPointName == '' && dataItem.InvPointOtherQty < 0)">
              {{dataItem.FirstInvPointName}}
              {{dataItem.InvPointOtherQty > 0 ? (' + ' +
              dataItem.InvPointOtherQty + ' địa điểm khác') : '' }}
            </div>
            <div class="group-content" *ngIf="(dataItem.FirstInvPointName == '' && dataItem.InvPointOtherQty < 0)">
              Chưa có điểm kiểm tra
            </div>
          </div>
          <div class="inventory-group">
            <div class="group-label">Thời điểm kết thúc</div>:&nbsp;
            <div class="group-content hightline"> {{dataItem.ToDate | date:
              'dd/MM/yyyy'}}</div>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="120" [sticky]="true" [class]="'inventory-status'" title="Trạng thái">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [innerHTML]="{ Status: dataItem.StatusID, StatusName: dataItem.StatusName } | WHInventoryMasterStatus">
          </div>
        </ng-template>
      </kendo-grid-column>
    </ps-kendo-grid>
  </div>
  <!-- END: LIST -->
</div>

<!-- START: DELETE DIALOG -->
<ps-dialog-confirm [theme]="'error'" [open]="popupConfirmOpen">
  <div psDialogConfirmHeader>xoá kỳ kiểm kê</div>
  <div psDialogConfirmBody>
    <div class="main-title">
      <span>Bạn có chắc chắn muốn xoá kỳ kiểm kê</span>
      <br>
      <div class="hightline">{{masterdelete.InventoryName}}</div>
    </div>
    <div class="sub-title">
      Kỳ kiểm kê bị xoá sẽ <span>KHÔNG</span> thể phục hồi
    </div>
  </div>
  <div psDialogConfirmFooter>
    <ps-kendo-button (onClick)="popupConfirmOpen = !popupConfirmOpen">huỷ</ps-kendo-button>
    <ps-kendo-button (onClick)="DeleteInventoryMaster(masterdelete)" [theme]="'error'">xoá</ps-kendo-button>
  </div>
</ps-dialog-confirm>
<!-- END: DELETE DIALOG -->