@import "../../../../../assets/scss/colors";

::ng-deep
{
  prt001-inventory
  {
    ps-dialog-confirm
    {
      .main-title
      {
        text-align: center;

        .hightline
        {
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
        }
      }

      .sub-title
      {
        span
        {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    .prt001
    {
      padding: 0 10px 0 0;
      height: 100%;

      .ps-filter-bar
      {
        ps-filter-textbox
        {
          min-width: 265px;
        }

        ps-filter-status
        {
          .card-content-column
          {
            .col-3-4-container
            {
              .col-4
              {
                .status-btn
                {
                  min-width: 217px;
                  width: fit-content;
                }
              }
            }
          }
        }
      }

      .filter-bar
      {}

      .list
      {
        height: calc(100% - 121px);
        width: 100%;

        .k-grid
        {
          margin-top: 6px;

          .actionColumn
          {
            border-left: none !important;
          }

          .k-grid-container
          {
            .k-grid-content
            {
              .k-grid-table-wrap
              {
                .k-grid-table
                {
                  .k-table-tbody
                  {
                    .k-table-row
                    {
                      height: 50px;

                      .k-table-td
                      {
                        &.col-description
                        {
                          overflow: hidden;
                          text-overflow: ellipsis;
                          display: -webkit-box;
                          -webkit-box-orient: vertical;
                          -webkit-line-clamp: 2;
                          line-height: 1.6;
                          max-height: 3em;
                          word-break: break-word;
                        }

                        .inventory-name
                        {
                          overflow: hidden;
                          text-overflow: ellipsis;
                          display: -webkit-box;
                          -webkit-box-orient: vertical;
                          -webkit-line-clamp: 1;
                          line-height: 1.5;
                          max-height: 1.5em;
                        }

                        &.inventory-status
                        {
                          div
                          {
                            text-transform: uppercase;
                          }
                        }

                        .inventory-group
                        {
                          display: flex;

                          &.inventory-staff
                          {
                            .content-label
                            {
                              width: 110px;
                            }
                          }

                          &.inventory-point
                          {
                            .group-label
                            {
                              width: 110px;
                            }
                          }

                          &.inventory-date
                          {
                            div
                            {
                              color: $primary !important;
                            }
                          }

                          .hightline
                          {
                            color: $primary;
                          }

                          .group-b
                          {
                            font-weight: bold;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}