<kendo-drawer-container>
  <kendo-drawer #psKendoDrawerContainer mode="overlay" [width]="420" [position]="'end'" [autoCollapse]="false"
                [expanded]="expanded">
    <ng-template kendoDrawerTemplate>
      <div class="drawer-header">
        {{title}}
      </div>
      <div class="drawer-body">
        <div class="body-container">
          <ng-content select="[psKendoDrawerTemplate]"></ng-content>
        </div>
      </div>
      <div class="drawer-footer">
        <div class="close-drawer-button">
          <ps-kendo-button (onClick)="onCollapse()">đóng</ps-kendo-button>
        </div>
        <div class="group-drawer-button">
          <div class="group-button">
            <ng-content select="[psKendoDrawerFooterTemplate]"></ng-content>
          </div>
        </div>
      </div>
    </ng-template>
  </kendo-drawer>

  <kendo-drawer-content>
    <ng-content></ng-content>
  </kendo-drawer-content>
</kendo-drawer-container>