@import "../../../../../assets/scss/colors";

::ng-deep
{
    mtb-report
    {
        .k-label
        {
            font-size: 13px !important;
        }

        ps-kendo-dropdown-list
        {
            .k-list-item-text
            {
                font-size: 14px !important;
            }
        }

        ps-kendo-dropdown-button
        {
            .k-dropdown-button
            {
                background-color: $primary;
                border-radius: 5px;

                .k-link
                {
                    padding-left: 8px !important;
                }
            }
        }

        ps-kendo-dropdown-button .k-button-text
        {
            color: $white !important;
        }

        ps-dialog-confirm
        {
            .confirm-dialog
            {
                width: 400px !important;
                height: 280px !important;
            }

            .confirm-dialog-body
            {
                padding: 0 50px 0 50px !important;

                ps-kendo-textbox
                {
                    width: 100% !important;
                }

                ps-kendo-dropdown-list
                {
                    width: 100% !important;
                }

                .row-2
                {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 24px;

                    ps-kendo-dropdown-list
                    {
                        width: 40% !important;
                    }

                    .time
                    {
                        width: 60% !important;
                    }
                }

                .box-time
                {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    gap: 4px;

                    ps-kendo-dropdown-list
                    {
                        width: 100% !important;
                    }
                }
            }

            .confirm-dialog-footer
            {
                display: flex;
                justify-content: space-between !important;
                gap: 0px !important;
                padding-right: 0px !important;

                .cancel-button
                {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    align-items: center;

                    button
                    {
                        border: none !important;
                        width: 100%;
                        height: 100%;
                        padding: 0px !important;
                    }
                }

                .export-button
                {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;

                    button
                    {
                        border-radius: 0px !important;
                        width: 100%;
                        height: 100%;
                        padding: 0px !important;
                    }
                }
            }
        }

        .arrow-dropdown img
        {
            filter: brightness(10);
        }

        /* link trong ActionColumn menu */
        .k-link
        {
            width: 200px !important;
        }

        .k-group .k-item .k-link:active
        {
            background-color: $gray-light !important;
        }

        .mtb-report
        {
            width: 100%;
            height: 100%;
            padding-right: 10px;

            .ps-filter-bar
            {
                ps-filter-textbox
                {
                    .filter-textbox
                    {
                        ps-kendo-textbox
                        {
                            .kendo-textbox
                            {
                                min-width: 270px;
                            }
                        }
                    }
                }

                ps-kendo-dropdown-list
                {
                    min-width: 200px;
                }

                ps-kendo-dropdown-button .k-button-text
                {
                    color: $white !important;
                }
            }

            .list
            {
                height: calc(100% - 121px);
                width: 100%;

                .k-grid
                {
                    margin-top: 6px;

                    .hightline
                    {
                        color: $primary;
                        font-weight: bold !important;
                    }

                    .k-grid-container
                    {
                        .k-grid-content
                        {
                            .k-grid-table-wrap
                            {
                                .k-grid-table
                                {
                                    .k-table-tbody
                                    {
                                        .k-table-row
                                        {
                                            height: 50px;

                                            .k-table-td
                                            {

                                                .report-id,
                                                .report-name
                                                {
                                                    font-weight: bold;
                                                    color: $primary;
                                                }

                                                // &.col-description {
                                                //   overflow: hidden;
                                                //   text-overflow: ellipsis;
                                                //   display: -webkit-box;
                                                //   -webkit-box-orient: vertical;
                                                //   -webkit-line-clamp: 2;
                                                //   line-height: 1.6;
                                                //   max-height: 3em;
                                                // }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}