<!-- <div class="mtb025-sal-collection-contact"> -->
<!-- START: HEADER -->
<!-- <ps-header-back>
        <div class="left-side">
            <div class="func-title1">Tiếp nhận thông tin</div>
            <div class="func-title2">Thông tin liên hệ</div>
        </div>
        <div class="right-side">
            <div>
                No.: <span>{{orderDetail.ID}}</span>
            </div>
            <div #wrapper class="marquee-wrapper">
                <div #content class="marquee-content" (click)="onNavigate('/mtbike/collection/owner', orderDetail)">
                    {{orderDetail.CustomerName != null && orderDetail.CustomerName != undefined ?
                    orderDetail.CustomerName: ''}} -->
<!-- {{orderDetail.CustomerPhone}} -->
<!-- </div>
            </div>
        </div>
    </ps-header-back> -->
<!-- END: HEADER -->
<!-- <div class="retail-body">
        <div class="main-body">
            <ps-kendo-masked-textbox [label]="'Di động (*)'" [mask]="'000 000 0000'" [type]="'tel'"
                [(ngModel)]="cscustomer.Cellphone1" (blur)="onValueChange('Cellphone1')"
                [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment || FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed" />
            <div class="row-2">
                <ps-kendo-masked-textbox [label]="'Zalo'" [mask]="'000 000 0000'" [type]="'tel'"
                    (blur)="onValueChange('Zalo')" [(ngModel)]="cscustomer.Zalo"
                    [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed" />
                <ps-kendo-checkbox [label]="'Là số di động'" [id]="'iscellphone1'" (onchecked)="onchecked($event)"
                    [(ngModel)]="cscustomer.IsCellPhone"
                    [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed">
                </ps-kendo-checkbox>
            </div>
            <div class="row-3">
                <div class="timepicker">
                    <label>Thời gian KH có thể nghe máy</label>
                    <kendo-timepicker placeholder="HH:mm" format="HH:mm" [readOnlyInput]="true"
                        [(ngModel)]="cscustomer.FreeStartTime" (valueChange)="onValueChange('FreeStartTime')"
                        [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed">
                    </kendo-timepicker>
                </div>
                <kendo-timepicker class="time" placeholder="HH:mm" format="HH:mm" [readOnlyInput]="true"
                    [(ngModel)]="cscustomer.FreeEndTime" (valueChange)="onValueChange('FreeEndTime')"
                    [min]="cscustomer.FreeStartTime"
                    [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed || !cscustomer.FreeStartTime">
                </kendo-timepicker>
                <ps-kendo-dropdown-list [data]="listtype" [textField]="'ListName'" [valueField]="'OrderBy'"
                    [valuePrimitive]="true" [(ngModel)]="cscustomer.FreeTimeType"
                    (valueChange)="onValueChange('FreeTimeType')"
                    [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment || !cscustomer.FreeStartTime || !cscustomer.FreeEndTime || FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed">
                </ps-kendo-dropdown-list>
            </div>
            <ps-kendo-textbox [label]="'Email'" [(ngModel)]="cscustomer.Email" (blur)="onValueChange('Email')"
                [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed">
            </ps-kendo-textbox>
            <ps-kendo-dropdown-list [label]="'Nghề nghiệp'" [data]="listjob" [(ngModel)]="cscustomer.Occupation"
                [textField]="'ListName'" [valueField]="'Code'" (valueChange)="onValueChange('Occupation')"
                [valuePrimitive]="true"
                [disabled]="orderDetail.Status > SALOrderDetailStatusEnum.RePayment ||FunctionPermissionDTO.approver  || orderDetail.Status == SALOrderDetailStatusEnum.Canceled || orderDetail.Status == SALOrderDetailStatusEnum.Completed">
            </ps-kendo-dropdown-list>
        </div>
    </div> -->
<!-- START: FOOTER -->
<!-- <ps-footer-action>
        <ps-kendo-button (onClick)="onNavigate('/mtbike/collection/owner', orderDetail)">
            <span class="material-icons">arrow_back</span>
        </ps-kendo-button>
        <ps-kendo-button (onClick)="onNavigate('to-list', orderDetail)">
            <span class="material-icons">list_alt</span>
        </ps-kendo-button>
        <ps-kendo-button [theme]="'primary'" (onClick)="onNavigate('/mtbike/collection/other', orderDetail)">
            Tiếp tục
        </ps-kendo-button>
    </ps-footer-action> -->
<!-- END: FOOTER -->
<!-- </div> -->