<div class="prt006">
  <!-- NAVIGATION BAR -->
  <ps-toolbar-top>
    <ps-kendo-dropdown-button class="dropdown-primary" [data]="outboundTypeList" textField="text"
                              (itemClick)="createOutbound($event)">
      TẠO MỚI
    </ps-kendo-dropdown-button>
  </ps-toolbar-top>

  <!-- START: FILTER-BAR -->
  <div class="ps-filter-bar">
    <ps-filter-textbox [placeholder]="'Tìm kiếm dữ liệu xuất hàng'" [listField]="listfiltertext"
                       (onFilter)="textFilterChange($event)">
    </ps-filter-textbox>
    <div class="io-type-container">
      <kendo-label text="Cách xuất hàng"></kendo-label>

      <ps-kendo-dropdown-list class="filter-iotype" [data]="typeMasterList" textField="text" valueField="id"
                              [valuePrimitive]="true" [(ngModel)]="selectedTypeId"
                              (valueChange)="onIOMasterTypeSelect($event)">
      </ps-kendo-dropdown-list>
    </div>
    <ps-filter-status class="filter-bar" [field]="'Status'" [type]="LSStatusTypeDataEnum.IO"
                      [clearDisabled]="isDisabledClear" [resetDisabled]="isDisabledReset"
                      (statusChanged)="statusFilterChange($event)" (statusClear)="statusFilterClear($event)"
                      (statusReset)="statusFilterClear($event, 'reset')">
    </ps-filter-status>
  </div>
  <!-- END: FILTER-BAR -->

  <!-- LIST -->
  <div class="list">
    <ps-kendo-grid [data]="data | async" [actionColumnWidth]="50" [actionColumnData]="actionColumn"
                   (btnActionFocus)="onActionColumnFocus($event)" [hasColumnAction]="true"
                   (actionSelected)="onActionClick($event)" (pageChanged)="onPageChanged($event)" [skip]="skip">

      <kendo-grid-column [width]="250" title="Phiếu xuất hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="outbound-name">{{ dataItem.DocumentID }}</div>
          <div class="outbound-group outbound-date" *ngIf="dataItem.CreatedTime">
            <div class="content-label group-b">Ngày lập</div>
            <div class="content-content group-b">
              : {{ dataItem.CreatedTime | date:'dd/MM/yyyy' }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="220" title="Loại phiếu nhập hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="type-name">{{ dataItem.TypeOfMasterName }}</div>
          <div class="type-ref" *ngIf="dataItem.RefDocumentID">
            Ref.&nbsp;|&nbsp;{{ dataItem.RefDocumentID }}
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column [width]="300" title="Đơn vị">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="outbound-group outbound-staff" *ngIf="dataItem.OutWHName">
            <div class="content-label">Kho xuất</div>:&nbsp;
            <div class="content-content group-b">
              {{ dataItem.OutWHName }}
            </div>
          </div>
          <div class="outbound-group outbound-staff" *ngIf="dataItem.InHeadName">
            <div class="content-label">Đơn vị nhập</div>:&nbsp;
            <div class="content-content">
              {{ dataItem.InHeadName }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="150" title="Số lượng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="outbound-group outbound-quantity" *ngIf="dataItem.TotalSKU">
            <span class="group-label">SKU</span>:
            <span class="group-content">&nbsp;{{ dataItem.TotalSKU }}</span>
          </div>
          <div class="outbound-group outbound-quantity" *ngIf="dataItem.TotalQuantity">
            <span class="group-label">Số lượng</span>:
            <span class="group-content">&nbsp;{{ dataItem.TotalQuantity
              }}</span>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="200" title="Thời gian">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="outbound-group outbound-point" *ngIf="dataItem.SentTime">
            <div class="group-label">Gửi</div>:&nbsp;
            <div class="group-content group-b">
              {{ dataItem.SentTime | date:'dd/MM/yyyy HH:mm' }}
            </div>
          </div>
          <div class="outbound-group outbound-point" *ngIf="dataItem.ReceiveTime">
            <div class="group-label">xuất</div>:&nbsp;
            <div class="group-content hightline">
              {{ dataItem.ReceiveTime | date:'dd/MM/yyyy HH:mm' }}
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="400" field="Description" title="Diễn giải" class="col-description">
      </kendo-grid-column>

      <kendo-grid-column [width]="140" [sticky]="true" class="outbound-status">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [innerHTML]="{ Status: dataItem.Status, StatusName: dataItem.StatusName } | WHIOMasterStatus">
          </div>
        </ng-template>
      </kendo-grid-column>
    </ps-kendo-grid>
  </div>

  <!-- DELETE DIALOG -->
  <ps-dialog-confirm theme="error" [open]="popupConfirmOpen">
    <div psDialogConfirmHeader>xoá phiếu xuất</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phiếu</span><br />
        <div class="hightline">{{ deleteItem?.DocumentID }}</div>
      </div>
      <div class="sub-title">
        Phiếu bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button class="cancel-button" (onClick)="popupConfirmOpen = false">huỷ</ps-kendo-button>
      <ps-kendo-button theme="error" (onClick)="DeleteIOMaster([deleteItem!])">
        xoá
      </ps-kendo-button>
    </div>
  </ps-dialog-confirm>

  <!-- START: DIALOG PENDING DIALOG -->
  <ps-dialog-confirm [theme]="'warning'" [open]="pendingConfirmOpen">
    <div psDialogConfirmHeader>xác nhận xuất hàng</div>
    <div psDialogConfirmBody>
      <div class="main-title main-title-done">
        <div class="done">
          Có &nbsp;<div class="hightline">{{pendingItem?.TotalConfirmSKUNotEqual}} phụ
            tùng chênh lệch</div>
        </div>
        <div>so với số lượng đề nghị</div>
      </div>
      <div class="sub-title">
        Bạn có chắc chắn muốn xác nhận giao hàng?
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="pendingConfirmOpen = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="confirmPending()" [theme]="'warning'">
        xác nhận
      </ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DIALOG DONE DIALOG -->
</div>