<div class="mtb032-sal-payment-total">
    <!-- START: HEADER -->
    <ps-header-back>
        <div class="left-side">
            <div class="func-title1">Thanh toán bán hàng</div>
            <div class="func-title2">Chi tiết hoá đơn</div>
        </div>
        <div class="right-side">
            <div class="invoice-line">
                <span class="label">Số HĐ:</span>

                <div #wrapper class="marquee-wrapper">
                    <span class="marquee-content" #content>
                        {{ invoice.InvoiceNo }}
                    </span>
                </div>
            </div>
        </div>

    </ps-header-back>
    <!-- END: HEADER -->

    <main>
        <!-- ngfor chỗ này -->
        <div class="list-item" *ngFor="let item of listInvoice">
            <span class="item" *ngIf="item.TypeOfVehicleName">{{item.TypeOfVehicleName}} | {{item.VehicleName}} |
                {{item.VehicleColorName}}</span>

            <div class="item-group">
                <hr *ngIf="item.TypeOfVehicleName" class="mt-2 mb-1">

                <div class="group-detail">
                    <div class="detail-info" *ngIf="item.VehiclePrice">
                        <div class="main-info">Giá xe (chưa VAT):</div>
                        <div class="sub-info">{{ item.VehiclePrice | number}}₫</div>
                    </div>
                    <div class="detail-info" *ngIf="item.VATAmount">
                        <div class="main-info">VAT ({{item.VAT}}%):</div>
                        <div class="sub-info">{{ item.VATAmount | number}}₫</div>
                    </div>
                </div>
            </div>

            <!-- dịch vụ -->
            <div class="item-group" *ngIf="item.ListService.length">
                <hr *ngIf="item.VehiclePrice || item.VATAmount" class="mt-2  mb-1">
                <div class="group-detail">
                    <!-- ngfor chỗ này -->
                    <div class="detail-info" *ngFor="let service of item.ListService; let i = index">
                        <div class="main-info">{{i + 1}}. {{service.ServiceName}}</div>
                        <div class="sub-info">{{ service.Price | number}}₫</div>
                    </div>
                </div>
            </div>

            <!-- phụ tùng -->
            <div class="item-group" *ngIf="item.ListPart.length">
                <hr *ngIf="item.ListService.length || (item.VehiclePrice || item.VATAmount)" class="mt-2  mb-1">
                <div class="group-detail">
                    <div class="detail-info" *ngFor="let part of item.ListPart; let i = index">
                        <div class="main-info">{{i + 1}}. {{part.TypeOfPartName}}</div>
                        <div class="sub-info">{{ part.UnitPrice * part.Quantity | number}}₫</div>
                    </div>
                </div>
            </div>

            <!-- giảm giá -->
            <div class="item-group" *ngIf="item.DiscountAmount">
                <hr *ngIf="item.ListPart.length || item.ListService.length || item.VehiclePrice || item.VATAmount" class="mt-2 mb-1">
                <div class="group-detail">
                    <div class="detail-info detail-discount">
                        <div class="main-info">Giảm giá (Khuyến mãi):</div>
                        <div class="sub-info">{{ item.DiscountAmount | number}}₫</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="total" *ngIf="listInvoice.length > 0">
            <div>tổng thanh toán</div>
            <div>{{ (listInvoice[0].TotalPayment) | number }} ₫</div>
        </div>
    </main>

    <!-- START: FOOTER -->
    <ps-footer-action>
        <ps-kendo-button (onClick)="onNavigate('/mtbike/payment/selection')">
            <span class="material-icons">arrow_back</span>
        </ps-kendo-button>
        <ps-kendo-button (onClick)="onNavigate('to-list')">
            <span class="material-icons">list_alt</span>
        </ps-kendo-button>
        <ps-kendo-button [theme]="'primary'" (onClick)="onNavigate('/mtbike/payment/invoice')">
            Tiếp tục
        </ps-kendo-button>
    </ps-footer-action>
    <!-- END: FOOTER -->

</div>
