<div class="custom-multiselect-wrapper">
  <kendo-label *ngIf="label != ''" class="k-display-block" [for]="multi" [text]="label"></kendo-label>
  <kendo-multiselect #multi [data]="filteredItems" placeholder="{{placeholder}}" [filterable]="filterable"
                     [clearButton]="false" (blur)="onBlur()" (focus)="onFocus()" [textField]="textField"
                     [valueField]="valueField" (valueChange)="onValueChange($event)" class="underline-multiselect"
                     [popupSettings]="{ appendTo: 'component' }" [(ngModel)]="value" [disabled]="disabled"
                     (removeTag)="onRemoveTag($event)" (filterChange)="onFilterChange($event)">
  </kendo-multiselect>
  <span class="k-icon k-font-icon k-i-search my-icon"></span>
</div>