@import "../../../../../../src/assets/scss/colors";

::ng-deep {
  prt005-inbound-detail {
    ps-dialog-confirm {
      .main-title {
        text-align: center;

        .hightline {
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
        }
      }

      .sub-title {
        span {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    label {
      line-height: 1;
    }

    font-size: 13px;

    .body-container {
      overflow: hidden;
      height: 100%;

      .breadcrum {
        padding-right: 10px;
        height: 45px;

        .top-action {
          display: flex;
          gap: 10px;
        }
      }

      .body {
        height: calc(100% - 35px);
        white-space: nowrap;
        overflow-y: auto;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;
        // margin-top: 5px;

        // BLOCK 1
        .body-head {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          h1 {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            color: $secondary;
            margin: 0;

            span {
              color: $primary;
              font-style: normal;
              font-size: 13px;
              font-weight: bold;
            }
          }

          .open-close {
            font-size: 10px;
            font-style: italic;
            color: $info;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }

        .block-1,
        .block-2 {
          overflow-x: auto;
          display: flex;
          padding: 10px 10px 0 10px;
          background: $white;
          border-radius: 15px;
          margin-top: 5px;

          .block-1-content,
          .block-2-content {
            .receipt {
              display: block;
              // width: calc(50% - 5px);

              .k-input-solid {

                // background-color: #979b9b20;
                .k-input-inner {
                  font-weight: bold;
                  color: $primary;
                }
              }

              &.readonly-mode {
                kendo-textbox {
                  pointer-events: none;
                  border: none !important;
                }
              }

              // &.disable-block {
              //   kendo-textbox {
              //     pointer-events: none;
              //     background: #979b9b20;
              //   }
              // }
            }

            width: 100%;
            padding-bottom: 10px;
            display: flex;
            overflow-x: auto;
            gap: 50px;

            .content-col-1 {
              min-width: 250px;
              width: 25%;
              display: flex;
              flex-direction: column;
              gap: 15px;


              .datepicker {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 5px;

                kendo-datepicker {
                  height: 35px;
                  border-color: $border;
                  border-radius: 5px;
                  padding-left: 15px;

                  input {
                    font-size: 13px;
                    color: $secondary;
                    font-weight: 400;
                  }

                  button {
                    background: $white;
                  }

                  &.disable-block {
                    background: $disable-input;
                    pointer-events: none;

                    button {
                      background: $disable-input;
                    }
                  }

                  &.readonly-mode {
                    border: none;
                    pointer-events: none;

                    button {
                      display: none;
                    }
                  }
                }

                .k-disabled {
                  border-color: $border;
                  background-color: $disable-input;
                  opacity: 1;

                  .k-input-button {
                    border-left: none;
                    background-color: transparent;
                  }
                }

                .status {
                  margin-top: 5px;
                }
              }

              .state {
                span {
                  margin-left: 15px;
                  color: $warning;
                  text-transform: uppercase;
                  font-weight: bold;
                }
              }
            }

            .content-col-2 {
              // width: calc(75% - 50px);
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .col-2-row-1 {
                width: 100%;
                display: flex;
                gap: 10px;

                .other-tab {
                  display: flex;
                  gap: 10px;

                  .interpretation kendo-textbox {
                    width: 100%;
                  }
                }

                .search-supplier {
                  width: 100%;
                  min-width: max-content;
                  position: relative;

                  .outputunit {
                    width: calc(100% / 3);
                  }

                  .outputunit-storage {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .storage,
                    .outputunit {
                      min-width: 250px;
                      width: calc(100% / 3);
                      // flex: 1;

                      &.disable-block {
                        kendo-dropdownlist {
                          pointer-events: none;
                          background-color: $disable-input;
                        }
                      }
                    }
                  }

                  .supplier-textbox {
                    flex: 1;

                    kendo-autocomplete {
                      span {
                        display: none;
                      }
                    }
                  }

                  .k-i-zoom {
                    position: absolute;
                    right: 10px;
                    top: 27px;
                  }
                }

                .reference-number {
                  min-width: 250px;
                  flex: 1;

                  .k-input-inner {
                    color: $primary;
                  }

                  @media screen and (max-width: 1220px) {
                    min-width: 250px;
                    flex: 1;
                  }

                  &.readonly-mode {
                    kendo-textbox {
                      pointer-events: none;
                      border: none !important;
                    }
                  }
                }
              }

              .interpretation {
                width: 100%;

                kendo-textbox {
                  min-width: 770px;
                }

                &.readonly-mode {
                  kendo-textbox {
                    pointer-events: none;
                    border: none !important;
                  }
                }

                // &.disable-block {
                //   kendo-textbox {
                //     pointer-events: none;
                //     background-color: $disable-input;
                //   }
                // }
              }

              .interpretation2 {
                width: calc(100% / 3 * 2);

                kendo-textbox {
                  min-width: 250px;
                  width: 400px;
                }
              }

              .owner-receiver {
                display: flex;
                gap: 40px;

                .log-status {
                  display: flex;
                  flex-direction: column;
                  gap: 5px;

                  .name {
                    margin-left: 15px;
                    height: 35px;
                    display: flex;
                    align-items: center;
                  }
                }
              }
            }
          }
        }

        // BLOCK 2
        .head-2 {}

        .block-2-container {
          height: calc(100% - 25px);
        }

        .block-2 {
          position: relative;
          height: 100%;
          margin-top: 5px;
          padding: 10px 10px 0px 10px !important;
          background: $white;
          border-radius: 15px;
          display: flex;
          overflow: hidden;


          .block-2-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px !important;

            .block-2-row-1 {
              width: 100%;
              display: flex;
              justify-content: space-between;

              .filter-textbox {
                ps-kendo-textbox {
                  width: 250px;

                  .k-display-block {
                    display: none;
                  }
                }

                ps-kendo-button {
                  margin-top: 0;
                }
              }

              .group-btn {
                display: flex;
                gap: 10px;
              }
            }

            .grid {
              height: 100%;
              width: 100%;
              max-width: 100%;
              overflow-x: auto;

              thead {

                th:nth-of-type(3),
                th:nth-of-type(4),
                th:nth-of-type(5) {
                  span {
                    justify-content: flex-end;
                  }
                }
              }

              td {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;

                .kendo-textbox {
                  height: 25px;
                }
              }

              .barcode-col {
                div {
                  color: $primary;
                  font-weight: bold;
                }
              }

              .sldn-col,
              .slxn-col,
              .sln-col {
                text-align: right;

                input[type="number"]::-webkit-outer-spin-button,
                input[type="number"]::-webkit-inner-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }

                input {
                  text-align: right;
                  padding-right: 10px;
                  border-radius: 5px;
                  border: 1px solid $primary;
                  width: 100%;

                  &:focus-visible {
                    outline-offset: 999999px;
                  }
                }

                div {
                  span {
                    color: $info;

                    &.disable-text {
                      color: $black-color;
                    }
                  }
                }
              }

              .des-col {
                input {
                  padding-right: 10px;
                  border-radius: 5px;
                  border: 1px solid $primary;
                  width: 100%;

                  &:focus-visible {
                    outline-offset: 999999px;
                  }
                }

                span {
                  color: $info;

                  &.disable-text {
                    color: $black-color;
                  }
                }
              }

              .delete-col {
                // position: sticky;
                // right: 0;
                // background: $white;
                // border-left: 1px solid #979b9b !important;

                div {
                  text-align: center;

                  span {
                    font-size: 20px;
                    color: $red;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}