<kendo-drawer-container class="sub-layout">
  <kendo-drawer #main_layout_drawer class="layout-drawer" [ngClass]="{'layout-drawer-scroll' : isScroll}" [items]="data"
    [width]="260" [miniWidth]="80" [mode]="drawermode" [mini]="true" [(expanded)]="drawerexpanded"
    [autoCollapse]="false" [isItemExpanded]="isItemExpanded" (select)="onSelect($event)">

    <ng-template kendoDrawerItemTemplate let-item let-level="level" let-hasChildren="hasChildren"
      let-isItemExpanded="isItemExpanded">
      <div class="drawer-item" #anchor (click)="onClick(item)" [ngClass]="{
                    'drawer-item-expanded':  isItemExpanded && hasChildren, 
                    'item-child': item.parentId != null }">
        <div class="item-tab" *ngIf="level == 1"></div>
        <div class="item-icon" [title]="item.text">
          <span class="k-icon k-font-icon" *ngIf="item.iconClass != null" [ngClass]="item.iconClass"></span>
          <span class="material-icons" *ngIf="item.icon != null">{{item.icon}}</span>
          <img *ngIf="item.imageUrl != null" class="icon-image" src="{{item.imageUrl}}" alt="">
        </div>
        <div class="item-text mulish w-600">{{item.text}}</div>
        <span *ngIf="hasChildren" class="item-dropdown material-icons">
          {{isItemExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
        </span>
      </div>
    </ng-template>
  </kendo-drawer>

  <kendo-drawer-content class="layout-content">
    <div class="content-container">
      <div class="container-sub">
        <div class="sub">
          <ng-content></ng-content>

          <div class="mtb-015">
            <!-- START: OVERLAY -->
            <div class="k-overlay" *ngIf="isOpenedLookup"></div>
            <!-- START: OVERLAY -->
            <ps-dialog-confirm [theme]="'primary'" class="overlay-popup" *ngIf="isOpenedLookup">
              <div psDialogConfirmHeader class="popup-header">tra cứu tồn xe</div>
              <!-- START: MIDDLE CONTENT -->
              <div psDialogConfirmBody class="middle-content">
                <!-- START: FILTER-BAR -->
                <div class="ps-filter-bar">
                  <div class="bar-dropdown">
                    <!-- DROPDOWN DÒNG XE -->
                    <ps-kendo-dropdown-list [data]="listTypeOfVehicle" [label]="'Dòng xe'" [textField]="'TypeOfVehicle'"
                      [valueField]="'Code'" (selectChange)="onFieldChange('typevehivle', $event)"
                      [(ngModel)]="selectedTypeOfVehicle">
                    </ps-kendo-dropdown-list>
                    <!-- DROPDOWN LOẠI XE -->
                    <ps-kendo-dropdown-list [data]="listVehicle" [label]="'Loại xe'" [textField]="'VehicleName'"
                      [valueField]="'Code'" (selectChange)="onFieldChange('vehivle', $event)"
                      [(ngModel)]="selectedVehicle" [disabled]="selectedTypeOfVehicle.Code == null">
                    </ps-kendo-dropdown-list>
                    <!-- DROPDOWN MÀU XE -->
                    <ps-kendo-dropdown-list [data]="listcolor" [label]="'Màu xe'" [textField]="'ColorName'"
                      [valueField]="'Code'" (selectChange)="onFieldChange('color', $event)"
                      [(ngModel)]="selectedColorVehicle" [disabled]="selectedVehicle.Code == null">
                    </ps-kendo-dropdown-list>
                    <div class="dropdown-button">
                      <ps-kendo-button [icon]="'search'" [theme]="'primary'" (onClick)="onLoopUp()"
                        [disabled]="selectedColorVehicle.Code == null">Tra
                        cứu</ps-kendo-button>
                    </div>
                  </div>
                </div>
                <!-- END: FILTER-BAR -->

                <!-- START: MAIN-CONTENT -->
                <div class="main-content">
                  <div class="main-column-1">
                    <div class="column-1-color">
                      <span>{{vehiclecolor.ColorName}}</span>
                      <img *ngIf="listStock.length" class="color-img" [src]="vehiclecolor.ColorCode" alt="">
                    </div>
                    <img class="vehicle-img" [src]="vehiclecolor.ImageSetting1" alt="">
                    <span class="price">Giá bán lẻ | <span>{{ vehiclecolor.Price | number }}₫</span>
                    </span>
                  </div>
                  <div *ngIf="listStock.length" class="main-column-2">
                    <span class="column-2-title">tồn kho cửa hàng</span>
                    <div class="list-store-container">

                      <div *ngFor="let item of listStock" class="list-store">
                        <span [class.text-red]="!item.StockQuanlity" [class.normalfont]="item.Code !== headCode">{{
                          item.BriefName }}</span>
                        <span [class.text-red]="!item.StockQuanlity" [class.normalfont]="item.Code !== headCode">{{
                          item.StockQuanlity }}</span>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
              <!-- END: MAIN-CONTENT -->
              <!-- END: MIDDLE CONTENT -->
              <div psDialogConfirmFooter class="popup-footer" (click)="closePopup()">đóng</div>
            </ps-dialog-confirm>
          </div>
        </div>
      </div>
    </div>
    <div class="content-loader" *ngIf="(subLoader.loader$ | async)">
      <div class="k-overlay"></div>
      <kendo-loader [type]="'converging-spinner'" [themeColor]="'secondary'"></kendo-loader>
    </div>
  </kendo-drawer-content>
</kendo-drawer-container>