<div class="mtb017-sal-warehouse">
    <!-- START: HEADER -->
    <ps-header-back>
        <div class="left-side">
            <div class="func-title1">Kho bán lẻ</div>
            <div class="func-title2">Phiếu xuất hàng</div>
        </div>
    </ps-header-back>
    <!-- END: HEADER -->

    <!-- START: BODY -->
    <div class="body">
        <div class="action-tabs">
            <div class="tab" *ngFor="let itemtab of actiontabs" [class.active]="type === itemtab.type"
                 (click)="onchangeactiontab(itemtab.type)">
                {{itemtab.text}}
            </div>
        </div>

        <div class="body-list" #bodyList>
            <!-- list -->
            <div class="item white" *ngFor="let detailitem of listdetailwarehouse" (click)="onclickitem(detailitem)">
                <div class="left">
                    <div class="salestaff-name">
                        No.:
                        <span class="retail-no"> {{detailitem.ID}} </span>
                        <span class="salestaff" *ngIf="detailitem.SaleStaffName">
                            |
                            <span>NVBH: </span>
                            {{detailitem.SaleStaffName}}
                        </span>
                    </div>
                    <div class="vehicle">
                        Xe:&nbsp;
                        <span class="vehicle-hightline">{{ detailitem.VehicleName }}&nbsp;</span>
                        | Màu:
                        <span class="vehicle-hightline">&nbsp;{{ detailitem.VehicleColorName }}</span>
                    </div>
                </div>
                <div class="right" *ngIf="detailitem.TransferCSVehicle"
                     [innerHTML]="{Status: typ2e, StatusName: 'Đã điều chuyển'} | SALOrderDetailStatus">
                </div>
            </div>

            <!-- sentinel -->
            <div #anchor></div>
        </div>
    </div>
    <!-- END: BODY -->

    <!-- START: FOOTER -->
    <ps-footer-action>
        <ps-kendo-button (onClick)="onnavigate('/menu')">
            <span class="material-icons">arrow_back</span>
        </ps-kendo-button>

        <ps-kendo-button (onClick)="openfilterpopup(true)">
            <span class="material-icons">search</span>
        </ps-kendo-button>
    </ps-footer-action>
    <!-- END: FOOTER -->

    <!-- START: SEARCH -->
    <!-- <div class="k-overlay" *ngIf="isopenedfilter" (click)="openfilterpopup(false)"></div>
    <div class="filter-popup" [class.open]="isopenedfilter">
        <div class="popup-header">
            <div class="header-filter">
                <span>TÌM KIẾM PHIẾU XUẤT HÀNG</span>
            </div>
        </div>
        <div class="popup-body">
            <div class="body-top">
                <ps-kendo-textbox [label]="'Tra cứu phiếu xuất hàng'"
                    [placeholder]="'Tìm theo mã phiếu, tên xe, màu xe, tên nhân viên bán hàng'" [(ngModel)]="searchKeyword">
                </ps-kendo-textbox>
            </div>
            <div class="body-bottom">
                <ps-kendo-button [theme]="'primary-outline'" (click)="openfilterpopup(false)">quay về</ps-kendo-button>
                <ps-kendo-button [theme]="'primary'" (onClick)="onsearchtask()">tìm</ps-kendo-button>
            </div>
        </div>
    </div> -->
    <ps-dialog-confirm-bottom [open]="isopenedfilter" [title]="'tìm kiếm phiếu xuất hàng'" (close)="openfilterpopup(false)">
        <div psDialogConfirmBottomBody>
            <div class="body-top">
                <ps-kendo-textbox [label]="'Tra cứu phiếu xuất hàng'"
                                  [placeholder]="'Tìm theo mã phiếu, tên xe, màu xe, tên nhân viên bán hàng'" [(ngModel)]="searchKeyword">
                </ps-kendo-textbox>
            </div>
        </div>
        <div psDialogConfirmBottomFooter>
            <ps-kendo-button [theme]="''" (click)="openfilterpopup(false)">quay về</ps-kendo-button>
            <ps-kendo-button [theme]="'primary'" (onClick)="onsearchtask()">tìm</ps-kendo-button>
        </div>
    </ps-dialog-confirm-bottom>
    <!-- END: SEARCH -->
</div>