@import "../../../../../assets/scss/colors";

::ng-deep {
  prt010-type-detail {
    .main-title {
      text-align: center;

      .hightline {
        font-weight: 700;
        font-size: 16px;
        line-height: 1;
        color: $primary;
      }
    }

    font-size: 13px;
    height: 100%;

    .prt010-type-detail {
      height: 100%;
    }

    .body-container {
      overflow: hidden;
      height: 100%;

      .breadcrum {
        padding-right: 10px;
        height: 45px;

        .top-action {
          display: flex;
          gap: 10px;
        }
      }

      .block-detail-container {
        height: calc(100% - 25px);
      }

      .body {
        height: calc(100% - 35px);
        overflow-y: auto;
        padding-right: 10px;
        white-space: nowrap;

        .body-head {
          display: flex;
          justify-content: space-between;
          margin-top: 15px;

          h1 {
            text-transform: uppercase;
            font-size: 13px;
            font-weight: bold;
            color: $secondary;
            margin: 0;
          }

          .category-name {
            &.view-text {
              color: $primary;
            }

            &.edit-text {
              color: $info !important;
            }
          }

          .open-close {
            font-size: 10px;
            font-style: italic;
            color: $info;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }

        kendo-textarea {
          height: 100% !important;
          max-height: 100% !important;
        }

        ps-kendo-textarea.input-textarea {
          width: 100% !important;
          height: 100% !important;
          display: flex;
          flex-direction: column;

          .kendo-textarea {
            width: 100% !important;
            height: 100% !important;
            display: flex;
            flex-direction: column;
          }

          kendo-textarea[style] {
            width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            min-height: 100% !important;
            display: flex !important;
            flex-direction: column !important;
          }

          kendo-textarea[style] textarea {
            width: 100% !important;
            height: 100% !important;
            max-height: 100% !important;
            min-height: 100% !important;
            flex: 1;
          }

          kendo-label,
          label {
            width: 100% !important;
          }
        }

        .content-col-2,
        .datepicker {
          height: 100%;
          width: 100%;
        }

        .block-1 {
          display: flex;
          background: $white;
          border-radius: 15px;
          padding: 10px;
          margin-top: 5px;

          .block-1-content {
            display: flex;
            width: 100%;
            gap: 50px;

            .content-col-1 {
              min-width: 250px;
              width: 25%;
              display: flex;
              flex-direction: column;
              gap: 15px;
            }

            .content-col-2 {
              flex: 1;
              display: flex;

              ps-kendo-textarea {
                width: 100%;
                height: 100%;

                .k-textarea {
                  flex: 1;
                  min-height: auto !important;
                  height: auto !important;
                }
              }
            }
          }
        }
      }
    }

    [disabled] .category-name {
      pointer-events: none;
      opacity: 0.6;
    }

    .content-col-2.collapsed {
      height: 53px !important;
      min-height: 53px !important;
      max-height: 53px !important;
    }

    .placeholder-text {
      color: $secondary !important;
      font-style: italic;
    }

    ps-dialog-confirm {
      .main-title {
        text-align: center;

        .hightlight {
          display: block;
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
          margin-top: 4px;
        }
      }

      .sub-title {
        text-align: center;
        margin-top: 6px;

        span {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    /* ------------------------------
   BẮT ĐẦU TỪ .block-detail
   ------------------------------ */
    .block-detail {
      position: relative;
      height: 100%;
      margin-top: 5px;
      padding: 10px 10px 0px 10px !important;
      background: $white;
      border-radius: 15px;
      display: flex;
      overflow: hidden;

      .add-btn {
        padding: 0;
        z-index: 99;
        font-weight: bold;
        position: absolute;
        color: $primary;
        height: 32.15px;
        top: 35px;
        border: none;
        background: $white;
        width: calc(100% - 20px);
        cursor: pointer;

        &:hover {
          background: $green-100;
        }
      }

      ps-kendo-grid {
        kendo-grid {
          .k-grid-aria-root {

            kendo-grid-list {
              margin-top: 30px !important;

              .k-grid-content {
                .k-grid-table-wrap {
                  .k-grid-table {
                    colgroup {}

                    tbody {
                      tr {
                        td {
                          height: 22.15px;

                          div {
                            .category-name {
                              &.edit-text {
                                color: $info;
                              }
                            }
                          }
                        }

                        .delete-col {
                          text-align: center;
                          border-left: 1px solid $black !important;

                          span {
                            color: $error;
                            cursor: pointer;

                            &:hover {
                              filter: brightness(1.1);
                            }

                            &.disable-trash {
                              pointer-events: none;
                              opacity: 0.5;
                            }
                          }
                        }

                        .part-group-col,
                        .description-col {
                          div {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;

                            input::-webkit-outer-spin-button,
                            input::-webkit-inner-spin-button {
                              -webkit-appearance: none;
                              margin: 0;
                            }

                            input {
                              padding-right: 10px;
                              border-radius: 5px;
                              border: 1px solid $primary;
                              width: 100%;

                              &:focus-visible {
                                outline-offset: 999999px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .block-detail.no-add-btn {
      ps-kendo-grid {
        kendo-grid {
          .k-grid-aria-root {
            kendo-grid-list {
              margin-top: 0 !important;
            }
          }
        }
      }
    }
  }
}