@import '../../../../../assets/scss/colors';

::ng-deep
{
    ps-toolbar-top
    {
        .toolbar
        {
            height: 45px;
            border-bottom: 1px solid $border;
            padding-bottom: 10px;

            .toolbar-top
            {
                height: 35px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                overflow: hidden;
                gap: 50px;

                .top-breadcrumb
                {
                    width: fit-content;

                    .k-breadcrumb
                    {
                        background-color: transparent;

                        .k-breadcrumb-container
                        {
                            .k-breadcrumb-item
                            {
                                .k-disabled
                                {
                                    opacity: 1;
                                }

                                &.k-breadcrumb-last-item
                                {
                                    .k-breadcrumb-link
                                    {
                                        opacity: 1;

                                        .k-breadcrumb-item-text
                                        {
                                            color: $info;
                                        }
                                    }
                                }

                                .k-breadcrumb-root-link,
                                .k-breadcrumb-icon-link,
                                .k-breadcrumb-link
                                {
                                    padding: 0 10px;

                                    &:focus
                                    {
                                        box-shadow: none;
                                    }

                                    &:hover
                                    {
                                        background-color: transparent;

                                        .k-icon-wrapper-host .k-icon,
                                        .k-breadcrumb-item-text
                                        {
                                            color: $info;
                                        }
                                    }

                                    .k-icon-wrapper-host
                                    {
                                        .k-icon
                                        {
                                            color: $secondary;
                                            font-size: 14px;
                                        }
                                    }

                                    .k-breadcrumb-item-text
                                    {
                                        color: $secondary;
                                        font-size: 13px;
                                        font-weight: 600;
                                    }
                                }

                                .k-breadcrumb-root-link
                                {
                                    padding-left: 0;
                                }

                                .k-breadcrumb-delimiter-icon
                                {
                                    .k-icon-wrapper-host
                                    {
                                        .k-icon
                                        {
                                            color: transparent;

                                            &::after
                                            {
                                                content: '/';
                                                color: $secondary;
                                                font-size: 14px;
                                            }

                                            &::before
                                            {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .top-action
                {
                    white-space: nowrap;
                }
            }
        }
    }
}