<div class="mtb033-sal-payment-invoice">
    <!-- START: HEADER -->
    <ps-header-back>
        <section>
            <div class="main-title">Thanh toán bán lẻ</div>
            <div class="sub-title">Chi tiết hoá đơn</div>
        </section>
        <div class="right-side">
            <div class="invoice-line">
                <span class="label">Số HĐ:</span>

                <div #wrapper class="marquee-wrapper">
                    <span class="marquee-content" #content>
                        {{ invoice.InvoiceNo }}
                    </span>
                </div>
            </div>
        </div>
    </ps-header-back>
    <!-- END: HEADER -->

    <main>
        <!-- START: PHIẾU THU -->
        <section class="section-form">
            <div class="form-group">
                <ps-kendo-textbox [label]="'Mã hóa đơn'" [disabled]="true" [(ngModel)]="invoice.InvoiceNo"
                    (blur)="onValueChange('InvoiceNo')">
                </ps-kendo-textbox>
            </div>

            <div class="datetime-picker">
                <label>Ngày hiệu lực (*)</label>
                <kendo-datepicker format="dd/MM/yyyy" placeholder="dd/MM/yyyy" [readOnlyInput]="true"
                    calendarType="classic"
                    [disabled]=" invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                    [(ngModel)]="invoice.EffDate" (valueChange)="onValueChange('EffDate')">
                </kendo-datepicker>
            </div>

            <!-- <div class="form-group">
                <ps-kendo-numeric-textbox label="Mức giảm giá (%)"
                    [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                    [(ngModel)]="invoice.DiscountPercent" (blur)="onValueChange('DiscountPercent')">
                </ps-kendo-numeric-textbox>

                <ps-kendo-numeric-textbox [label]="'Thành tiền'"
                    [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                    [(ngModel)]="invoice.DiscountAmount" (blur)="onValueChange('DiscountAmount')">
                </ps-kendo-numeric-textbox>
            </div>

            <ps-kendo-textarea [label]="'Lý do giảm giá'"
                [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                [(ngModel)]="invoice.DiscountReason" (blur)="onValueChange('DiscountReason')">
            </ps-kendo-textarea> -->

            <ps-kendo-numeric-textbox [label]="'Tổng tiền'" [disabled]="true" [(ngModel)]="invoice.TotalAmount"
                (blur)="onValueChange('TotalAmount')">
            </ps-kendo-numeric-textbox>

            <div class="form-tab">
                <div class="tab-header">
                    <div class="header-item" *ngFor="let tab of vattab" [class.active]="tab.value == invoice.VATType"
                        (click)="onchangetabvat(tab.value)">
                        {{tab.name}}
                    </div>
                </div>
                <div class="tab-body" *ngIf="invoice.VATType == SALOrderInvoiceVATTypeEnum.Personal">
                    <ps-kendo-masked-textbox label="Số điện thoại (*)" [mask]="'0000 000 000'" [type]="'tel'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATCellPhone" (blur)="onValueChange('VATCellPhone')">
                    </ps-kendo-masked-textbox>

                    <ps-kendo-textbox [label]="'Họ và tên (*)'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATCustomerName" (blur)="onValueChange('VATCustomerName')">
                    </ps-kendo-textbox>

                    <ps-kendo-masked-textbox label="Số hộ chiếu"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATPassport" (blur)="onValueChange('VATPassport')">
                    </ps-kendo-masked-textbox>

                    <ps-kendo-textarea [label]="'Địa chỉ xuất hoá đơn'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATAddress" (blur)="onValueChange('VATAddress')">
                    </ps-kendo-textarea>

                    <ps-kendo-textbox [label]="'Email xuất hoá đơn'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATEmail" (blur)="onValueChange('VATEmail')">
                    </ps-kendo-textbox>

                    <ps-kendo-textarea [label]="'Ghi chú'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATNote" (blur)="onValueChange('VATNote')">
                    </ps-kendo-textarea>
                </div>

                <div class="tab-body" *ngIf="invoice.VATType == SALOrderInvoiceVATTypeEnum.Company">
                    <ps-kendo-masked-textbox [label]="'Mã số thuế (*)'" [mask]="'0000000000'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATCompanyTax" (blur)="onValueChange('VATCompanyTax')">
                    </ps-kendo-masked-textbox>

                    <ps-kendo-textbox [label]="'Tên đơn vị'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master) || !invoicecopy.VATCompanyTax"
                        [(ngModel)]="invoice.VATCompanyName" (blur)="onValueChange('VATCompanyName')">
                    </ps-kendo-textbox>

                    <ps-kendo-textarea [label]="'Địa chỉ xuất hoá đơn'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master) || !invoicecopy.VATCompanyTax"
                        [(ngModel)]="invoice.VATAddress" (blur)="onValueChange('VATAddress')">
                    </ps-kendo-textarea>

                    <ps-kendo-textbox [label]="'Email xuất hoá đơn'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master) || !invoicecopy.VATCompanyTax"
                        [(ngModel)]="invoice.VATEmail" (blur)="onValueChange('VATEmail')">
                    </ps-kendo-textbox>

                    <ps-kendo-textarea [label]="'Ghi chú'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master) || !invoicecopy.VATCompanyTax"
                        [(ngModel)]="invoice.VATNote" (blur)="onValueChange('VATNote')">
                    </ps-kendo-textarea>
                </div>

                <div class="tab-body" *ngIf="invoice.VATType == SALOrderInvoiceVATTypeEnum.Government">
                    <ps-kendo-textbox [label]="'Tên đơn vị quan hệ ngân sách'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATBRUName" (blur)="onValueChange('VATBRUName')">
                    </ps-kendo-textbox>

                    <ps-kendo-textbox [label]="'Mã đơn vị quan hệ ngân sách (*)'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATBRUCode" (blur)="onValueChange('VATBRUCode')">
                    </ps-kendo-textbox>

                    <ps-kendo-textarea [label]="'Ghi chú'"
                        [disabled]="womMaster.Status == enummasterstt.SUCCESS || invoice.Status == enuminvoicestt.Success || invoice.Status == enuminvoicestt.Cancled || (!FunctionPermissionDTO.creator && !FunctionPermissionDTO.master)"
                        [(ngModel)]="invoice.VATNote" (blur)="onValueChange('VATNote')">
                    </ps-kendo-textarea>
                </div>
            </div>

            <div class="status">
                <kendo-label [text]="'Tình trạng'"></kendo-label>
                <div [innerHTML]="{ Status: invoice.Status, StatusName: invoice.StatusName } | SALOrderInvoiceStatus">
                </div>
            </div>

        </section>
        <!-- END: PHIẾU THU -->

        <!-- START: GROUP BUTTON -->
        <section class="section-group" *ngIf="invoice.Status == enuminvoicestt.New">
            <ps-kendo-button [disabled]="FunctionPermissionDTO.creator" [theme]="'primary'"
                (onClick)="onupdatestatus(enuminvoicestt.Success)">
                Hoàn tất
            </ps-kendo-button>

            <ps-kendo-button [disabled]="FunctionPermissionDTO.creator" [theme]="'error-outline'"
                (onClick)="showpopup = true">
                Huỷ giao dịch
            </ps-kendo-button>
        </section>
        <!-- END: GROUP BUTTON -->
    </main>

    <!-- START: FOOTER -->
    <ps-footer-action>
        <ps-kendo-button (onClick)="onnavigate('/mtbike/payment/total')">
            <span class="material-icons">arrow_back</span>
        </ps-kendo-button>

        <ps-kendo-button (onClick)="onnavigate('/mtbike/payment')">
            <span class="material-icons">list_alt</span>
        </ps-kendo-button>
    </ps-footer-action>
    <!-- END: FOOTER -->

    <!-- START: CONFIRM DIALOG -->
    <ps-dialog-confirm [theme]="'primary'" [open]="showpopup">
        <div psDialogConfirmBody class="body">
            <div class="title-out">
                Hủy giao dịch
            </div>
            <div class="confirm">
                Bạn có chắc chắn muốn hủy giao dịch không?
            </div>
            <div class="group-buttom">
                <ps-kendo-button (onClick)="showpopup = false">Huỷ</ps-kendo-button>
                <ps-kendo-button [theme]="'primary'" (onClick)="onupdatestatus(enuminvoicestt.Cancled)">Xác
                    nhận</ps-kendo-button>
            </div>
        </div>
    </ps-dialog-confirm>
    <!-- END: CONFIRM DIALOG -->
</div>
