@import "../../../../../assets/scss/colors";

::ng-deep
{
    mtb012-model
    {
        .confirmpopup
        {

            .hightline,
            .sub-title
            {
                color: $error;
            }

            .sub-title
            {
                font-weight: bold;
                text-align: center;
            }
        }

        ps-dialog-confirm
        {
            .main-title
            {
                text-align: center;

                .hightline
                {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1;
                    color: $primary;
                }

                .hightline-detail
                {
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 1;
                    color: $error;
                }
            }

            .sub-title
            {
                span
                {
                    text-transform: uppercase;
                    color: $error;
                }
            }
        }

        ps-kendo-drawer-container
        {
            kendo-drawer-container
            {
                kendo-drawer
                {
                    .k-list-item-text
                    {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .k-drawer-wrapper
                    {
                        .drawer-body
                        {
                            .body-container
                            {
                                .body-drawer
                                {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 15px;
                                }

                                .group-input
                                {
                                    display: flex;
                                    gap: 15px;

                                    ps-kendo-textbox
                                    {
                                        width: 70%;
                                    }

                                    ps-kendo-numeric-textbox
                                    {
                                        width: 50%;
                                    }

                                    ps-kendo-numeric-textbox:nth-child(1)
                                    {
                                        label
                                        {
                                            white-space: nowrap;
                                        }
                                    }
                                }

                                .color
                                {
                                    width: 30%;
                                    border: 1px dotted$secondary;
                                    border-radius: 5px;
                                    overflow: hidden;
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    padding: 10px;

                                    img
                                    {
                                        width: 100%;
                                    }

                                    ps-kendo-button
                                    {
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);

                                        .k-button-text
                                        {
                                            img
                                            {
                                                width: 16px;
                                                height: 16px;
                                            }
                                        }
                                    }
                                }

                                .ImageSetting1
                                {
                                    width: 100%;
                                    height: 200px;
                                    margin-top: 5px;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    img
                                    {
                                        height: 100%;
                                        width: auto;
                                    }
                                }
                            }
                        }
                    }
                }

                kendo-drawer-content
                {
                    height: 100%;
                    width: 100%;

                    .body-drawer
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;
                    }

                    .body-container
                    {
                        overflow: hidden;
                        height: 100%;
                        padding-right: 10px;

                        .breadcrum
                        {
                            height: 45px;

                            .top-action
                            {
                                display: flex;
                                gap: 10px;
                            }
                        }

                        .ps-filter-bar
                        {
                            ps-filter-textbox
                            {
                                .filter-textbox
                                {
                                    ps-kendo-textbox
                                    {
                                        .kendo-textbox
                                        {
                                            min-width: 250px;
                                        }
                                    }
                                }
                            }

                            ps-kendo-dropdown-list
                            {
                                &.filter-type
                                {
                                    min-width: 192px;
                                    width: 192px;
                                }

                                &.filter-color
                                {
                                    min-width: 144px;
                                    width: 144px;
                                }

                                .kendo-dropdown-list
                                {
                                    .k-dropdownlist
                                    {
                                        .k-animation-container
                                        {
                                            width: fit-content !important;

                                            .k-popup
                                            {
                                                .k-list
                                                {
                                                    .k-list-content
                                                    {
                                                        .k-list-ul
                                                        {
                                                            li
                                                            {
                                                                span
                                                                {
                                                                    text-transform: capitalize;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .body
                        {
                            height: calc(100% - 115px);
                            white-space: nowrap;
                            overflow-y: auto;
                            overflow-x: hidden;
                            text-overflow: ellipsis;

                            .list
                            {
                                position: relative;
                                height: calc(100% - 6px);

                                ps-kendo-grid
                                {
                                    kendo-grid
                                    {
                                        margin-top: 6px;

                                        .actionColumn.actionColumnNoneSticky
                                        {
                                            border-left: none !important;
                                        }

                                        .statuscolumn
                                        {
                                            position: sticky;
                                            right: 45px;
                                            border-left: 1px solid $border !important;
                                        }

                                        td.statuscolumn
                                        {
                                            background-color: $background-primary;
                                        }

                                        th.statuscolumn
                                        {
                                            background-color: $white;
                                        }

                                        tr.k-master-row:has(.statuscolumn):hover
                                        {
                                            .statuscolumn
                                            {
                                                background-color: $green-100 !important;
                                            }
                                        }

                                        .k-grid-aria-root
                                        {
                                            .k-grid-container
                                            {
                                                .k-grid-content
                                                {
                                                    .k-grid-table-wrap
                                                    {
                                                        .k-grid-table
                                                        {
                                                            .k-table-tbody
                                                            {
                                                                .k-detail-row
                                                                {
                                                                    .k-detail-cell
                                                                    {
                                                                        ps-kendo-grid
                                                                        {
                                                                            kendo-grid
                                                                            {
                                                                                .statuscolumn
                                                                                {
                                                                                    position: sticky;
                                                                                    right: 45px;
                                                                                    border-left: 1px solid $border !important;
                                                                                }

                                                                                tr.k-selected:has(.statuscolumn),
                                                                                td.statuscolumn
                                                                                {
                                                                                    background-color: $white !important;
                                                                                }


                                                                                tr:has(.statuscolumn):hover
                                                                                {
                                                                                    .statuscolumn
                                                                                    {
                                                                                        background-color: $background-primary !important;
                                                                                    }
                                                                                }

                                                                                .k-grid-aria-root
                                                                                {
                                                                                    .k-grid-container
                                                                                    {
                                                                                        .k-grid-content
                                                                                        {
                                                                                            .k-grid-table-wrap
                                                                                            {
                                                                                                .k-grid-table
                                                                                                {
                                                                                                    .k-table-tbody
                                                                                                    {
                                                                                                        .k-detail-row:hover
                                                                                                        {
                                                                                                            background-color: $background-primary !important;
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }

                                            .text-center .k-cell-inner .k-link
                                            {
                                                display: flex;
                                                justify-content: center;
                                            }

                                            .text-hightline
                                            {
                                                color: $primary;
                                                font-weight: bold !important;
                                            }

                                            .text-darkline
                                            {
                                                font-weight: bold !important;
                                            }

                                            .text-redline
                                            {
                                                color: $error;
                                                font-weight: bold;
                                            }

                                            .vehicle
                                            {
                                                display: -webkit-box;
                                                -webkit-line-clamp: 2;
                                                -webkit-box-orient: vertical;
                                                overflow: hidden;
                                                height: 100%;
                                                line-height: 1.7;
                                            }

                                            .frame-detail
                                            {
                                                display: flex;
                                                gap: 5px;
                                                overflow-x: auto;
                                                padding-bottom: 5px;

                                                .detail-item
                                                {
                                                    width: 250px;
                                                    min-width: 250px;
                                                    border: 1px solid $border;
                                                    padding: 5px;
                                                    border-radius: 5px;
                                                    background-color: $white;
                                                    display: flex;
                                                    flex-direction: column;
                                                    gap: 5px;
                                                    min-height: 311px;

                                                    .item-header
                                                    {
                                                        display: flex;
                                                        gap: 5px;
                                                        justify-content: space-between;
                                                        align-items: center;

                                                        .header-label
                                                        {
                                                            display: flex;
                                                            align-items: center;
                                                            gap: 4px;

                                                            div
                                                            {
                                                                font-weight: bold;
                                                                color: $primary;

                                                                span
                                                                {
                                                                    font-weight: 400;
                                                                    color: $secondary;
                                                                }
                                                            }

                                                            img
                                                            {
                                                                width: 80px;
                                                                height: 24px;
                                                            }
                                                        }

                                                        .header-action
                                                        {
                                                            display: flex;
                                                            gap: 5px;

                                                            ps-kendo-button
                                                            {
                                                                .k-button
                                                                {
                                                                    height: 30px;
                                                                }
                                                            }
                                                        }
                                                    }

                                                    .item-body
                                                    {
                                                        width: 240px;
                                                        height: 240px;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;
                                                        border: 1px dotted black;
                                                        border-radius: 5px;

                                                        img
                                                        {
                                                            width: 100%;
                                                        }
                                                    }

                                                    .item-price
                                                    {
                                                        text-align: center;
                                                    }

                                                    .add-button
                                                    {
                                                        .k-button
                                                        {
                                                            border: none;

                                                            .k-button-text
                                                            {
                                                                display: flex;
                                                                flex-direction: column;

                                                                .k-font-icon
                                                                {
                                                                    color: $primary;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }

                                                .item-add
                                                {
                                                    display: flex;
                                                    align-items: center;
                                                    justify-content: center;
                                                    border: none;
                                                    background-color: transparent;

                                                    ps-kendo-button
                                                    {
                                                        height: 100%;
                                                        width: 100%;

                                                        button
                                                        {
                                                            width: 100%;
                                                            height: 100%;

                                                            .k-button-text
                                                            {
                                                                font-size: 16px;
                                                                align-items: center;
                                                                font-weight: bold;
                                                                gap: 10px;

                                                                .k-font-icon
                                                                {
                                                                    font-size: 48px;
                                                                }
                                                            }
                                                        }

                                                        button:hover
                                                        {
                                                            background-color: transparent;
                                                        }
                                                    }
                                                }

                                                .detail-item:hover
                                                {
                                                    background-color: $green-100 !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}