@import "../../../../../assets/scss/colors";

::ng-deep
{
  ps-dialog-upload
  {
    .k-overlay
    {
      z-index: 100001;
      position: absolute;
    }

    .upload-wrapper
    {
      width: 80%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 100001;

      .k-external-dropzone-hover .k-icon,
      .k-external-dropzone- hover .k-dropzone-icon
      {
        opacity: 0.8;
      }

      .wrapper-top
      {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        text-align: center;
        line-height: 1;
        color: #fff;
        padding: 17px 0;
        background: $primary;
        font-weight: bold;
        font-size: 16px;

        span
        {
          position: absolute;
          top: 8px;
          right: 10px;
          display: flex;
          justify-content: center;
          height: 32px;
          width: 32px;
          color: white;
          cursor: pointer;
        }
      }

      .wrapper-middle
      {
        height: 60vh;

        .filter-breadcrum
        {
          width: calc(75% - 20px);
          z-index: 100003;
          position: absolute;
          top: 60px;
          left: calc(25% + 10px);
          display: flex;
          justify-content: space-between;
          align-items: center;

          &.spread-breadcrum
          {
            width: calc(100% - 20px);
            left: 10px;
          }

          .breadcrumb
          {
            font-size: 13px;
            border-bottom: 1px solid #e6e6e6;
            margin: 0;
          }

          .search
          {
            ps-kendo-textbox
            {
              kendo-label
              {
                display: none;
              }
            }

            ps-kendo-button
            {
              margin-top: 0;
            }
          }
        }

        .middle-zone
        {
          background: $white;
          width: 100%;
          height: 100%;
          padding: 10px 10px;

          .zone-treeview
          {
            width: 24%;
            height: calc(100% - 76px);
            position: absolute;
            z-index: 100003;

            .k-treeview-lines
            {
              .k-treeview-item
              {
                .k-treeview-top
                {
                  &:hover > span
                  {
                    background: $hover;
                    height: 35px;
                  }
                }

                .k-treeview-bot
                {
                  &:hover > span
                  {
                    background: $hover;
                    height: 35px;
                  }
                }

                .k-i-caret-alt-right::before
                {
                  content: "\e5cc";
                  font-family: "Material Symbols Outlined";
                  font-weight: bold;
                  font-size: 15px;
                  opacity: 0.7;
                }

                .k-i-caret-alt-down::before
                {
                  content: "\e313";
                  font-family: "Material Symbols Outlined";
                  font-weight: bold;
                  font-size: 15px;
                  opacity: 0.7;
                }

                .k-treeview-leaf
                {
                  padding-inline: 0px;
                  padding-block: 0px;
                  height: 35px;
                  line-height: 1;
                  width: max-content;
                  cursor: pointer;
                  padding-right: 10px;
                  border-radius: 0 !important;

                  &:hover
                  {
                    background: $hover;
                  }

                  .k-treeview-leaf-text
                  {
                    margin-left: 5px;
                  }
                }

                .k-treeview-leaf.k-focus
                {
                  box-shadow: none !important;
                }
              }
            }
          }
        }

        .wrapper-middle
        {
          height: 100%;
          display: flex;
          align-items: center;

          .middle-mainzone
          {
            width: 100%;
            height: 70%;
            padding: 0 25%;

            .k-dropzone-inner
            {
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              border-radius: 5px;
              border: 2px dashed #d2d2d2;

              kendo-icon-wrapper
              {
                .k-i-upload::before
                {
                  content: "\e2c3";
                  font-family: "Material Symbols Outlined";
                  font-weight: bold;
                  font-size: 70px;
                  color: $primary;
                  opacity: 0.7;
                }
              }

              .k-dropzone-hint
              {
                display: none;
              }

              .k-dropzone-note
              {
                font-size: 13px;

                .upload-btn
                {
                  color: $primary;
                  text-transform: uppercase;
                  cursor: pointer;

                  &:hover
                  {
                    opacity: 0.6;
                  }
                }
              }
            }

            &.hide-dropzone
            {
              .k-dropzone-inner
              {
                opacity: 0;
              }

              width: 100% !important;
              height: 100%;
              margin-left: 0 !important;
            }

            &.highlight
            {
              .k-dropzone-inner
              {
                border: 2px dashed $primary;
              }
            }
          }
        }

        .k-upload
        {
          .k-dropzone
          {
            display: none;

            .k-upload
            {
              .k-upload-dropzone
              {}
            }
          }
        }

        .upload-area
        {
          margin-top: 5px;
          border: none;
          background: transparent;

          .k-upload-files
          {
            border-style: none;
            display: flex;
            flex-direction: column;
            gap: 3px;
            display: none;

            .k-file
            {
              border-radius: 5px;
              background: #fff;

              .k-file-single
              {
                .k-i-x::before
                {
                  content: "\f00d";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  font-size: 13px;
                }

                .k-i-cancel::before
                {
                  content: "\f05e";
                  font-family: "Font Awesome 5 Free";
                  font-weight: 900;
                  font-size: 5px;
                  font-size: 13px;
                }

                .k-file-info
                {
                  .k-file-size
                  {
                    display: none;
                  }
                }
              }
            }
          }

          kendo-upload-action-buttons
          {
            display: none;
          }
        }

        .uploaded-files
        {
          position: absolute;
          width: 100%;
          margin-left: 1px;
          left: 25%;
          top: 105px;
          max-height: calc(100% - 114px);
          overflow: scroll;

          &.left
          {
            left: 0;
            width: 100%;
          }

          ul
          {
            height: fit-content;
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            overflow-y: auto;
            list-style: none;
            margin-bottom: 5px;
            margin-bottom: 1rem;
            padding: 0 10px;

            li.selected
            {
              border: 1px solid $primary;
              background-color: #fafafa;
            }

            li
            {
              position: relative;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-radius: 5px;
              background: #fff;
              padding: 10px;
              border: 1px solid $white;
              flex-direction: column;
              height: fit-content;
              width: fit-content;
              gap: 10px;

              .file-name
              {
                display: flex;
                align-items: center;
                width: 90px;
                height: 90px;
                flex-direction: column;
                gap: 5px;
                overflow: hidden;
                justify-content: flex-end;

                .file-icon
                {
                  width: 100%;
                  object-fit: contain;
                }
              }

              .close
              {
                cursor: pointer;
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: 13px;
                color: $worse-red;
              }

              .title
              {
                text-align: center;
                overflow: hidden;
                word-break: break-word;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 4;
                line-height: 1.2;
                font-size: 13px;
                width: 90px;
                height: 64px;
              }
            }

            .height
            {
              .file-name
              {
                img
                {
                  height: 100%;
                }
              }
            }
          }
        }

        .delete-icon
        {
          position: absolute;
          right: 10px;
          bottom: 10px;
          padding: 10px;
          border-radius: 5px;
          border: 2px dashed $primary;
          color: $worse-red;
          z-index: 100003;
          transition: all 0.2s;

          &:hover
          {
            background: $hover;
          }
        }
      }
    }
  }
}