<div *ngIf="open" class="ps-dialog-upload">
  <div class="k-overlay"></div>
  <div class="upload-wrapper">
    <div class="wrapper-top">
      TẢI LÊN
      <span class="k-font-icon k-icon k-i-x" (click)="close()"></span>
    </div>
    <div class="wrapper-middle">

      <div class="middle-zone">
        <kendo-treeview *ngIf="folders.length > 0" class="zone-treeview" kendoTreeViewExpandable
          kendoTreeViewDragAndDrop [nodes]="data" textField="text" [children]="fetchChildren"
          [hasChildren]="hasChildren" (nodeClick)="onFolderSelect($event)">
          <ng-template kendoTreeViewNodeTemplate let-dataItem>
            <div class="tree-node-group">
              📁 {{ dataItem.text }}
            </div>
          </ng-template>
        </kendo-treeview>

        <div class="wrapper-middle">
          <div [ngClass]="folders.length > 0 ? '' : 'spread-breadcrum'" class="filter-breadcrum">
            <div class="breadcrumb">
              <ng-container *ngIf="selectedPath.length > 0; else emptyBreadcrumb">
                <ng-container *ngFor="let part of selectedPath; let isLast = last">
                  <span>{{ part }}</span><span style="margin: 0 3px;" *ngIf="!isLast">/</span>
                </ng-container>
              </ng-container>
              <ng-template #emptyBreadcrumb>
              </ng-template>
            </div>
            <ps-filter-textbox [listField]="['Name']" (onFilter)="handleFilteredFile($event)"
              class="search"></ps-filter-textbox>
          </div>
          <kendo-uploaddropzone #dropZoneRef class="middle-mainzone" zoneId="myZone" (dragenter)="onDropZoneDragEnter()"
            (dragleave)="onDropZoneDragLeave($event)" (drop)="onDropZoneDrop($event)"
            [ngStyle]="{ 'z-index': isDraggingOverDropzone ? 100003 : 100001 }"
            [ngClass]="{ 'hide-dropzone': hasFolders, 'highlight': isDraggingOverDropzone }">
            <p>
              Kéo thả file vào đây hoặc
              <span class="upload-btn" (click)="triggerManualSelect()">tải lên</span> từ thiết bị
            </p>
          </kendo-uploaddropzone>

          <span class="trash-zone" (drop)="onTrashDrop()" (dragover)="onTrashDragOver($event)"
            (dragleave)="onTrashDragLeave($event)" class="material-icons delete-icon">
            delete
          </span>
        </div>
      </div>

      <kendo-upload #uploadRef zoneId="myZone" class="upload-area" (select)="onSelect($event)"
        [restrictions]="myRestrictions" (success)="onUpload($event)" [autoUpload]="false">
      </kendo-upload>

      <div class="uploaded-files" (click)="$event.stopPropagation()" #uploadedZone [ngStyle]="{
       'z-index': 100002,
     }" [ngClass]="folders.length > 0 ? '' : 'left'">

        <ul *ngIf="filteredFile.length > 0">
          <li *ngFor="let file of filteredFile; let i = index" [class.height]="file.Height > file.Width"
            [class.selected]="isSelected(file)" (click)="toggleFileSelection(file, i, $event)"
            (dblclick)="onFileDoubleClick(file)" draggable="true" (dragstart)="onMultiFileDragStart()">
            <div class="file-name">
              <img [src]="file.Path" alt="file icon" class="file-icon" />
            </div>
            <span class="title" [title]="file.Name">{{ file.Name }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>