@import '../../../../../assets/scss/colors';

::ng-deep {
  ps-kendo-dropdown-button {
    .k-dropdown-button {
      .k-button {
        height: 35px;
        padding: 0 28px 0 10px;
        border: 1px solid $border;
        border-radius: 5px;
        background-color: transparent;
        position: relative;

        .k-button-text {
          line-height: 1;
          font-size: 13px;
          font-weight: 700;
          color: $secondary;
          text-transform: uppercase;

          .arrow-dropdown {
            position: absolute;
            right: 6px;
            top: 9px;
            transform: rotate(180deg);
          }
        }

        &.k-focus {
          box-shadow: none;
        }

        &:hover {
          filter: brightness(1.1);
        }
      }

      .k-animation-container {
        .k-popup {
          margin-top: -1px;
          kendo-button-list {
            .k-group {
              .k-item {
                height: 35px;

                &.k-focus,
                &:focus {
                  .k-link {
                    box-shadow: none;
                  }
                }

                .k-link {
                  display: flex;
                  justify-content: space-between;
                  padding: 0 0 0 5px;
                  gap: 30px;

                  .material-icons {
                    width: 35px;
                    height: 35px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }

                  &:active {
                    background-color: $primary;

                    .k-menu-link-text {
                      color: $white;
                    }
                  }
                }
              }
            }
          }
        }
      }

      &:has(.k-animation-container) {
        .k-button {
          .k-button-text {
            .arrow-dropdown {
              transform: rotate(0);
            }
          }
        }
      }
    }
  }
}