<kendo-dropdownbutton [data]="data" [title]="title" [textField]="textField"
                      [popupSettings]="{ appendTo: 'component', align: align }" (itemClick)="handleItemClick($event)">
  <ng-content></ng-content>
  <span class="arrow-dropdown">
    <img src="../../../../../assets/images/icons/arrow_dropdown.icon.png" alt="">
  </span>
  <ng-template kendoDropDownButtonItemTemplate let-dataItem>
    <span class="material-icons w-200" *ngIf="isIconPrefix && iconField != null">{{dataItem[iconField]}}</span>
    <span>{{ dataItem[textField] }}</span>
    <span class="material-icons w-200" *ngIf="!isIconPrefix && iconField != null">{{dataItem[iconField]}}</span>
  </ng-template>
</kendo-dropdownbutton>