@import "../../../../../assets/scss/colors";

::ng-deep
{
  prt-io-detail
  {
    ps-dialog-confirm
    {
      .main-title
      {
        text-align: center;

        .hightline
        {
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
        }
      }

      .sub-title
      {
        span
        {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    label
    {
      line-height: 1;
    }

    font-size: 13px;

    .body-head
    {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;

      h1
      {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
        color: $secondary;
        margin: 0;

        span
        {
          color: $primary;
          font-style: normal;
          font-size: 13px;
          font-weight: bold;
        }
      }

      .open-close
      {
        font-size: 10px;
        font-style: italic;
        color: $info;
        cursor: pointer;

        &:hover
        {
          opacity: 0.5;
        }
      }
    }

    .block-2
    {
      overflow-x: auto;
      display: flex;
      padding: 10px 10px 0 10px;
      background: #fff;
      border-radius: 15px;
      margin-top: 5px;

      .block-2-content
      {
        width: 100%;
        padding-bottom: 10px;
        display: flex;
        overflow-x: auto;
        gap: 50px;

        .content-col-1
        {
          min-width: 250px;
          width: 25%;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .ioMasterNumber
          {
            display: flex;
            justify-content: space-between;

            .receipt
            {
              display: block;
              width: calc(50% - 5px);

              .k-input-solid
              {

                // background-color: #979b9b20;
                .k-input-inner
                {
                  font-weight: bold;
                  color: $primary;
                }
              }

              &.readonly-mode
              {
                kendo-textbox
                {
                  pointer-events: none;
                  border: none !important;
                }
              }

              // &.disable-block {
              //   kendo-textbox {
              //     pointer-events: none;
              //     background: #979b9b20;
              //   }
              // }
            }
          }

          .datepicker
          {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;

            kendo-datepicker
            {
              height: 35px;
              border-color: #979b9b;
              border-radius: 5px;
              padding-left: 15px;

              input
              {
                font-size: 13px;
                color: $secondary;
                font-weight: 400;
              }

              button
              {
                background: $white;
              }

              &.disable-block
              {
                background: $disable-input;
                pointer-events: none;

                button
                {
                  background: $disable-input;
                }
              }

              &.readonly-mode
              {
                border: none;
                pointer-events: none;

                button
                {
                  display: none;
                }
              }
            }

            .k-disabled
            {
              border-color: $border;
              background-color: $disable-input;
              opacity: 1;

              .k-input-button
              {
                border-left: none;
                background-color: transparent;
              }
            }

            .status
            {
              margin-top: 5px;
            }
          }

          .state
          {
            span
            {
              margin-left: 15px;
              color: $warning;
              text-transform: uppercase;
              font-weight: bold;
            }
          }
        }

        .content-col-2
        {
          width: calc(75% - 50px);
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 15px;

          .col-2-row-1
          {
            width: 100%;
            display: flex;
            gap: 10px;

            .search-supplier
            {
              width: 100%;
              min-width: max-content;
              position: relative;

              .outputunit-storage
              {
                display: flex;
                align-items: center;
                gap: 10px;

                .storage,
                .outputunit
                {
                  min-width: 250px;
                  width: calc(100% / 3);
                  // flex: 1;

                  &.disable-block
                  {
                    kendo-dropdownlist
                    {
                      pointer-events: none;
                      background-color: $disable-input;
                    }
                  }
                }
              }

              .supplier-textbox
              {
                kendo-autocomplete
                {
                  min-width: 508px;

                  span
                  {
                    display: none;
                  }
                }
              }

              .k-i-zoom
              {
                position: absolute;
                right: 10px;
                top: 27px;
              }
            }

            .reference-number
            {
              min-width: 250px;
              flex: 1;

              .k-input-inner
              {
                color: $primary;
              }

              @media screen and (max-width: 1220px)
              {
                min-width: 250px;
                flex: 1;
              }

              &.readonly-mode
              {
                kendo-textbox
                {
                  pointer-events: none;
                  border: none !important;
                }
              }
            }
          }

          .interpretation
          {
            width: 100%;

            kendo-textbox
            {
              min-width: 770px;
            }

            &.readonly-mode
            {
              kendo-textbox
              {
                pointer-events: none;
                border: none !important;
              }
            }

            // &.disable-block {
            //   kendo-textbox {
            //     pointer-events: none;
            //     background-color: $disable-input;
            //   }
            // }
          }

          .interpretation2
          {
            kendo-textbox
            {
              min-width: 250px;
              width: 400px;
            }
          }

          .owner-receiver
          {
            display: flex;
            gap: 40px;

            .owner,
            .receiver
            {
              display: flex;
              flex-direction: column;
              gap: 5px;

              .name
              {
                margin-left: 15px;
              }
            }
          }
        }
      }
    }

    // BLOCK 2
    .grid
    {
      height: 100%;
      width: 100%;
      max-width: 100%;
      overflow-x: auto;

      thead
      {
        .right
        {
          span
          {
            justify-content: flex-end;
          }
        }

        .type-col,
        .position-col
        {
          .k-cell-inner
          {
            justify-content: flex-start;
          }
        }
      }

      tr
      {
        height: 24px;
        max-height: 24px;

        td
        {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;

          .kendo-textbox
          {
            height: 25px;
          }
        }
      }

      .barcode-col
      {
        .barcode
        {
          color: $primary;
          font-weight: bold !important;
        }

        .new-tag
        {
          color: $error;
          font-weight: bold;
        }
      }

      .sldn-col,
      .slxn-col,
      .sln-col
      {
        text-align: right;

        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button
        {
          -webkit-appearance: none;
          margin: 0;
        }

        input
        {
          text-align: right;
          padding-right: 10px;
          border-radius: 5px;
          border: 1px solid $primary;
          width: 100%;

          &:focus-visible
          {
            outline-offset: 999999px;
          }
        }

        div
        {
          span
          {
            color: $info;

            &.disable-text
            {
              color: $black-color;
            }
          }
        }
      }

      .des-col
      {
        .descontent
        {
          white-space: nowrap !important;
          overflow: hidden !important;
          text-overflow: ellipsis !important;
        }

        input
        {
          padding-right: 10px;
          border-radius: 5px;
          border: 1px solid $primary;
          width: 100%;

          &:focus-visible
          {
            outline-offset: 999999px;
          }
        }

        span
        {
          color: $info;

          &.disable-text
          {
            color: $black-color;
          }
        }
      }

      .delete-col
      {
        div
        {
          text-align: center;

          span
          {
            font-size: 20px;
            color: $red;
            cursor: pointer;
          }
        }

        .disabled-btn
        {
          outline: none;
          cursor: default;
          opacity: 0.6;
          filter: grayscale(0.1);
          pointer-events: none;
          box-shadow: none;
        }
      }

      .add-col
      {
        div
        {
          text-align: center;
          display: flex;
          justify-content: center;

          span
          {
            font-size: 20px;
            color: $primary;
            cursor: pointer;
          }
        }
      }
    }

    .grid-1
    {

      .k-grid-header-sticky,
      .k-grid-content-sticky
      {
        border: none !important;
      }
    }

    .block-2-container
    {
      height: calc(100% - 5px);
    }

    .block-2
    {
      height: calc(100% - 32px);
      margin-bottom: 10px;

      .block-2-content
      {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px !important;

        .block-2-row-1
        {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .filter-textbox
          {
            ps-kendo-textbox
            {
              width: 250px;

              .k-display-block
              {
                display: none;
              }
            }

            ps-kendo-button
            {
              margin-top: 0;
            }
          }

          .group-btn
          {
            display: flex;
            gap: 10px;
          }
        }
      }
    }

    .add-partitem-dialog
    {
      .ps-kendo-dialog
      {
        .kendo-dialog
        {
          .k-popup
          {
            .dialog-header
            {
              position: relative;

              .k-icon
              {
                height: 100%;
                width: 50px;
                position: absolute;
                right: 0;
                color: $white;
                cursor: pointer;
              }
            }

            .dialog-body
            {
              height: calc(100% - 50px);

              .body-top
              {
                padding-bottom: 10px;
                display: flex;
                justify-content: space-between;

                ps-filter-textbox
                {
                  .filter-textbox
                  {
                    ps-kendo-textbox
                    {
                      .kendo-textbox
                      {
                        min-width: 270px;
                      }
                    }
                  }
                }
              }

              .body-bottom
              {
                height: calc(100% - 45px);
                display: flex;
                gap: 10px;
              }
            }
          }
        }
      }
    }
  }
}