<!-- BLOCK 2 -->
<div class="body-head head-2">
  <h1>chi tiết phiếu nhập hàng</h1>
</div>
<div *ngIf="Master.Code != 0" class="block-2">
  <div class="block-2-content">
    <div class="block-2-row-1">
      <ps-filter-textbox [listField]="listfiltertext" (onFilter)="textFilterChange($event)"
        [placeholder]="'Tìm kiếm mã, loại phụ tùng'" class="searchbox"></ps-filter-textbox>
      <div class="group-btn">
        <ps-kendo-button [theme]="'warning-outline'"
          *ngIf="Master.Status === whiomasterstatusenum.RECEIVING && Master.TypeData != WHIOMasterTypeDataEnum.Out && isShowQuantity"
          (onClick)="fillReceivedWithConfirmed()">
          sl nhập =
          {{Master.TypeOfMaster != whiomastertypeofmaster.Internal && Master.TypeData == WHIOMasterTypeDataEnum.In ? 'sl
          đề nghị' : 'sl xác nhận'}}
        </ps-kendo-button>
        <ps-group-button-import *ngIf="Master.Status == whiomasterstatusenum.NEW" [actionUpName]="'import chi tiết'"
          [actionDownName]="''" [fileName]="'WHIODetailTemplate.xlsx'" (selectFile)="uploadEventHandler($event)">
        </ps-group-button-import>
        <ps-kendo-button [theme]="'primary'"
          *ngIf="Master.Status == whiomasterstatusenum.NEW || (Master.TypeData == WHIOMasterTypeDataEnum.Out && Master.Reference != null && Master.Status == whiomasterstatusenum.SENT)"
          (onClick)="onShowDialogAdd()">
          <!-- (onClick)="addNewDetail()"> -->
          thêm mới
        </ps-kendo-button>
      </div>
    </div>
    <ps-kendo-grid class="grid" [data]="data | async" [sortField]="'Barcode'" (actionSelected)="onActionClick($event)"
      [actionColumnData]="actionColumn" [pageable]="true" [skip]="skip" [pageSize]="take"
      (pageChanged)="onPageChanged($event)">
      <kendo-grid-column class="barcode-col" [width]="200" field="Barcode" title="Barcode">
        <ng-template kendoGridCellTemplate let-dataItem>
          <span class="barcode">{{dataItem.Barcode}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="new-tag" *ngIf="dataItem.IsNew">(mới)</span>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="type-col" [width]="250" title="Loại phụ tùng" field="TypePartItemName">
      </kendo-grid-column>

      <kendo-grid-column class="sldn-col" headerClass="right" [width]="80" title="SL đề nghị">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div (dblclick)="startEdit(rowIndex, 'Quantity')">
            <input #rowInput type="number" *ngIf="isEditing(rowIndex, 'Quantity')" [(ngModel)]="dataItem.Quantity"
              (blur)="saveEdit(dataItem)" (focus)="getItemFocus(dataItem)" (keydown.enter)="saveEdit(dataItem)">
            <span [ngClass]="Master.Status == whiomasterstatusenum.NEW ? '' : 'disable-text'"
              *ngIf="!isEditing(rowIndex, 'Quantity')">{{ dataItem.Quantity
              }}</span>
          </div>
        </ng-template>

      </kendo-grid-column>

      <kendo-grid-column *ngIf="Master.TypeOfMaster == whiomastertypeofmaster.Internal" headerClass="right"
        class="slxn-col" [width]="90" title="SL xác nhận">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div (dblclick)="canEditField('ConfirmQuantity') && startEdit(rowIndex, 'ConfirmQuantity')">
            <input #rowInput type="number" *ngIf="isEditing(rowIndex, 'ConfirmQuantity')"
              [(ngModel)]="dataItem.ConfirmQuantity" (blur)="saveEdit(dataItem)" (focus)="getItemFocus(dataItem)"
              (keydown.enter)="saveEdit(dataItem)">
            <span [ngClass]="{ 'disable-text': isNotAllowEditField('ConfirmQuantity') }"
              *ngIf="!isEditing(rowIndex, 'ConfirmQuantity')">
              {{ dataItem.ConfirmQuantity}}
            </span>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="sln-col" headerClass="right" [width]="65" title="SL nhập">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div (dblclick)="canEditField('ReceivedQuantity') && startEdit(rowIndex, 'ReceivedQuantity')">
            <input #rowInput type="number" *ngIf="isEditing(rowIndex, 'ReceivedQuantity')"
              [(ngModel)]="dataItem.ReceivedQuantity" (blur)="saveEdit(dataItem)" (focus)="getItemFocus(dataItem)"
              (keydown.enter)="saveEdit(dataItem)">
            <span [ngClass]="{ 'disable-text' : isNotAllowEditField('ReceivedQuantity') }"
              *ngIf="!isEditing(rowIndex, 'ReceivedQuantity')">
              {{ dataItem.ReceivedQuantity}}
            </span>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="des-col" [width]="300" title="Ghi chú hàng hóa">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div class="descontent" (dblclick)="canEditField('Remark') && startEdit(rowIndex, 'Remark')">
            <input #rowInput type="text" *ngIf="isEditing(rowIndex, 'Remark')" [(ngModel)]="dataItem.Remark"
              (blur)="saveEdit(dataItem)" (focus)="getItemFocus(dataItem)" (keydown.enter)="saveEdit(dataItem)">
            <span [title]="dataItem.Remark" [ngClass]="Master.Status == whiomasterstatusenum.NEW ? '' : 'disable-text'"
              *ngIf="!isEditing(rowIndex, 'Remark')">
              {{
              (dataItem.Remark && dataItem.Remark.trim().length > 0)
              ? dataItem.Remark
              : '\u00A0'
              }}
            </span>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="position-col" [width]="350" title="Vị trí xếp hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <ng-container *ngIf="formatListLocation(dataItem.ListLocation) as result">
            <div [title]="result.fullText" class="inventory-name">
              {{ result.shortText }}
            </div>
          </ng-container>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column
        [hidden]="(Master.Status != whiomasterstatusenum.NEW && Master.TypeData == WHIOMasterTypeDataEnum.In) || (Master.Status > whiomasterstatusenum.SENT && Master.TypeData == WHIOMasterTypeDataEnum.Out)"
        class="delete-col" [sticky]="true" [width]="30" title>
        <ng-template kendoGridCellTemplate let-dataItem>
          <div
            [ngClass]="{'disabled-btn': Master.TypeData == WHIOMasterTypeDataEnum.Out && Master.Reference != null && !dataItem.IsNew  }"
            (click)="onActionClick({ action: 'delete', data: dataItem })" class="inventory-name"><span
              class="k-icon k-font-icon k-i-trash"></span></div>
        </ng-template>
      </kendo-grid-column>
    </ps-kendo-grid>
  </div>

  <!-- START: XÓA THÔNG TIN PHỤ TÙNG -->
  <ps-dialog-confirm [theme]="'error'" [open]="popupConfirmOpen">
    <div psDialogConfirmHeader>xoá thông tin phụ tùng</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá thông tin phụ tùng</span>
        <br>
        <div class="hightline">{{detailActive?.Barcode}}</div>
      </div>
      <div class="sub-title">
        Thông tin phụ tùng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="popupConfirmOpen = !popupConfirmOpen">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="DeleteIODetail([detailActive])" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->

  <!-- START: DIALOG THÊM PHỤ TÙNG -->
  <ps-kendo-dialog class="add-partitem-dialog" [theme]="'success'" [open]="isShowDialogAdd">
    <div psKendoDialogHeader class="dialog-header">
      thêm phụ tùng
      <span (click)="closeDialogAdd()" class="k-icon k-font-icon k-i-close"></span>
    </div>
    <div psKendoDialogBody class="dialog-body">
      <div class="body-top">
        <ps-filter-textbox [listField]="['Barcode', 'TypePartItemName']" [hasLabel]="false"
          [placeholder]="'Tìm kiếm theo thông tin phụ tùng'" (onFilter)="onSearchBarcode($event)">
        </ps-filter-textbox>
        <ps-kendo-button [theme]="'primary'" [disabled]="listCheckedCount == 0"
          (onClick)="UpdateListIODetail(listItemChecked)">
          {{ listCheckedCount == 0 ? 'Chưa có phụ tùng' : 'thêm ' +
          listCheckedCount + ' phụ tùng'}}
        </ps-kendo-button>
      </div>
      <div class="body-bottom">
        <ps-kendo-grid class="grid  grid-1" [data]="dataPartItem | async" [pageable]="true" [skip]="skipAdd"
          [pageSize]="takeAdd" (pageChanged)="onPagePArtItemChanged($event)" [hasColumnCheckbox]="true"
          (checkboxChange)="checkboxChange($event)">
          <kendo-grid-column class="barcode-col" [sticky]="true" [width]="150" field="Barcode" title="Barcode">
          </kendo-grid-column>

          <kendo-grid-column class="type-col" headerClass="type-col" [width]="250" title="Loại phụ tùng"
            field="TypePartItemName">
          </kendo-grid-column>

          <kendo-grid-column class="position-col" headerClass="position-col" [width]="350" title="Vị trí xếp hàng">
            <ng-template kendoGridCellTemplate let-dataItem>
              <ng-container *ngIf="formatListLocation(dataItem.ListLocation) as result">
                <div [title]="result.fullText" class="inventory-name">
                  {{ result.shortText }}
                </div>
              </ng-container>
            </ng-template>
          </kendo-grid-column>
        </ps-kendo-grid>
      </div>
    </div>
  </ps-kendo-dialog>
  <!-- END: DIALOG THÊM PHỤ TÙNG -->
</div>