<div class="body-container">

  <!-- BREADCRUM -->
  <div class="breadcrum">
    <ps-toolbar-top class="breadcrumb-content">
      <ps-kendo-button *ngIf="FunctionPermissionDTOs.creator || FunctionPermissionDTOs.master" [theme]="'primary'"
        (click)="onAddUpdateStore()">
        tạo mới
      </ps-kendo-button>
    </ps-toolbar-top>
  </div>

  <!-- BODY -->
  <div class="body">
    <!-- BLOCK 1 -->
    <div class="block1-container">
      <div class="body-head">
        <h1>thông tin phân loại phụ tùng
        </h1>
        <span class="open-close" (click)="OpenBlock1()">
          {{isExpand ? 'Thu gọn' : 'Mở rộng'}}
        </span>
      </div>
      <div class="block-1">
        <div class="block-1-content">
          <div class="content-col-1">
            <ps-kendo-textbox [label]="'Mã phụ tùng'" [(ngModel)]="partItem.Barcode"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1"
              (blur)="onFieldChanged($event, 'Barcode')"
              (focus)="onCheckFieldChange(partItem, 'Barcode')"></ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Mã nội bộ'" [hidden]="!isExpand" [(ngModel)]="partItem.Poscode"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1"
              (blur)="onFieldChanged($event, 'Poscode')"
              (focus)="onCheckFieldChange(partItem, 'Poscode')"></ps-kendo-textbox>
            <ps-kendo-numeric-textbox [label]="'Giá bán lẻ'" inputmode="numeric" [hidden]="!isExpand"
              [(ngModel)]="partItem.UnitPrice"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
              (blur)="onFieldChanged($event, 'UnitPrice')"
              (focus)="onCheckFieldChange(partItem, 'UnitPrice')"></ps-kendo-numeric-textbox>
            <ps-kendo-dropdown-list [data]="listLSList" [label]="'Đơn vị tính'" [(ngModel)]="partItem.BaseUnit"
              textField="ListName" valueField="TypeOfList" [hidden]="!isExpand"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
              (valueChange)="onFieldChanged($event, 'BaseUnit')" [valuePrimitive]="true">
            </ps-kendo-dropdown-list>
          </div>
          <div class="content-col-2">
            <div class="col-2-row-1">
              <ps-kendo-dropdown-list class="category" [label]="'Phân nhóm'" [data]="listCategory" textField="Category"
                [(ngModel)]="partItem.PartCategory" valueField="Code" [valuePrimitive]="true"
                (valueChange)="onFieldChanged($event, 'PartCategory')"
                [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list class="type" [label]="'Loại phụ tùng'" [data]="listTypeOfPart"
                textField="TypeOfPart" [(ngModel)]="partItem.TypeOfPart" valueField="Code" [valuePrimitive]="true"
                (valueChange)="onFieldChanged($event, 'TypeOfPart')"
                [disabled]="!partItem.PartCategory || FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list class="type-detail" [data]="listTypeOfPartSpec" [label]="'Chi tiết loại phụ tùng'"
                valueField="Code" textField="TypeOfPartSpecs" (valueChange)="onFieldChanged($event, 'TypeOfPartSpecs')"
                [(ngModel)]="partItem.TypeOfPartSpecs" [valuePrimitive]="true"
                [disabled]="!partItem.TypeOfPart || FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"></ps-kendo-dropdown-list>
            </div>
            <ps-kendo-textbox class="receipt-name" [label]="'Tên xuất hóa đơn'" [hidden]="!isExpand"
              [(ngModel)]="partItem.TypePartItemName"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
              (blur)="onFieldChanged($event, 'TypePartItemName')"
              (focus)="onCheckFieldChange(partItem, 'TypePartItemName')"></ps-kendo-textbox>
            <div class="col-2-row-3">
              <ps-kendo-dropdown-list class="producer" [label]="'Nhà cung cấp'" [hidden]="!isExpand"
                [data]="listSupplier" textField="Name" valueField="Code" [valuePrimitive]="true"
                (valueChange)="onFieldChanged($event, 'Supplier')" [(ngModel)]="partItem.Supplier"
                [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0">
              </ps-kendo-dropdown-list>
              <ps-kendo-textbox class="manufactor" [label]="'Nhà sản xuất'" [hidden]="!isExpand"
                [(ngModel)]="partItem.Manufacturer"
                [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
                (blur)="onFieldChanged($event, 'Manufacturer')"
                (focus)="onCheckFieldChange(partItem, 'Manufacturer')"></ps-kendo-textbox>
            </div>
            <div class="col-2-row-4">
              <ps-kendo-textbox class="origin" [label]="'Xuất xứ'" [hidden]="!isExpand" [(ngModel)]="partItem.Origin"
                [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
                (blur)="onFieldChanged($event, 'Origin')"
                (focus)="onCheckFieldChange(partItem, 'Origin')"></ps-kendo-textbox>
              <div class="col-2-row-4-right">
                <ps-kendo-dropdown-list class="business-status" [data]="listStatusWhole"
                  [label]="'Tình trạng kinh doanh'" [hidden]="!isExpand" [(ngModel)]="partItem.StatusWhole"
                  valueField="TypeOfStatus" textField="StatusName" [valuePrimitive]="true"
                  [disabled]="FunctionPermissionDTOs.approver || partItem.Code == 0"
                  (valueChange)="onFieldChanged($event, 'StatusWhole')"></ps-kendo-dropdown-list>
                <ps-kendo-dropdown-list class="purchase-status" [data]="listStatusBuy" [label]="'Tình trạng mua hàng'"
                  [hidden]="!isExpand" [(ngModel)]="partItem.StatusBuyer" valueField="TypeOfStatus"
                  textField="StatusName" [valuePrimitive]="true"
                  [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0"
                  (valueChange)="onFieldChanged($event, 'StatusBuyer')"></ps-kendo-dropdown-list>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BLOCK 2 -->
    <div class="block2-container" *ngIf="partItem.Code != 0">
      <div class="block2-content">
        <div class="body-head">
          <h1>danh sách xe thích hợp
          </h1>
        </div>
        <!-- LIST -->
        <div class="list">
          <ps-kendo-grid [data]="data | async" [hasColumnAction]="false" [pageable]="false">
            <!-- Xe -->
            <kendo-grid-column class="name-vehicle-col" [width]="180" title="Dòng xe">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <ps-kendo-dropdown-list [popupSettings]="{ animate: true, appendTo: 'root' }"
                  *ngIf="isOpenDropdown && editingRowIndex === rowIndex && editingField === 'TypeOfVehicle'"
                  #dropdownRef [data]="listTypeOfVehicle" textField="TypeOfVehicle" valueField="Code"
                  [(ngModel)]="dataItem.TypeOfVehicle" [valuePrimitive]="true" (valueChange)="onValueChanged(dataItem)"
                  (focusout)="closeDropdown()">
                </ps-kendo-dropdown-list>
                <!-- Dropdown khi đang chỉnh sửa -->

                <!-- Hiển thị dạng text khi không edit -->
                <div [ngClass]="[
    FunctionPermissionDTOs.approver ? 'disable-block' : '',
    !dataItem.TypeOfVehicleName?.trim() ? 'hint-text' : ''
  ]" *ngIf="!(isOpenDropdown && editingRowIndex === rowIndex && editingField === 'TypeOfVehicle')"
                  (dblclick)="!dataItem.TypeOfVehicleName?.trim() && onOpenList('TypeOfVehicle', rowIndex)">
                  {{ !dataItem.TypeOfVehicleName?.trim() ? 'Ấn đúp để chỉnh sửa' : dataItem.TypeOfVehicleName }}
                </div>

              </ng-template>
            </kendo-grid-column>

            <!-- Dòng xe -->
            <kendo-grid-column class="type-vehicle-col" [width]="400" title="Loại xe">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">

                <!-- Dropdown hiển thị khi đang edit -->
                <ps-kendo-dropdown-list [popupSettings]="{ animate: true, appendTo: 'root' }"
                  *ngIf="isOpenDropdown && editingRowIndex === rowIndex && editingField === 'VehicleName'" #dropdownRef
                  [data]="listVehicle || []" textField="VehicleName" valueField="Code" [(ngModel)]="dataItem.Vehicle"
                  [valuePrimitive]="true" (valueChange)="onValueChanged(dataItem)" (focusout)="closeDropdown()">
                </ps-kendo-dropdown-list>

                <!-- Hiển thị dòng text khi không edit -->
                <div [ngClass]="[
    FunctionPermissionDTOs.approver || dataItem.ColorVehicleName != null ? 'disable-block' : '',
    !dataItem.VehicleName?.trim() ? 'hint-text' : ''
  ]" *ngIf="!(isOpenDropdown && editingRowIndex === rowIndex && editingField === 'VehicleName')"
                  (dblclick)="onOpenList('VehicleName', rowIndex)">
                  {{ !dataItem.VehicleName?.trim() ? 'Ấn đúp để chỉnh sửa sau khi chọn xe' : dataItem.VehicleName
                  }}
                </div>

              </ng-template>
            </kendo-grid-column>

            <!-- Đời xe -->
            <kendo-grid-column class="born-vehicle-col" [width]="100" title="Đời xe">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div>{{dataItem.VehicleVersion || '\u00A0' }}</div>
              </ng-template>
            </kendo-grid-column>
            <!-- Màu sắc -->
            <kendo-grid-column class="color-vehicle-col" [width]="140" title="Màu sắc">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <ps-kendo-dropdown-list [popupSettings]="{ animate: true, appendTo: 'root' }"
                  *ngIf="isOpenDropdown && editingRowIndex === rowIndex && editingField === 'ColorVehicleName'"
                  #dropdownRef [data]="listVehicleColor" textField="ColorName" valueField="Code"
                  [(ngModel)]="dataItem.VehicleColor" [valuePrimitive]="true" (valueChange)="onValueChanged(dataItem)"
                  (focusout)="closeDropdown()">
                </ps-kendo-dropdown-list>
                <div [ngClass]="[
    FunctionPermissionDTOs.approver || dataItem.ColorVehicleName != null ? 'disable-block' : '',
    !dataItem.ColorVehicleName?.trim() ? 'hint-text' : ''
  ]" *ngIf="!(isOpenDropdown && editingRowIndex === rowIndex && editingField === 'ColorVehicleName')"
                  (dblclick)="onOpenList('ColorVehicleName', rowIndex)">
                  {{ !dataItem.ColorVehicleName?.trim() ? 'Ấn đúp để chỉnh sửa' : dataItem.ColorVehicleName }}
                </div>

              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [sticky]="true" class="delete-col" [width]="40" title="">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <span class="k-icon k-font-icon k-i-trash clickable"
                  [ngClass]="FunctionPermissionDTOs.approver? 'disable-block' : ''" (click)="onDeleteClick(dataItem)">
                </span>
              </ng-template>
            </kendo-grid-column>
          </ps-kendo-grid>
          <button class="add-btn" (click)="onAddNew()"
            [ngClass]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 ? 'disable-block' : ''">
            + Thêm mới
          </button>
        </div>
      </div>
      <div class="upload-area">
        <kendo-label text="hình ảnh sản phẩm"></kendo-label>
        <div class="drop-zone">
          <div class="map">
            <img src="{{imageActive || partItem.URLThumbImage}}" class="map-image" alt="" />
            <ps-kendo-button (onClick)="onOpen()" [theme]="'primary-outline'"
              [disabled]="FunctionPermissionDTOs.approver || partItem.StatusWhole == 1 || partItem.Code == 0">
              <img src="../../../../../assets/images/icons/import.png" alt />
            </ps-kendo-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ps-dialog-upload [(open)]="isOpen" [files]="listimage" [keyPathUpload]="'LSPartItem'"
  (fileDoubleClick)="onFileChosen($event)" (upload)="onUploadFile()" (delete)="onDeleteFile()">
</ps-dialog-upload>