@import "../../../../../../src/assets/scss/colors";

::ng-deep {
  prt012-item-detail {
    .body-container {
      overflow: hidden;
      height: 100%;

      .breadcrum {
        padding-right: 10px;
        height: 45px;

        .top-action {
          display: flex;
          gap: 10px;
        }
      }

      .body {
        height: calc(100% - 45px);
        white-space: nowrap;
        overflow-y: auto;
        overflow-x: hidden;
        text-overflow: ellipsis;
        padding-right: 10px;

        // BLOCK 1
        .block1-container,
        .block2-container {
          .body-head {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;

            h1 {
              text-transform: uppercase;
              font-size: 13px;
              font-weight: bold;
              color: $secondary;
              margin: 0;

              span {
                color: $primary;
                font-style: normal;
                font-size: 13px;
                font-weight: bold;
              }
            }

            .open-close {
              font-size: 10px;
              font-style: italic;
              color: $info;
              cursor: pointer;
              user-select: none;

              &:hover {
                opacity: 0.5;
              }
            }
          }

          .block-1 {
            overflow-x: auto;
            padding: 10px 10px 0 10px;
            background: $white;
            border-radius: 15px;
            margin-top: 5px;
            width: 100%;
            gap: 50px;

            .block-1-content {
              width: 100%;
              display: flex;
              overflow-x: auto;
              gap: 50px;
              padding-bottom: 10px;
            }

            .content-col-1 {
              min-width: 250px;
              width: 25%;
              display: flex;
              flex-direction: column;
              gap: 15px;
            }

            .content-col-2 {
              flex: 1;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .col-2-row-1 {
                width: 100%;
                display: flex;
                gap: 10px;

                .category,
                .type,
                .type-detail {
                  min-width: 250px;
                  width: calc(100% / 3);
                }
              }

              .col-2-row-3 {
                width: 100%;
                display: flex;
                gap: 10px;

                .producer,
                .manufactor {
                  min-width: 250px;
                  width: calc(100% / 2);
                }
              }

              .col-2-row-4 {
                width: 100%;
                display: flex;
                gap: 10px;

                .origin,
                .col-2-row-4-right {
                  width: calc(100% / 2);
                }

                .col-2-row-4-right {
                  display: flex;
                  gap: 10px;

                  .business-status,
                  .purchase-status {
                    width: calc(100% / 2);
                    display: flex;
                    gap: 10px;

                    .kendo-dropdown-list {
                      width: 100%;
                    }
                  }
                }
              }
            }
          }
        }

        .block2-container {
          width: 100%;
          height: 100%;
          overflow-x: auto;
          overflow-y: hidden;
          display: flex;
          gap: 10px;

          .body-head {
            padding-bottom: 5px;
          }

          .block2-content {
            display: flex;
            flex-direction: column;
            width: 63%;
            min-width: 692px;

            .list {
              width: 100%;
              height: 100%;
              padding: 10px 10px 0 10px;
              position: relative;
              background: #fff;
              border-radius: 10px;

              ps-kendo-grid {
                kendo-grid {
                  .k-grid-aria-root {
                    kendo-grid-list {
                      .k-grid-content {
                        max-height: calc(100% - 26px);
                        height: calc(100% - 26px);
                      }
                    }

                    kendo-grid-list {
                      .k-grid-content {
                        .k-grid-table-wrap {
                          table {
                            tbody {
                              tr {
                                height: 45px;

                                td {
                                  div {
                                    &.disable-block {
                                      pointer-events: none;
                                    }

                                    &.hint-text {
                                      opacity: 0.6;
                                      font-style: italic;
                                    }
                                  }
                                }

                                td:first-child {
                                  div {
                                    color: $primary;
                                    font-weight: bold;
                                  }
                                }

                                td:last-child {
                                  text-align: center;

                                  span {
                                    color: $error;
                                    filter: brightness(1.1);
                                    cursor: pointer;

                                    &.disable-block {
                                      pointer-events: none;
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }

            .add-btn {
              border: none;
              background: $white;
              color: $primary;
              font-weight: bold;
              width: calc(100% - 20px);
              position: absolute;
              bottom: 0;

              &:hover {
                filter: brightness(1.1);
              }

              &.disable-block {
                pointer-events: none;
              }
            }
          }

          .upload-area {
            min-width: 350px;
            height: 100%;
            flex: 1;

            kendo-label>.k-label {
              font-size: 13px;
              margin-top: 15px;
              font-weight: bold;
              text-transform: uppercase;
              padding-bottom: 2px;
            }

            .drop-zone {
              width: 100%;
              border-radius: 10px;
              height: calc(100% - 35px);
              background: $white;
              display: flex;
              align-items: center;
              justify-content: center;

              .map {
                &.disable-upload {
                  pointer-events: none;
                }

                .map-image {
                  height: 170px;
                  width: 265px;
                  position: absolute;
                }

                align-items: center;
                width: 80%;
                padding: 20%;
                display: flex;
                border: 2px dashed $primary;
                border-radius: 10px;
                background: $background-primary;
                justify-content: center;
                position: relative;

                ps-kendo-button {
                  img {
                    filter: brightness(1.2);
                  }

                  button {
                    background: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}