<div class="kendo-autocomplete">
  <kendo-label *ngIf="label != ''" class="k-display-block" [for]="textbox" text="{{label}}"></kendo-label>
  <kendo-autocomplete [data]="data1" placeholder="{{placeholder}}" (blur)="onBlur()" (focus)="onFocus()"
                      (valueChange)="onInternalValueChange($event)" [(ngModel)]="value" [disabled]="disabled"
                      [style.width.px]="width" [ngClass]="{ 'hasPrefix': hasPrefix }" [valueField]="valueField"
                      [filterable]="filterable" (filterChange)="handleFilter($event)" [popupSettings]="popupSettings">
    <ng-template *ngIf="itemTemplate" kendoAutoCompleteItemTemplate let-dataItem>
      <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: dataItem }"></ng-container>
    </ng-template>
    <ng-template kendoAutoCompleteNoDataTemplate>
      Không có lựa chọn nào
    </ng-template>
  </kendo-autocomplete>
</div>