<ps-kendo-drawer-container [title]="'thông tin cửa hàng'" [expanded]="expanded" (collapse)="onCollapse($event)">
  <ng-container psKendoDrawerTemplate>
    <div class="body-drawer">
      <!-- mã cửa hàng, tên viết tắt -->
      <div class="group-input">
        <ps-kendo-textbox class="tb_id" [label]="'Mã cửa hàng (*)'" [(ngModel)]="head.HeadID"
                          [disabled]="disabledrawer('HeadID')">
        </ps-kendo-textbox>
        <div class="group-name-setting">
          <kendo-label text="Thiết lập điều hàng" class="setting-lable" *ngIf="head.StatusID == status.APPROVED" (click)="onopenpopuptransfer()">
          </kendo-label>
          <ps-kendo-textbox class="tb_name" [label]="'Tên viết tắt (*)'" [(ngModel)]="head.BriefName"
                            [disabled]="disabledrawer('BriefName')">
          </ps-kendo-textbox>
        </div>
      </div>

      <!-- tên kinh doanh -->
      <ps-kendo-textbox class="tb_trade" [label]="'Cửa hàng (*)'" [(ngModel)]="head.TradeName"
                        [disabled]="disabledrawer('TradeName')">
      </ps-kendo-textbox>

      <!-- loại cửa hàng -->
      <ps-kendo-dropdown-list [data]="typedatalist" [textField]="'ListName'" [valueField]="'TypeOfList'"
                              [label]="'Loại cửa hàng (*)'" [valuePrimitive]="true" [(ngModel)]="head.TypeData"
                              [disabled]="disabledrawer('TypeData')">
      </ps-kendo-dropdown-list>

      <!-- cửa hàng quản lý -->
      <ps-kendo-dropdown-list [data]="headmanagement" [textField]="'BriefName'" [valueField]="'Code'"
                              [label]="'Cửa hàng quản lý'" [valuePrimitive]="true" [(ngModel)]="head.ReportToHead"
                              [disabled]="disabledrawer('ReportToHead')">
      </ps-kendo-dropdown-list>

      <!-- tỉnh thành -->
      <ps-kendo-dropdown-list [data]="provincelsit" [textField]="'VNProvince'" [valueField]="'Code'" [filterable]="true"
                              [label]="'Tỉnh/thành'" [valuePrimitive]="true" [(ngModel)]="head.Province"
                              (valueChange)="onValueChangeProvince()" [disabled]="disabledrawer('Province')">
      </ps-kendo-dropdown-list>

      <!-- quận huyện thị xã -->
      <ps-kendo-dropdown-list [data]="districtlsit" [textField]="'VNDistrict'" [valueField]="'Code'" [filterable]="true"
                              [label]="'Quận/huyện/thị xã'" [valuePrimitive]="true" [(ngModel)]="head.District"
                              [disabled]="disabledrawer('District')" (valueChange)="onValueChangeDisctrict()">
      </ps-kendo-dropdown-list>

      <!-- phường xã -->
      <ps-kendo-dropdown-list [data]="wardlsit" [textField]="'VNWard'" [valueField]="'Code'" [filterable]="true"
                              [label]="'Phường/xã'" [valuePrimitive]="true" [(ngModel)]="head.Ward"
                              [disabled]="disabledrawer('Ward')">
      </ps-kendo-dropdown-list>

      <!-- địa chỉ cụ thể -->
      <ps-kendo-textarea [label]="'Địa chỉ  cụ thể'" [(ngModel)]="head.Address" [disabled]="disabledrawer('Address')">
      </ps-kendo-textarea>

      <!-- Số điện thoại, Số fax -->
      <div class="group-input">
        <ps-kendo-textbox class="tb_contact" [label]="'Số điện thoại'" [(ngModel)]="head.Phone"
                          [disabled]="disabledrawer('Phone')">
        </ps-kendo-textbox>
        <ps-kendo-textbox class="tb_contact" [label]="'Số fax'" [(ngModel)]="head.Fax"
                          [disabled]="disabledrawer('Fax')">
        </ps-kendo-textbox>
      </div>

      <!-- Vị trí head trên map -->
      <div class="location-map">
        <kendo-label text="Vị trí head trên map"></kendo-label>
        <div class="map">
          <img src="{{imageActive}}" class="map-image" alt="">
          <ps-kendo-button (onClick)="onOpen()" [theme]="'primary-outline'" [disabled]="disabledrawer('ImageMap')">
            <img src="../../../../../assets/images/icons/import.png" alt />
          </ps-kendo-button>
        </div>
      </div>

      <!-- thiết lập thông số hệ thống -->
      <ps-kendo-textarea [label]="'Thiết lập thông số hệ thống'" [height]="150" [maxHeight]="150"
                         [(ngModel)]="head.ConfigExt" [disabled]="disabledrawer('ConfigExt')">
      </ps-kendo-textarea>

      <!-- trạng thái -->
      <div class="status-name">
        <kendo-label text="Trạng thái"></kendo-label>
        <div [innerHTML]="{ Status: head.StatusID, StatusName: head.StatusName } | ProcessStatus">
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container psKendoDrawerFooterTemplate>
    <div class="edit-group" *ngIf="!disabledrawer()">
      <ps-kendo-button [theme]="'error'" (onClick)="ondeletestore()">xoá</ps-kendo-button>
    </div>
    <div class="edit-group" *ngIf="!disabledrawer()">
      <ps-kendo-button [theme]="'primary'" *ngIf="head.Code != 0" (onClick)="onAddUpdateStore()">
        cập nhật
      </ps-kendo-button>
      <ps-kendo-button [theme]="'primary'" *ngIf="head.Code == 0" (onClick)="onAddUpdateStore()">
        tạo mới
      </ps-kendo-button>
    </div>
    <div class="status-group">
      <ps-kendo-button [theme]="'warning'" *ngIf="statusactionactive('sent')"
                       (onClick)="onActionClick({action: status.SENT, data: head})">
        gửi duyệt
      </ps-kendo-button>
      <ps-kendo-button [theme]="'error'" *ngIf="statusactionactive('noapproved')"
                       (onClick)="onActionClick({action: status.NOTAPPROVED, data: head})">
        không duyệt
      </ps-kendo-button>
      <ps-kendo-button [theme]="'primary-outline'" *ngIf="statusactionactive('approved')"
                       (onClick)="onActionClick({action: status.APPROVED, data: head})">
        duyệt
      </ps-kendo-button>
      <ps-kendo-button [theme]="'error-outline'" *ngIf="statusactionactive('stop')"
                       (onClick)="onActionClick({action: status.STOP, data: head})">
        ngưng áp dụng
      </ps-kendo-button>
      <ps-kendo-button [theme]="'warning-outline'" *ngIf="statusactionactive('return')"
                       (onClick)="onActionClick({action: status.RETURN, data: head})">
        trả về
      </ps-kendo-button>
    </div>
  </ng-container>

  <!-- START: DRAWER BODY -->

  <!-- START: HEADER TOOL -->
  <ps-toolbar-top>
    <ps-kendo-button (onClick)="onExpanded()" [theme]="'primary'">tạo mới</ps-kendo-button>
  </ps-toolbar-top>
  <!-- END: HEADER TOOL -->

  <!-- START: FILTER -->
  <div class="ps-filter-bar">
    <ps-filter-textbox [placeholder]="'Tìm kiếm dữ liệu cửa hàng'" [listField]="listfiltertext"
                       (onFilter)="textFilterChange($event)">
    </ps-filter-textbox>
    <ps-filter-status class="filter-bar" [clearDisabled]="isDisabledClear" [resetDisabled]="isDisabledReset"
                      [field]="'StatusID'" (statusChanged)="statusFilterChange($event)"
                      (statusClear)="statusFilterClear($event)" (statusReset)="statusFilterClear($event)"
                      [type]="typefilter">
    </ps-filter-status>
  </div>
  <!-- END: FILTER -->

  <!-- START: LIST -->
  <div class="list">
    <ps-kendo-grid [data]="data | async" actionColumnWidth="50" [actionColumnData]="actionColumn"
                   (btnActionFocus)="onActionColumnFocus($event)" [hasColumnAction]="true"
                   (actionSelected)="onActionClick($event)" (pageChanged)="onPageChanged($event)" [skip]="skip">

      <kendo-grid-column [width]="250" title="Cửa hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="store-infor">
            <span>{{dataItem.TradeName}}</span>
            <div class="infor-detail">
              <span>{{dataItem.HeadID}}</span>
              <div class="detail-separator">|</div>
              {{dataItem.BriefName}}
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="100" field="TypeDataName" title="Loại cửa hàng"></kendo-grid-column>

      <kendo-grid-column [width]="200" field="ReportToHeadName" title="Head quản lý"></kendo-grid-column>

      <kendo-grid-column [width]="500" title="Địa chỉ liên hệ">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="address-infor">
            <div class="infor-full-address">{{dataItem.FullAddress}}</div>
            <div class="infor-contact">
              <div *ngIf="dataItem.Phone != '' && dataItem.Phone != null && dataItem.Phone != undefined">
                <span>Điện thoại:</span> {{dataItem.Phone}}
              </div>
              <div *ngIf="dataItem.Fax != '' && dataItem.Fax != null && dataItem.Fax != undefined">
                <span>FAX:</span> {{dataItem.Fax}}
              </div>
            </div>
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column [width]="130" [sticky]="true" title="Trạng thái">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [innerHTML]="{ Status: dataItem.StatusID, StatusName: dataItem.StatusName } | ProcessStatus">
          </div>
        </ng-template>
      </kendo-grid-column>

    </ps-kendo-grid>
  </div>
  <!-- END: LIST -->

  <!-- END: DRAWER BODY -->

  <!-- START: DIALOG DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="isshowpopupdelete">
    <div psDialogConfirmHeader>xoá cửa hàng</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá cửa hàng</span>
        <br>
        <div class="hightline">{{head.BriefName}}</div>
      </div>
      <div class="sub-title">
        Cửa hàng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="isshowpopupdelete = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="deletestore()" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DIALOG DELETE DIALOG -->

  <ps-dialog-upload [(open)]="isOpen" [files]="listimage" [keyPathUpload]="'LSHead'"
                    (fileDoubleClick)="onFileChosen($event)" (upload)="onUploadFile()" (delete)="onDeleteFile()">
  </ps-dialog-upload>

  <!-- START: DIALOG TRANFORM MAP -->
  <ps-kendo-dialog [open]="isOpenTransfer">
    <div psKendoDialogHeader class="header">THứ TỰ ĐIỀU HÀNG</div>
    <div psKendoDialogBody class="body">
      <div class="body-title">
        <span class="sub-title">Thứ tự điều xe máy, phụ tùng từ các cửa hàng tới</span>
        <span class="title">{{head.TradeName}}</span>
        <span class="sub-title">như sau:</span>
      </div>
      <div class="body-content">
        <div class="content-item" *ngFor="let item of liststoretransfer;  let i = index" [ngClass]="{'active': i % 2 == 0}">
          <div class="item-name">
            <span class="item-name-text">{{item.FromHeadTradeName}}</span>
            <div class="grop-name">
              <span class="item-id-text">{{item.FromHeadID}}</span> |
              <span class="item-name-text">{{item.FromHeadBriefName}}</span>
            </div>
          </div>
          <div class="status" [innerHTML]="{ Status: item.FromHeadStatus, StatusName: item.FromHeadStatusName } | ProcessStatus">
          </div>
          <div class="content-input">
            <ps-kendo-numeric-textbox [format]="'n0'" [(ngModel)]="item.OrderBy" (blur)="ontransferblur(i)"></ps-kendo-numeric-textbox>
          </div>
        </div>
      </div>
    </div>
    <div psKendoDialogFooter class="footer">
      <ps-kendo-button (onClick)="isOpenTransfer = false">Đóng</ps-kendo-button>
      <ps-kendo-button [theme]="'primary'" (onClick)="onclicksavetransfer()">Lưu</ps-kendo-button>
    </div>
  </ps-kendo-dialog>
  <!-- END: DIALOG TRANFORM MAP -->
</ps-kendo-drawer-container>