<div class="ath003">
    <!-- START: HEADER -->
    <ps-header-main>
        <div class="store" (click)="onselectstore()">
            <div class="group-name">
                <div class="short-name playfair-display">{{headActive.HeadName}}</div>
            </div>
        </div>
    </ps-header-main>
    <!-- END: HEADER -->

    <!-- START: BODY -->
    <div class="body">
        <div class="scroll">
            <div class="title">
            </div>
            <!-- START: MODULE -->
            <div class="module" *ngFor="let module of datamodule">
                <div class="title">
                    <div class="label">
                        {{module.ModuleName}}
                    </div>
                </div>

                <div class="function">
                    <ps-kendo-button *ngFor="let function of module.ListFunction" (onClick)="onclickfunction(function)">
                        <span class="material-icons">{{function.Icon}}</span>
                        <div class="function-name" [innerHTML]="function.FunctionName"></div>
                    </ps-kendo-button>
                </div>
            </div>
            <!-- END: MODULE -->
        </div>
    </div>
    <!-- END: BODY -->

    <!-- START: FOOTER COPYRIGHT -->
    <ps-footer-copyright></ps-footer-copyright>
    <!-- END: FOOTER COPYRIGHT -->
</div>