<div class="mtb011-retail-vehicle">
    <!-- START: HEADER -->
    <ps-header-back (click)="show = false">
        <div class="left-side">
            <div class="func-title1">Tư vấn bán hàng</div>
            <div class="func-title2">Danh sách xe máy</div>
        </div>
        <div class="right-side">
            <div>
                Số phiếu: <span>{{retailMaster.ID}}</span>
            </div>
            <div #wrapper class="marquee-wrapper" (click)="onNavigate('/mtbike/consultant/detail')">
                <div #content class="marquee-content">
                    {{retailMaster.CustomerName != null && retailMaster.CustomerName != undefined ?
                    retailMaster.CustomerName + ' |' : ''}}
                    {{retailMaster.CustomerPhone}}
                </div>
            </div>
        </div>
    </ps-header-back>
    <!-- END: HEADER -->

    <!-- START: TOOL BAR -->
    <div class="action-tabs">
        <div class="filter-box" (click)="onFocus()">
            <ps-kendo-textbox #anchor [(ngModel)]="keyword" (ngModelChange)="updateTags()">
            </ps-kendo-textbox>

            <div class="tags" *ngIf="!show && activeTags.length > 0">
                <div class="category" *ngFor="let groupName of activeTags">
                    {{ groupName }}
                </div>
            </div>
        </div>
        <kendo-popup class="filter-popup" *ngIf="show" [anchor]="anchor.element">
            <div class="content">
                <div class="vehicle-category">
                    <div class="row-1">
                        <div class="title">Phân nhóm xe</div>
                        <div class="delete" (click)="clearCategoryFilter()">Xóa</div>
                    </div>
                    <div class="row-2">
                        <div [class.active]="selectedCategoryCodes.includes(category.Code)"
                            *ngFor="let category of liseVehicleCategory.ListVehicleCategory"
                            (click)="toggleCategory(category.Code)">
                            {{category.Category}}
                        </div>
                    </div>
                </div>

                <div class="vehicle-category">
                    <div class="row-1">
                        <div class="title">Dòng xe</div>
                        <div class="delete" (click)="clearVehicleTypeFilter()">Xóa</div>
                    </div>
                    <div class="row-2">
                        <div [class.active]="selectedVehicleCodes.includes(type.Code)"
                            *ngFor="let type of filteredTypeOfVehicle" (click)="toggleVehicleType(type.Code)">
                            {{type.TypeOfVehicle}}
                        </div>
                    </div>
                </div>

                <div class="vehicle-category">
                    <div class="row-1">
                        <div class="title">Màu xe</div>
                        <div class="delete" (click)="clearColorFilter()">Xóa</div>
                    </div>
                    <div class="row-2">
                        <div [class.active]="isColorHighlighted(color)" *ngFor="let color of filteredVehicleColors"
                            (click)="toggleColor(color.ColorName)">
                            {{color.ColorName}}
                        </div>
                    </div>
                </div>

                <div class="price">
                    <div class="row-1">
                        <div class="title">Khoảng giá</div>
                        <div class="delete" (click)="clearPriceFilter()">Xóa</div>
                    </div>
                    <div class="row-2">
                        <div class="display">
                            <ps-kendo-numeric-textbox id="min" [(ngModel)]="minValue"
                                (ngModelChange)="onMinInputChange($event)">
                            </ps-kendo-numeric-textbox>
                            <ps-kendo-numeric-textbox id="max" [(ngModel)]="maxValue"
                                (ngModelChange)="onMaxInputChange($event)">
                            </ps-kendo-numeric-textbox>
                            <div class="connect-line"></div>
                        </div>

                        <div class="range">
                            <div class="input">
                                <input id="rangeMin" type="range" [max]="max" [min]="min" step="1000000"
                                    [(ngModel)]="minValue" (input)="onMinChange()">
                                <input id="rangeMax" type="range" [max]="max" [min]="min" step="1000000"
                                    [(ngModel)]="maxValue" (input)="onMaxChange()">
                            </div>
                            <div class="slide">
                                <div class="line" id="line" [ngStyle]="lineStyle"></div>
                                <span class="thumb" id="thumbMin" [ngStyle]="thumbMinStyle"></span>
                                <span class="thumb" id="thumbMax" [ngStyle]="thumbMaxStyle"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="filter-btn">
                    <ps-kendo-button (click)="clearAllFilters()">
                        <span class="text">Xóa bộ lọc</span>
                    </ps-kendo-button>
                    <ps-kendo-button [theme]="'primary'">
                        <span class="text" (click)="onClose()">Lọc</span>
                    </ps-kendo-button>
                </div>
            </div>
        </kendo-popup>
        <ps-kendo-button class="tool-btn" (click)="onCartFilter(); show = false" [class.active-cart]="isCartFilter">
            <span class="material-icons">shopping_cart</span>
            <span class="total">{{OrderTotal}}</span>
        </ps-kendo-button>
        <ps-kendo-button class="tool-btn" (click)="onFavoriteFilter(); show = false"
            [class.active-fav]="isFollowFilter">
            <span class="material-icons">favorite</span>
        </ps-kendo-button>
        <ps-kendo-dropdown-list (click)="show = false" (valueChange)="onSortChange($event)"
            [(ngModel)]="currentSortCode" [data]="listsortcopy" [textField]="'Name'" [valueField]="'Code'"
            [valuePrimitive]="true"></ps-kendo-dropdown-list>
    </div>
    <!-- END: TOOL BAR  -->

    <!-- START: BODY -->
    <div class="retail-body" (click)="show = false">
        <ng-container *ngIf="!isFilterApplied && currentSortCode != 3 && currentSortCode != 4">
            <div class="product-list" *ngFor="let card of listSalVehicle; let i = index">
                <div class="top-content" [class.border-card]="isCollapsed(i)">
                    <div class="row-1">
                        {{card.TypeOfVehicleName}} | {{card.VehicleName}}
                    </div>
                    <div class="row-2"><span>{{card.MinPrice | number}}đ <span *ngIf="card.MinPrice != card.MaxPrice">-
                                {{card.MaxPrice | number}}đ </span></span>
                    </div>
                    <span class="arrow" (click)="toggleCard(i); $event.stopPropagation()">
                        <span class="material-icons">
                            {{ isCollapsed(i) ? 'keyboard_arrow_down' : 'keyboard_arrow_up' }}
                        </span>
                    </span>
                </div>
                <div class="bot-content" *ngIf="!isCollapsed(i)">
                    <div class="bot-content-list" *ngFor="let item of card.ListVehicleColor">
                        <div class="column-1">
                            <img [src]="sanitizeImageUrl(item.ImageSetting1)">
                            <span class="care" *ngIf="item.IsSelected && item.OtherOrderQuantity"
                                [class.higher]="item.OtherOrderQuantity < (item.ListStock[0].Quantity + item.ListStock[1].Quantity) "
                                [class.equal]="item.OtherOrderQuantity == (item.ListStock[0].Quantity + item.ListStock[1].Quantity) ">SL
                                quan tâm ({{item.OtherOrderQuantity}})</span>
                        </div>
                        <div class="column-2">
                            <div class="row-1">
                                <div class="color">
                                    <span class="material-icons">palette</span>
                                    <span>{{item.ColorName}}</span>
                                    <span *ngIf="item.IsSelected" class="material-icons check">check_circle</span>
                                </div>
                                <div class="price">
                                    <span class="material-icons">paid</span>
                                    <span>{{item.Price | number}}đ</span>
                                </div>
                            </div>
                            <div class="row-2">
                                <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BUY)"
                                    *ngIf="item.ListStock[0].Quantity > 0" class="tool-btn" [theme]="'primary'">
                                    Mua xe
                                </ps-kendo-button>
                                <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.TRANSFER)"
                                    *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity > 0"
                                    class="tool-btn" [theme]="'warning'">
                                    Điều xe
                                </ps-kendo-button>
                                <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BOOK)"
                                    *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity <= 0"
                                    class="tool-btn" [theme]="'secondary'">
                                    Đặt xe
                                </ps-kendo-button>
                                <ps-kendo-button class="tool-btn ware-house"
                                    *ngIf="!item.ListStock[0].Quantity && item.ListStock[1].Quantity"
                                    (onClick)="showpopup = true; onGetStock(item, card)">
                                    <span class="material-icons">warehouse</span>
                                </ps-kendo-button>
                                <!-- <ps-kendo-button class="tool-btn ware-house"
                                    (onClick)="showpopup = true; onGetStock(itemitem
                                    
                                    <span class="material-icons">warehouse</span>
                                </ps-kendo-button> -->
                                <ps-kendo-button
                                    *ngIf="(item.BuyQuantity + item.TransferQuantity + item.BookingQuantity) > 0"
                                    class="tool-btn" [theme]="'error'" (onClick)="onDeleteVehicle(item)">
                                    Xóa
                                </ps-kendo-button>
                            </div>
                        </div>
                        <div class="compare-important">
                            <span [class.active-com]="item.IsCompare" class="material-icons"
                                (click)="onToggleCompare(item)">
                                copyright
                            </span>
                            <span [class.active-fav]="item.IsFollow" class="material-icons"
                                (click)="onToggleFollow(item)">
                                favorite
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isFilterApplied || currentSortCode == 3 || currentSortCode == 4">
            <div class="product-list2" *ngFor="let card of listSalVehicle">
                <div class="card-item" *ngFor="let item of card.ListVehicleColor">
                    <div class="column-1">
                        <div class="img-frame">
                            <img [src]="sanitizeImageUrl(item.ImageSetting1)" />
                        </div>
                        <span class="care" *ngIf="item.IsSelected && item.OtherOrderQuantity"
                            [class.higher]="item.OtherOrderQuantity < (item.ListStock[0].Quantity + item.ListStock[1].Quantity) "
                            [class.equal]="item.OtherOrderQuantity == (item.ListStock[0].Quantity + item.ListStock[1].Quantity) ">SL
                            quan tâm ({{item.OtherOrderQuantity}})</span>
                    </div>
                    <div class="column-2">
                        <div class="row-0">
                            {{card.TypeOfVehicleName}} | {{card.VehicleName}}
                        </div>
                        <div class="row-1">
                            <div class="color">
                                <span class="material-icons">palette</span>
                                <span>{{item.ColorName}}</span>
                                <span *ngIf="item.IsSelected" class="material-icons check">check_circle </span>
                                <span *ngIf="isCartFilter" class="cart-quantity">
                                    ({{ (item.BuyQuantity || 0) + (item.TransferQuantity || 0) + (item.BookingQuantity
                                    || 0) }})
                                </span>
                            </div>
                            <div class="price">
                                <span class="material-icons">paid</span>
                                <span>{{item.Price | number}}đ</span>
                            </div>
                        </div>
                        <div class="row-2">
                            <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BUY)"
                                *ngIf="item.ListStock[0].Quantity > 0" class="tool-btn" [theme]="'primary'">
                                Mua xe
                            </ps-kendo-button>
                            <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.TRANSFER)"
                                *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity > 0"
                                class="tool-btn" [theme]="'warning'">
                                Điều xe
                            </ps-kendo-button>
                            <ps-kendo-button (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BOOK)"
                                *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity <= 0"
                                class="tool-btn" [theme]="'secondary'">
                                Đặt xe
                            </ps-kendo-button>
                            <ps-kendo-button *ngIf="!item.ListStock[0].Quantity && item.ListStock[1].Quantity"
                                class="tool-btn ware-house" (onClick)="showpopup = true; onGetStock(item, card)">
                                <span class="material-icons">warehouse</span>
                            </ps-kendo-button>
                            <ps-kendo-button
                                *ngIf="(item.BuyQuantity + item.TransferQuantity + item.BookingQuantity) > 0"
                                class="tool-btn" [theme]="'error'" (onClick)="onDeleteVehicle(item)">
                                Xóa
                            </ps-kendo-button>
                        </div>
                    </div>
                    <div class="compare-important">
                        <span [class.active-com]="item.IsCompare" class="material-icons"
                            (click)="onToggleCompare(item)">
                            copyright
                        </span>
                        <span [class.active-fav]="item.IsFollow" class="material-icons" (click)="onToggleFollow(item)">
                            favorite
                        </span>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="compare-btn" *ngIf="currentCompareCount > 1" (click)="comparepopup = true; onShowCompare()">
            So sánh ({{ currentCompareCount }} xe)
        </div>
    </div>
    <!-- END: BODY -->

    <!-- START: FOOTER -->
    <ps-footer-action (click)="show = false">
        <ps-kendo-button (onClick)="onNavigate('/mtbike/consultant/detail')">
            <span class="material-icons">arrow_back</span>
        </ps-kendo-button>
        <ps-kendo-button (onClick)="onNavigate('/mtbike/consultant')">
            <span class="material-icons">list_alt</span>
        </ps-kendo-button>
        <ps-kendo-button [theme]="'error'" [disabled]="FunctionPermissionDTO.approver && !FunctionPermissionDTO.master" (onClick)="onCancel()">
            <span class="text">Hủy giao dịch</span>
        </ps-kendo-button>
        <ps-kendo-button (onClick)="onNavigate('/mtbike/consultant/cart')" [theme]="'primary'"
            [disabled]="FunctionPermissionDTO.approver && !FunctionPermissionDTO.master">
            <span class="text">Tiếp tục</span>
        </ps-kendo-button>

    </ps-footer-action>
    <!-- END: FOOTER -->


    <!-- START: POPUP STOCK-->
    <ps-dialog-confirm [open]="showpopup" class="dialog-stock">
        <div psDialogConfirmHeader>Tra cứu tồn xe</div>
        <div psDialogConfirmBody>
            <div class="main-title">
                <div class="top-content">
                    <div class="column-1">
                        <img [src]="sanitizeImageUrl(listStock.ImageSetting1)" />
                    </div>
                    <div class="column-2">
                        <div class="row-1">{{listStock.VehicleName}} | {{listStock.TypeOfVehicleName}}</div>
                        <div class="row-2">
                            <div class="color">
                                <span class="material-icons">palette</span>
                                <span>{{listStock.ColorName}}</span>
                            </div>
                            <div class="price">
                                <span class="material-icons">paid</span>
                                <span>{{listStock.Price | number}}đ</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bot-content">
                    <div class="bot-title">
                        TỒN KHO CỬA HÀNG
                    </div>
                    <div class="bot-list">
                        <div class="item" *ngFor="let item of listStock.ListStock">
                            <div [class.out-of-stock]="item.IsOutOfStock" [class.is-local]="item.IsLocal"
                                class="head-name">{{item.BriefName}}</div>
                            <div [class.is-local]="item.IsLocal" class="head-quantity">
                                {{item.StockQuanlity}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div psDialogConfirmFooter (click)="showpopup = false">
            Đóng
        </div>
    </ps-dialog-confirm>
    <!-- END: POPUP STOCK -->

    <!-- START: POPUP COMPARE-->
    <ps-dialog-confirm [theme]="'error'" [open]="comparepopup" class="dialog-compare">
        <!-- <div class="test"> -->
        <div psDialogConfirmHeader>
            <div class="title">Thông số kỹ thuật</div>
            <span class="material-icons" (click)="comparepopup = false">
                close
            </span>
        </div>
        <div psDialogConfirmBody>
            <div class="compare-scroll-wrapper" #scrollWrapper>

                <div class="header-group-container">
                    <ng-container *ngFor="let row of mockSpecificationsMatrix; let i = index">

                        <div *ngIf="i < 3" #specRow class="spec-row header-row" (scroll)="onSpecRowScroll($event)">
                            <div class="label">{{ row.label || '' }}</div>
                            <div class="values" cdkDropList cdkDropListOrientation="horizontal"
                                (cdkDropListDropped)="onDropColumn($event)">
                                <ng-container *ngIf="i === 0">
                                    <div class="image-item" *ngFor="let item of row.listValue; let j = index" cdkDrag>
                                        <img [src]="sanitizeImageUrl(item.image)" />
                                        <span class="material-icons" cdkDragHandle>
                                            open_with
                                        </span>
                                        <span class="material-icons" (click)="onRemoveFromCompare(compareVehicles[j])">
                                            delete
                                        </span>
                                        <ng-template cdkDragPreview></ng-template>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="i !== 0">
                                    <span *ngFor="let v of row.listValue; let j = index" class="value-item"
                                        [class.text-different]="i !== 1 && j > 0 && v !== row.listValue[0]">
                                        {{ v || "-"}}
                                    </span>
                                </ng-container>
                            </div>
                        </div>

                        <div *ngIf="i === 2" #specRow class="spec-row button-row" (scroll)="onSpecRowScroll($event)">
                            <div class="label"></div>
                            <div class="values">
                                <div class="button-item" *ngFor="let item of compareVehicles; let j = index">
                                    <ng-container *ngIf="item">
                                        <ps-kendo-button *ngIf="item.ListStock[0].Quantity > 0"
                                            (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BUY)"
                                            [theme]="'primary'">
                                            Mua xe
                                        </ps-kendo-button>

                                        <ps-kendo-button
                                            *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity > 0"
                                            (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.TRANSFER)"
                                            [theme]="'warning'">
                                            Điều xe
                                        </ps-kendo-button>

                                        <ps-kendo-button
                                            *ngIf="item.ListStock[0].Quantity <= 0 && item.ListStock[1].Quantity <= 0"
                                            (onClick)="onBuyVehicle(item, SALOrderDetailTypeDataEnum.BOOK)"
                                            [theme]="'secondary'">
                                            Đặt xe
                                        </ps-kendo-button>

                                    </ng-container>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>

                <div class="body-group-container">
                    <ng-container *ngFor="let row of mockSpecificationsMatrix; let i = index">
                        <div *ngIf="i >= 3" #specRow class="spec-row body-row" (scroll)="onSpecRowScroll($event)">
                            <div class="label">{{ row.label }}</div>
                            <div class="values">
                                <span *ngFor="let v of row.listValue; let j = index" class="value-item"
                                    [class.text-different]="j > 0 && v !== row.listValue[0]">
                                    {{ v || "-"}}
                                </span>
                            </div>
                        </div>
                    </ng-container>
                </div>

            </div>
        </div>

    </ps-dialog-confirm>
    <!-- END: POPUP COMPARE -->
</div>