<div class="mtb-002">
  <!-- START: NAVIGATION-BAR -->
  <ps-toolbar-top>
    <ps-kendo-button [theme]="'error-outline'"
                     *ngIf="(somaster.Status == enumstt.NEW) && somaster.Code != 0 && (isCreator || isMaster)"
                     (onClick)="updatemasterstatus(enumstt.CANCLE, 'Huỷ')">
      huỷ
    </ps-kendo-button>
    <ps-kendo-button [theme]="'warning'"
                     *ngIf="(somaster.Status == enumstt.WATITINGDELIVERY) && (isApprover || isMaster)"
                     (onClick)="updatemasterstatus(enumstt.WATITINGREGISTER, 'Chờ đăng ký')">
      đã giao xe
    </ps-kendo-button>
    <ps-kendo-button [theme]="'primary'"
                     *ngIf="(somaster.Status == enumstt.NEW) && somaster.Code != 0 && (isCreator || isMaster)"
                     (onClick)="updatemasterstatus(enumstt.WATITINGDELIVERY, 'Chờ giao xe')">
      {{somaster.PaymentMethod == enumpayment ? 'đã thanh toán' : 'đã đặt cọc'}}
    </ps-kendo-button>
    <ps-kendo-button [theme]="'error'"
                     *ngIf="(somaster.Status == enumstt.NEW) && somaster.Code != 0 && (isCreator || isMaster)"
                     (onClick)="onshowpopup()" [hidden]="checkdisable(0, 'delete')">
      xoá
    </ps-kendo-button>
    <ps-kendo-button [theme]="'primary-outline'"
                     *ngIf="(somaster.Status == enumstt.WATITINGREGISTER) && (isApprover || isMaster)"
                     (onClick)="updatemasterstatus(enumstt.OK, 'Hoàn tất')">
      hoàn tất
    </ps-kendo-button>
    <ps-kendo-button [theme]="'primary'" *ngIf="(sodetail.Code != 0 || somaster.Code != 0) && (isCreator || isMaster)"
                     (onClick)="addNewRetail()">
      tạo mới
    </ps-kendo-button>
  </ps-toolbar-top>
  <!-- END: NAVIGATION-BAR -->

  <div class="container-body">
    <!-- START: VEHICLE INFORMATION -->
    <div class="block">
      <div class="block-label">
        <span>thông tin xe</span>
      </div>
      <div class="block-content">
        <div class="content-scroll">
          <div class="scroll-column scroll-column-img">
            <img class="column-img" src="{{sodetail.VehicleImage}}" alt="">
          </div>
          <div class="scroll-column block1-column1">
            <ps-kendo-dropdown-list [disabled]="checkdisable(1, 'type') || sodetail.Code != 0" class="highligth"
                                    [label]="'Dòng xe'" [data]="listtypedata" [textField]="'TypeOfVehicle'" [valueField]="'Code'"
                                    [valuePrimitive]="true" [(ngModel)]="sodetail.TypeOfVehicle"
                                    (selectChange)="vehiclechange($event, 'type')">
            </ps-kendo-dropdown-list>
            <ps-kendo-dropdown-list class="highligth dropdownvehicle" [label]="'Loại xe'" [data]="listvehicle"
                                    [textField]="'VehicleName'" [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="sodetail.Vehicle"
                                    (selectChange)="vehiclechange($event, 'vehicle')"
                                    [disabled]="checkdisable(1, 'vehicle') || !sodetail.TypeOfVehicle || sodetail.Code != 0">
            </ps-kendo-dropdown-list>
            <ps-kendo-dropdown-list class="highligth" [label]="'Màu xe'" [data]="listcolor" [textField]="'ColorName'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="sodetail.VehicleColor"
                                    (selectChange)="vehiclechange($event, 'color')"
                                    [disabled]="checkdisable(1, 'color') || !sodetail.Vehicle || sodetail.Code != 0">
            </ps-kendo-dropdown-list>
          </div>
          <div class="scroll-column block1-column1">
            <!-- Số khung -->
            <ps-kendo-textbox [label]="'Số khung (*)'" [(ngModel)]="sodetail.FrameSeri"
                              [disabled]="checkdisable(1, 'FrameSeri')" (blur)="onblurseri('FrameSeri')">
            </ps-kendo-textbox>

            <!-- Số máy -->
            <ps-kendo-textbox [label]="'Số máy (*)'" [(ngModel)]="sodetail.EngineSeri"
                              [disabled]="checkdisable(1, 'EngineSeri')" (blur)="onblurseri('EngineSeri')">
            </ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Biển số xe'" [(ngModel)]="sodetail.PlateNo" (blur)="updatedetail('PlateNo')"
                              [disabled]="checkdisable(1, 'PlateNo') || sodetail.Code == 0">
            </ps-kendo-textbox>
          </div>
          <div class="scroll-column block1-column2">
            <ps-kendo-textbox [label]="'Số bảo hành'" [disabled]="true" [(ngModel)]="sodetail.InsuranceNumber">
            </ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Thời gian bảo hành'" [disabled]="true" [(ngModel)]="sodetail.InsurancePeriod">
            </ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Số lần bảo trì'" [disabled]="true" [(ngModel)]="sodetail.InsuranceTime">
            </ps-kendo-textbox>
          </div>
          <div class="scroll-column block1-column2">
            <ps-kendo-textbox [label]="'Đời xe'" [disabled]="true" [(ngModel)]="sodetail.Version">
            </ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Phân nhóm'" [disabled]="true" [(ngModel)]="sodetail.TypeDataName">
            </ps-kendo-textbox>
            <ps-kendo-textbox [label]="'Dung tích xy lanh'" [disabled]="true" [(ngModel)]="sodetail.Cylinder">
            </ps-kendo-textbox>
          </div>
        </div>
      </div>
    </div>
    <!-- END: VEHICLE INFORMATION -->

    <!-- START: SALE INFORMATION -->
    <div class="block" [hidden]="sodetail.Code == 0">
      <div class="block-label">
        <span>thông tin bán hàng</span>
      </div>

      <div class="block-content">
        <div class="content-scroll content-scroll-2">
          <div class="scroll-column">
            <ps-kendo-textbox class="highligth" [label]="'Số phiếu bán hàng'" [disabled]="true"
                              [(ngModel)]="somaster.ID">
            </ps-kendo-textbox>
            <div class="column-group block-2">
              <ps-kendo-numeric-textbox [label]="'Giá bán (*)'" [(ngModel)]="sodetail.Price" [format]="'n0'"
                                        [disabled]="checkdisable(2, 'Price')" (blur)="updatedetail('Price')">
              </ps-kendo-numeric-textbox>
              <ps-kendo-numeric-textbox [label]="'Tiền đặt cọc'" [(ngModel)]="somaster.AmountPaid" [format]="'n0'"
                                        [disabled]="checkdisable(2, 'AmountPaid')" (blur)="updatemaster('AmountPaid')">
              </ps-kendo-numeric-textbox>
            </div>
            <div class="column-group block-2">
              <ps-kendo-dropdown-list [label]="'Hình thức thanh toán'" [data]="listpaymentmethod"
                                      [textField]="'ListName'" [valueField]="'TypeOfList'" [valuePrimitive]="true"
                                      [(ngModel)]="somaster.PaymentMethod" [disabled]="checkdisable(2, 'PaymentMethod')"
                                      (valueChange)="updatemaster('PaymentMethod')">
              </ps-kendo-dropdown-list>
              <ps-kendo-numeric-textbox [label]="'Số lần thanh toán'" [(ngModel)]="somaster.PaymentCount"
                                        [format]="'n0'" [disabled]="checkdisable(2, 'PaymentCount')" (blur)="updatemaster('PaymentCount')">
              </ps-kendo-numeric-textbox>
            </div>
          </div>
          <div class="scroll-column block1-column1">
            <div class="datetime-picker">
              <kendo-label text="Ngày bán hàng"></kendo-label>
              <kendo-datepicker placeholder="dd/MM/yyyy" format="dd/MM/yyyy" [readOnlyInput]="true"
                                calendarType="classic" [value]="somaster.SaleDate" (blur)="updatemaster('SaleDate')"
                                [readOnlyInput]="true" (valueChange)="onDateChange($event, 'SaleDate')"
                                [popupSettings]="{ appendTo: 'component' }" [disabled]="checkdisable(2, 'SaleDate')">
              </kendo-datepicker>
            </div>
            <div class="datetime-picker">
              <kendo-label text="Ngày dự kiến đăng ký"></kendo-label>
              <kendo-datepicker placeholder="dd/MM/yyyy" format="dd/MM/yyyy" [readOnlyInput]="true"
                                calendarType="classic" [value]="sodetail.RegisterDate" [disabled]="checkdisable(2, 'RegisterDate')"
                                (blur)="updatedetail('RegisterDate')" (valueChange)="onDateChange($event, 'RegisterDate')">
              </kendo-datepicker>
            </div>
            <div class="datetime-picker">
              <kendo-label text="Ngày dự kiến giao biển số"></kendo-label>
              <kendo-datepicker placeholder="dd/MM/yyyy" format="dd/MM/yyyy" [readOnlyInput]="true"
                                calendarType="classic" [value]="sodetail.PlateDeliveryDate"
                                (valueChange)="onDateChange($event, 'PlateDeliveryDate')"
                                [disabled]="checkdisable(2, 'PlateDeliveryDate')" (blur)="updatedetail('PlateDeliveryDate')">
              </kendo-datepicker>
            </div>
          </div>
          <div class="scroll-column block1-column1">
            <ps-kendo-dropdown-list [label]="'Nhân viên bán hàng'" [data]="listEmployee" [textField]="'FullName'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="somaster.SaleStaff"
                                    (valueChange)="updatemaster('SaleStaff')" [disabled]="checkdisable(2, 'SaleStaff')">
            </ps-kendo-dropdown-list>
            <ps-kendo-dropdown-list [label]="'Nhân viên làm thủ tục đăng ký'" [data]="listEmployee"
                                    [textField]="'FullName'" [valueField]="'Code'" [valuePrimitive]="true"
                                    [(ngModel)]="sodetail.RegisterStaff" [disabled]="checkdisable(2, 'RegisterStaff')"
                                    (valueChange)="updatedetail('RegisterStaff')">
            </ps-kendo-dropdown-list>
            <ps-kendo-dropdown-list [label]="'Nhân viên kỹ thuật ráp xe'" [data]="listEmployee" [textField]="'FullName'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="sodetail.TechnicalStaff"
                                    [disabled]="checkdisable(2, 'TechnicalStaff')" (valueChange)="updatedetail('TechnicalStaff')">
            </ps-kendo-dropdown-list>
          </div>
          <div class="scroll-column block1-column1">
            <ps-kendo-textbox [label]="'Cửa hàng xuất hàng'" [(ngModel)]="outhead.HeadName" [disabled]="true">
            </ps-kendo-textbox>
            <ps-kendo-dropdown-list [label]="'Kho xuất hàng (*)'" [data]="listWH" [textField]="'WHName'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="somaster.WHOut"
                                    (valueChange)="updatemaster('WHOut')" [disabled]="checkdisable(2, 'WHOut')">
            </ps-kendo-dropdown-list>
            <div class="status">
              <kendo-label [text]="'Tình trạng'"></kendo-label>
              <div [innerHTML]="{ Status: somaster.Status, StatusName: somaster.StatusName } | SALOrderMasterStatus">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- END: SALE INFORMATION -->

    <!-- START: CUSTOMER INFORMATION -->
    <div class="block" [hidden]="sodetail.Code == 0">
      <div class="block-label">
        <span>thông tin người mua hàng</span>
      </div>

      <div class="block-content">
        <div class="content-scroll content-scroll-2">

          <div class="scroll-column">
            <ps-kendo-autocomplete class="highligth" [label]="'Người mua hàng (*)'" [data]="listcus"
                                   [valueField]="'FullName'" [filterable]="true" (valueChange)="customerchange($event)"
                                   [(ngModel)]="cscustomer.FullName" [disabled]="checkdisable(3, 'FullName')">
            </ps-kendo-autocomplete>
            <ps-kendo-dropdown-list [label]="'Giới tính'" [data]="listgender" [textField]="'ListName'"
                                    [valueField]="'OrderBy'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Gender"
                                    (valueChange)="updatecustomer('Gender')" [disabled]="checkdisable(3, 'Gender')">
            </ps-kendo-dropdown-list>
            <div class="column-group block-3">
              <ps-kendo-dropdown-list [label]="'Ngày tháng năm sinh'" [data]="listyear"
                                      [(ngModel)]="cscustomer.BirthYear" [valuePrimitive]="true" [disabled]="checkdisable(3, 'BirthYear')"
                                      (valueChange)="updatecustomer('BirthYear')">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list [label]="'Tháng'" [data]="listmonth" [(ngModel)]="cscustomer.BirthMonth"
                                      [valuePrimitive]="true" [disabled]="checkdisable(3, 'BirthMonth')"
                                      (valueChange)="updatecustomer('BirthMonth')">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list [label]="'Ngày'" [data]="listday" [(ngModel)]="cscustomer.BirthDay"
                                      [valuePrimitive]="true" [disabled]="checkdisable(3, 'BirthDay')"
                                      (valueChange)="updatecustomer('BirthDay')">
              </ps-kendo-dropdown-list>
            </div>
          </div>

          <div class="scroll-column block1-column1">
            <ps-kendo-masked-textbox class="highligth" [label]="'Di động (*)'" [(ngModel)]="cscustomer.Cellphone1"
                                     (blur)="updatecustomer('Cellphone1')" [disabled]="checkdisable(3, 'Cellphone1')"
                                     [mask]="'0000 000 000'">
            </ps-kendo-masked-textbox>

            <ps-kendo-dropdown-list [label]="'Tỉnh/Thành (*)'" [data]="provincelist" [textField]="'VNProvince'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Province"
                                    [disabled]="checkdisable(3, 'Province')" (valueChange)="updatecustomer('Province')">
            </ps-kendo-dropdown-list>

            <ps-kendo-textbox class="address" [label]="'Địa chỉ (*)'" [(ngModel)]="cscustomer.Address"
                              [disabled]="checkdisable(3, 'Address')" (blur)="updatecustomer('Address')">
            </ps-kendo-textbox>
          </div>

          <div class="scroll-column block1-column1">
            <ps-kendo-textbox [label]="'Email'" [(ngModel)]="cscustomer.Email" (blur)="updatecustomer('Email')"
                              [disabled]="checkdisable(3, 'Email')">
            </ps-kendo-textbox>

            <ps-kendo-dropdown-list [label]="'Quận/Huyện (*)'" [data]="districtlist" [textField]="'VNDistrict'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.District"
                                    [disabled]="checkdisable(3, 'District')" (valueChange)="updatecustomer('District')">
            </ps-kendo-dropdown-list>
          </div>

          <div class="scroll-column block1-column1">
            <ps-kendo-dropdown-list [label]="'Nghề nghiệp'" [data]="listopp" [textField]="'ListName'"
                                    [valueField]="'OrderBy'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Occupation"
                                    [disabled]="checkdisable(3, 'Occupation')" (valueChange)="updatecustomer('Occupation')">
            </ps-kendo-dropdown-list>

            <ps-kendo-dropdown-list [label]="'Phường/Xã (*)'" [data]="wardlist" [textField]="'VNWard'"
                                    [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Ward"
                                    [disabled]="checkdisable(3, 'Ward')" (valueChange)="updatecustomer('Ward')">
            </ps-kendo-dropdown-list>
          </div>

          <!-- <div class="scroll-column scroll-master">
            <div class="master-column">
              <ps-kendo-masked-textbox class="highligth" [label]="'Di động (*)'" [(ngModel)]="cscustomer.Cellphone1"
                                       (blur)="updatecustomer('Cellphone1')" [disabled]="checkdisable(3, 'Cellphone1')"
                                       [mask]="'0000 000 000'">
              </ps-kendo-masked-textbox>
              <ps-kendo-textbox [label]="'Email'" [(ngModel)]="cscustomer.Email" (blur)="updatecustomer('Email')"
                                [disabled]="checkdisable(3, 'Email')">
              </ps-kendo-textbox>
              <ps-kendo-dropdown-list [label]="'Nghề nghiệp'" [data]="listopp" [textField]="'ListName'"
                                      [valueField]="'OrderBy'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Occupation"
                                      [disabled]="checkdisable(3, 'Occupation')" (valueChange)="updatecustomer('Occupation')">
              </ps-kendo-dropdown-list>
            </div>
            <div class="master-column">
              <ps-kendo-dropdown-list [label]="'Tỉnh/Thành (*)'" [data]="provincelist" [textField]="'VNProvince'"
                                      [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Province"
                                      [disabled]="checkdisable(3, 'Province')" (valueChange)="updatecustomer('Province')">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list [label]="'Quận/Huyện (*)'" [data]="districtlist" [textField]="'VNDistrict'"
                                      [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.District"
                                      [disabled]="checkdisable(3, 'District')" (valueChange)="updatecustomer('District')">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list [label]="'Phường/Xã (*)'" [data]="wardlist" [textField]="'VNWard'"
                                      [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="cscustomer.Ward"
                                      [disabled]="checkdisable(3, 'Ward')" (valueChange)="updatecustomer('Ward')">
              </ps-kendo-dropdown-list>
            </div>
            <div class="master-column column-full">
              <ps-kendo-textbox [label]="'Địa chỉ (*)'" [(ngModel)]="cscustomer.Address"
                                [disabled]="checkdisable(3, 'Address')" (blur)="updatecustomer('Address')">
              </ps-kendo-textbox>
            </div>
          </div> -->

        </div>
      </div>

    </div>
    <!-- END: CUSTOMER INFORMATION -->
  </div>

  <!-- START: DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="showpopup">
    <div psDialogConfirmHeader>xoá phiếu bán hàng</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phiếu bán hàng</span>
        <br>
        <div class="hightline">{{somaster.ID}}</div>
      </div>
      <div class="sub-title">
        Phiếu bán hàng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="showpopup = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="deletesomaster(somaster)" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
</div>