@import "../../../../../assets/scss/colors";

::ng-deep
{
  mtb002-retail-detail
  {
    .mtb-002
    {
      height: 100%;
      overflow: hidden;

      ps-dialog-confirm
      {
        .main-title
        {
          text-align: center;

          .hightline
          {
            font-weight: 700;
            font-size: 16px;
            line-height: 1;
            color: $primary;
          }
        }

        .sub-title
        {
          span
          {
            text-transform: uppercase;
            color: $error;
          }
        }
      }

      ps-toolbar-top .toolbar
      {
        margin-right: 10px;

        .top-action
        {
          display: flex;
          gap: 10px;
        }
      }

      .container-body
      {
        padding-right: 10px;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        height: calc(100% - 55px);
        overflow-y: scroll;

        .block
        {
          .block-label
          {
            height: 16px;
            display: flex;

            span
            {
              text-transform: uppercase;
              font-size: 13px;
              font-weight: bold;
              color: $secondary;
            }
          }

          .block-content
          {
            background-color: white;
            border-radius: 15px;
            margin-top: 5px;
            padding: 10px 10px 0 10px;
            overflow-x: auto;
            display: flex;
            margin-top: 5px;

            .highligth
            {

              .k-input-value-text,
              .k-input-inner
              {
                font-weight: bold;
                color: $primary;
              }
            }

            .content-scroll
            {
              display: flex;
              gap: 24px;
              width: 100%;
              padding-bottom: 10px;
              overflow-x: auto;

              .scroll-column-img
              {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 200px;
                border: 1px dotted $border;
                border-radius: 10px;
                border-radius: 5px;
              }

              .scroll-column
              {
                width: 20%;
                min-width: 256px;
                display: flex;
                flex-direction: column;
                gap: 15px;

                .status
                {
                  height: 56px;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;

                  kendo-label
                  {
                    line-height: 1;
                    display: block;

                    label
                    {
                      line-height: 1;
                      font-size: 13px;
                    }
                  }

                  div
                  {
                    height: 35px;
                    display: flex;
                    align-items: center;

                    span
                    {
                      height: 25px;
                    }
                  }
                }

                .k-clear-value
                {
                  display: none;
                }

                .dropdownvehicle
                {
                  .k-dropdownlist
                  {
                    .k-animation-container
                    {
                      width: fit-content !important;
                    }
                  }
                }

                .column-img
                {
                  height: 100%;
                }

                .column-group
                {
                  display: flex;
                  gap: 10px;
                }

                .block-2
                {

                  ps-kendo-numeric-textbox:first-child,
                  ps-kendo-dropdown-list
                  {
                    width: 55%;
                    min-width: 130px;
                  }

                  ps-kendo-textbox:last-child,
                  ps-kendo-numeric-textbox
                  {
                    width: 45%;
                    min-width: 110px;
                  }
                }

                .block-3
                {
                  label
                  {
                    color: transparent;
                  }

                  ps-kendo-textbox:first-child,
                  ps-kendo-dropdown-list:first-child
                  {
                    overflow: visible;

                    label
                    {
                      white-space: nowrap;
                      color: $secondary;
                    }
                  }

                  ps-kendo-dropdown-list
                  {
                    width: calc(100% / 3);
                  }
                }
              }

              .block1-column1
              {
                min-width: 192px;
              }

              .block1-column2
              {
                min-width: 128px;
              }

              .scroll-master
              {
                // width: 60%;
                // min-width: 800px;

                .master-column
                {
                  display: flex;
                  width: 100%;
                  // min-width: 800px;
                  flex-direction: row;
                  gap: 25px;

                  ps-kendo-dropdown-list,
                  ps-kendo-textbox,
                  ps-kendo-masked-textbox
                  {
                    width: calc(100% / 3);
                    min-width: 192px;
                  }
                }

                .column-full
                {
                  ps-kendo-textbox
                  {
                    width: 100%;
                  }
                }
              }
            }

            .content-scroll-2
            {
              position: relative;

              .scroll-column
              {
                position: relative;
                width: 25%;

                .address
                {
                  position: absolute;
                  bottom: 0;
                  width: calc((100% * 3) + 48px);
                }
              }
            }
          }
        }
      }
    }
  }
}