@import "../../../../../assets/scss/colors";

::ng-deep
{
    mtb021-sal-collection-services
    {
        font-size: 13px;
        height: 100%;

        .mtb021-sal-collection-services
        {
            height: 100%;

            ps-header-back
            {
                .ps-header
                {
                    .header-right
                    {
                        height: fit-content;
                        display: flex;
                        width: calc(100% - 44px);
                        justify-content: space-between;
                        align-items: center;
                        gap: 8px;

                        .left-side
                        {
                            min-width: 139px;
                            width: 139px;

                            .func-title1
                            {
                                font-weight: bold;
                                text-transform: uppercase;
                                color: $primary;
                            }
                        }


                        .right-side
                        {
                            text-align: end;
                            width: calc(100% - 147px);

                            div
                            {
                                span
                                {
                                    font-weight: bold;
                                    color: $error;
                                }
                            }
                        }
                    }
                }
            }


            .services-body
            {
                height: calc(100% - 96px);
                padding: 8px;
                display: flex;
                flex-direction: column;
                gap: 8px;
                overflow: auto;

                .info-card,
                .services-card
                {
                    background: $white;
                    border-radius: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    .card-title
                    {
                        padding: 8px;
                        font-weight: bold;
                        border-bottom: 1px solid $border;

                        .service-count
                        {
                            color: $primary;
                            font-weight: normal;
                            font-size: 12px;
                        }
                    }

                    .card-body
                    {
                        padding: 8px;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .info-row
                        {
                            display: flex;
                            gap: 4px;
                            align-items: center;

                            .info-label
                            {
                                width: 55px;
                            }

                            .info-value
                            {
                                font-weight: bold;
                                flex: 1;

                                &.text-primary
                                {
                                    color: $primary;
                                    font-weight: bold;
                                }
                            }

                            .info-back
                            {
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                color: $info;
                                font-style: italic;

                                span
                                {
                                    color: $info;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }

                .services-card
                {
                    .card-body
                    {
                        padding: 8px;

                        .services-header
                        {
                            display: flex;
                            justify-content: space-between;

                            .header-col
                            {
                                font-weight: bold;
                            }
                        }

                        .services-list
                        {
                            display: flex;
                            flex-direction: column;

                            .service-item
                            {
                                display: flex;
                                align-items: center;
                                gap: 8px;
                                padding: 8px;
                                cursor: pointer;
                                background-color: transparent;

                                &:nth-child(odd)
                                {
                                    background-color: $background-primary;
                                }

                                &:nth-child(even)
                                {
                                    background-color: $white;
                                }

                                &.checked
                                {
                                    .service-name
                                    {
                                        color: $primary;
                                        font-weight: bold;
                                    }
                                }

                                .service-checkbox
                                {
                                    flex: 0 0 auto;
                                    display: flex;
                                    align-items: center;

                                    .material-icons
                                    {
                                        font-size: 16px;
                                        color: transparent;

                                        &.activeicon
                                        {
                                            color: $primary;
                                        }
                                    }

                                    .checkbox-input
                                    {
                                        width: 16px;
                                        height: 16px;
                                        cursor: pointer;
                                        border: 1px solid $success;
                                        border-radius: 4px;
                                        background-color: $white !important;
                                        accent-color: $white;
                                        appearance: none;
                                        -webkit-appearance: none;
                                        -moz-appearance: none;
                                        position: relative;

                                        &:checked
                                        {
                                            background-color: $success;
                                            border-color: $success;

                                            &::after
                                            {
                                                content: '';
                                                position: absolute;
                                                left: 5px;
                                                top: 3.5px;
                                                width: 4.15px;
                                                height: 7px;
                                                border: solid $primary;
                                                border-width: 0 1px 1px 0;
                                                transform: rotate(45deg);
                                            }
                                        }
                                    }
                                }

                                .service-number
                                {
                                    font-weight: bold;
                                }

                                .service-name
                                {
                                    flex: 1;
                                    font-weight: bold;
                                    font-size: 14px;
                                }

                                .service-cost
                                {
                                    color: $error;
                                    font-weight: bold;
                                    flex: 0 0 auto;
                                    min-width: 130px;
                                    text-align: right;
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            ps-footer-action
            {
                .footer-action
                {
                    display: flex;

                    ps-kendo-button
                    {
                        button
                        {
                            height: 100%;
                            border-radius: 0;
                            width: 100%;
                            border: none;
                            padding: 0;

                            .k-button-text
                            {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 4px;
                                padding: 4px 0;
                                justify-content: center;

                                svg
                                {
                                    width: 24px;
                                    height: 24px;
                                }

                                .text
                                {
                                    font-size: 13px;
                                    text-transform: none;
                                }
                            }
                        }

                        &:last-child
                        {
                            width: 50%;

                            .text
                            {
                                color: $white;
                            }
                        }

                        &:first-child
                        {
                            width: 25%;
                            border: none;
                            align-items: center;

                            .k-button-text
                            {
                                border-right: 1px solid $border !important;
                                width: 100%;
                                height: 65%;
                            }
                        }

                        &:nth-of-type(2)
                        {
                            width: 25%;
                            border: none;
                        }
                    }

                }
            }
        }
    }
}