@import "../../../../../assets/scss/colors";

::ng-deep
{
  ps-dialog-confirm
  {
    .ps-dialog-confirm
    {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      overflow: hidden;
      z-index: 999999;

      .k-overlay
      {
        position: relative;
        z-index: 1000;
      }

      .confirm-dialog
      {
        position: absolute;
        top: 50% !important;
        left: 50% !important;
        width: 350px;
        height: 250px;
        transform: translate(-50%, -50%);
        background-color: $white;
        z-index: 1001;
        border-radius: 16px;
        box-shadow: 1px 1px 4px rgb(0, 0, 0, 0.2);
        border: 1px solid $border;
        overflow: hidden;

        &.ps-dialog-success
        {
          border-color: $success;

          [psDialogConfirmHeader]
          {
            background-color: $success;
            color: $white;
          }

          [psDialogConfirmFooter]
          {
            border-color: $success;
          }
        }

        &.ps-dialog-warning
        {
          border-color: $warning;

          .k-popup
          {
            [psDialogConfirmHeader]
            {
              background-color: $warning;
              color: $white;
            }

            [psDialogConfirmFooter]
            {
              border-color: $warning;
            }
          }
        }

        &.ps-dialog-info
        {
          border-color: $info;

          .k-popup
          {
            [psDialogConfirmHeader]
            {
              background-color: $info;
              color: $white;
            }

            [psDialogConfirmFooter]
            {
              border-color: $info;
            }
          }
        }

        &.ps-dialog-error
        {
          border-color: $error;

          .k-popup
          {
            [psDialogConfirmHeader]
            {
              background-color: $error;
              color: $white;
            }

            [psDialogConfirmFooter]
            {
              border-color: $error;
            }
          }
        }

        .k-popup
        {
          height: 100%;
          border: none;
          border-radius: 0;
          box-shadow: none;
          background-color: $white;

          [psDialogConfirmHeader]
          {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            border-bottom: 1px solid $border;
            font-size: 16px;
            font-weight: 700;
          }

          [psDialogConfirmFooter]
          {
            border-top: 1px solid $border;
            display: flex;
            justify-content: flex-end;
            height: 50px;
            align-items: center;
            gap: 10px;
            padding-right: 10px;
          }

          [psDialogConfirmBody]
          {
            height: calc(100% - 100px);
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          }
        }
      }
    }
  }
}