@import "../../../../../../src/assets/scss/colors";

::ng-deep
{
  mtb006-delivery-detail
  {
    ps-dialog-confirm
    {
      .main-title
      {
        text-align: center;

        .hightline
        {
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
        }

        .hightline-detail
        {
          font-size: 13px;
          font-weight: 400;
          line-height: 1;
          color: $error;
        }
      }

      .sub-title
      {
        span
        {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    ps-kendo-drawer-container
    {
      kendo-drawer-container
      {
        kendo-drawer
        {
          .k-list-item-text
          {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .k-drawer-wrapper
          {
            .drawer-body
            {
              .body-container
              {
                .body-drawer
                {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;

                  .location-map
                  {
                    width: 100%;
                    height: 200px;
                    margin-top: 5px;
                    border: 1px dotted black;
                    border-radius: 5px;
                    overflow: hidden;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img
                    {
                      height: 100%;
                    }
                  }
                }
              }
            }
          }
        }

        kendo-drawer-content
        {
          height: 100%;
          width: 100%;

          .body-drawer
          {
            display: flex;
            flex-direction: column;
            gap: 15px;
          }

          .body-container
          {
            overflow: hidden;
            height: 100%;

            .breadcrum
            {
              height: 45px;
              padding-right: 10px;

              .top-action
              {
                display: flex;
                gap: 10px;
              }
            }

            .body
            {
              height: calc(100% - 45px);
              white-space: nowrap;
              overflow-y: auto;
              overflow-x: hidden;
              text-overflow: ellipsis;
              padding-right: 10px;

              // BLOCK 1
              .block1-container,
              .block2-container
              {
                .body-head
                {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  margin-top: 8px;

                  h1
                  {
                    text-transform: uppercase;
                    font-size: 13px;
                    font-weight: bold;
                    color: $secondary;
                    margin: 0;

                    span
                    {
                      color: $primary;
                      font-style: normal;
                      font-size: 13px;
                      font-weight: bold;
                    }
                  }

                  .open-close
                  {
                    font-size: 10px;
                    font-style: italic;
                    color: $info;
                    cursor: pointer;
                    user-select: none;

                    &:hover
                    {
                      opacity: 0.5;
                    }
                  }
                }

                .body-head1
                {
                  margin-top: 15px;
                }

                .block-1,
                .block-2
                {
                  overflow-x: auto;
                  padding: 10px 10px 0 10px;
                  background: $white;
                  border-radius: 15px;
                  margin-top: 5px;
                  width: 100%;
                  gap: 50px;

                  .block-1-content
                  {
                    width: 100%;
                    display: flex;
                    overflow-x: auto;
                    gap: 25px;
                    padding-bottom: 8px;

                    .hightline
                    {

                      .k-input-inner,
                      .k-input-value-text
                      {
                        font-weight: bold;
                        color: $primary;
                      }
                    }

                    .content-col-1
                    {
                      min-width: 250px;
                      width: calc(100% / 6);
                      display: flex;
                      flex-direction: column;
                      gap: 15px;

                      .status
                      {
                        height: 56px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        kendo-label
                        {
                          line-height: 1;
                          display: block;

                          label
                          {
                            line-height: 1;
                            font-size: 13px;
                          }
                        }

                        div
                        {
                          height: 35px;
                          display: flex;
                          align-items: center;

                          span
                          {
                            height: 25px;
                          }
                        }
                      }
                    }

                    .content-col-2
                    {
                      min-width: 770px;
                      width: calc((100% / 2) + 25px);
                      display: flex;
                      flex-direction: column;
                      gap: 15px;

                      .col-2-row-1
                      {
                        display: flex;
                        gap: 10px;
                        width: 100%;

                        ps-kendo-dropdown-list,
                        ps-kendo-textbox,
                        .datetime-picker
                        {
                          width: calc(100% / 3);
                          min-width: 250px;
                        }
                      }
                    }

                    .content-col-3
                    {
                      display: flex;
                      flex-direction: column;
                      width: calc(100% / 6);
                      min-width: 250px;
                      gap: 15px;

                      .col-3-row-3
                      {
                        display: flex;
                        gap: 10px;

                        ps-kendo-textbox
                        {
                          width: calc(100% / 2);
                        }
                      }
                    }
                  }
                }
              }

              .block2-container
              {
                height: calc(100% - 10px);

                .block-2
                {
                  padding: 0;
                  border-radius: 0;
                  height: calc(100% - 20px);
                  border-radius: 15px;

                  .block-2-content
                  {
                    height: 100%;
                    padding: 10px 10px 0 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .head-btn
                    {
                      display: flex;
                      gap: 10px;
                      justify-content: flex-end;
                    }

                    .list
                    {
                      height: calc(100% - 10px);

                      ps-kendo-grid
                      {
                        kendo-grid
                        {
                          .k-grid-aria-root
                          {
                            kendo-grid-list
                            {
                              .k-grid-content
                              {
                                .k-grid-table-wrap
                                {
                                  .k-grid-table
                                  {
                                    .centercolumn
                                    {
                                      text-align: center;
                                    }

                                    tbody
                                    {
                                      .k-master-row
                                      {
                                        .k-touch-action-auto
                                        {
                                          font-weight: bold;
                                        }

                                        .type-vehicle
                                        {
                                          overflow: hidden;
                                          text-overflow: ellipsis;
                                          white-space: nowrap;
                                        }
                                      }

                                      .k-detail-row
                                      {
                                        .k-table-td
                                        {
                                          .list-detail
                                          {
                                            display: flex;
                                            gap: 5px;

                                            .image-dateil
                                            {
                                              width: 25%;
                                              display: flex;
                                              align-items: center;
                                              justify-content: center;
                                              border: 1px dotted $secondary;
                                              border-radius: 5px;
                                              max-height: 188px;

                                              img
                                              {
                                                width: 90%;
                                                height: 90%;
                                              }
                                            }

                                            ps-kendo-grid
                                            {
                                              width: 75%;

                                              kendo-grid
                                              {
                                                border-radius: 0;

                                                .k-grid-aria-root
                                                {
                                                  kendo-grid-list
                                                  {
                                                    .k-grid-content
                                                    {
                                                      overflow-y: hidden;

                                                      .k-grid-table
                                                      {
                                                        tbody
                                                        {
                                                          tr
                                                          {
                                                            height: 47px;

                                                            .first-column
                                                            {
                                                              span
                                                              {
                                                                padding-left: 10px;
                                                              }
                                                            }

                                                            td
                                                            {
                                                              font-weight: normal;
                                                              border-bottom: 2px dashed $background-primary;

                                                              span
                                                              {
                                                                font-weight: bold;
                                                              }
                                                            }

                                                            td:last-child
                                                            {
                                                              max-width: 5%;
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }

                  .block-2-content:has(.head-btn)
                  {
                    .list
                    {
                      height: calc(100% - 55px) !important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}