@import '../../../../../assets/scss/colors';

::ng-deep
{
  ps-filter-textbox
  {
    .filter-textbox
    {
      display: flex;
      gap: 10px;
      width: fit-content;
      height: fit-content;

      ps-kendo-button
      {
        margin-top: 21px;
      }

      ps-kendo-button.not-label
      {
        margin-top: 0;
      }

      ps-kendo-textbox
      {
        .kendo-textbox
        {
          .k-textbox
          {
            .k-input-prefix
            {
              width: 35px;
              display: flex;
              justify-content: center;
              align-items: center;

              .k-icon
              {
                font-size: 16px;
                padding: 0;
                color: $secondary;
              }
            }
          }
        }
      }
    }
  }
}