<div class="body-container">
  <!-- BREADCRUM -->
  <div class="breadcrum">
    <ps-toolbar-top class="breadcrumb-content"></ps-toolbar-top>
  </div>
  <!-- BODY -->

  <div class="body">
    <!-- BLOCK 1 -->
    <div class="body-head">
      <h1>thông tin điểm kiểm kê</h1>
      <span (click)="OpenBlock1()">{{isBlock1 ? 'Thu gọn' : 'Mở rộng'}}</span>
    </div>
    <div class="block-1">
      <div class="block-1-content">
        <div class="col-1">
          <div class="col-1-row-1" *ngIf="isBlock1">
            <label>Kỳ kiểm kê</label>
            <div class="below-content">{{inventoryPoint.InventoryName}}</div>
          </div>
          <div class="col-1-row-2">
            <label>Điểm kiểm kê</label>
            <div class="below-content">{{inventoryPoint.WarehouseName}}</div>
          </div>
        </div>
        <div class="col-2">
          <div class="col-2-row-1" *ngIf="isBlock1">
            <label>Mục tiêu kiểm kê</label>
            <div class="below-content">{{inventoryPoint.InventoryDescription}}</div>
          </div>
          <div class="col-2-row-2">
            <div>
              <label>Nhân sự chủ trì</label>
              <div class="below-content">{{inventoryPoint.OwnerName}}</div>
            </div>
            <div class="radio-container">
              <label>Hiện thị đối soát</label>
              <div class="radio-content">
                <ps-kendo-radiobutton [(ngModel)]="inventoryPoint.InventoryHiddenStock" [label]="'Cho phép hiện tồn'"
                                      [value]="false" class=" below-content" [disabled]="true"></ps-kendo-radiobutton>
                <ps-kendo-radiobutton [(ngModel)]="inventoryPoint.InventoryHiddenStock"
                                      [label]="'Không cho phép hiện tồn'" [value]="true" class="below-content"
                                      [disabled]="true"></ps-kendo-radiobutton>
              </div>
            </div>
            <div>
              <label>Trạng thái</label>
              <div class="below-content" [style.color]="inventoryPoint.StatusName | WHInventoryMasterStatus">
                {{inventoryPoint.StatusName}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- BLOCK 2 -->
    <div class="body-head body-head-2">
      <h1>thông tin lượt kiểm kê</h1>
    </div>
    <div class="block-2">
      <div class="block-2-content">
        <div class="col-1">
          <label>Lượt kiểm kê</label>
          <ps-kendo-dropdown-list [textField]="'SessionName'" [valueField]="'Code'" [data]="inventorySessionList"
                                  [valuePrimitive]="true" [(ngModel)]="inventorySessionActive.Code"
                                  (selectChange)="onSelectionChange($event)">
          </ps-kendo-dropdown-list>

        </div>
        <div class="col-2">
          <label>Mô tả lượt kiểm kê</label>
          <div class="col-2-btn">
            <ps-kendo-textbox class="textbox" [disabled]="endDisable()" (blur)="onBlurSession()"
                              (focus)="onFocusSession()"
                              [(ngModel)]="inventorySessionActive.Description"></ps-kendo-textbox>
            <ps-kendo-button [disabled]="endDisable()" (onClick)="onEndSession()" [theme]="'primary-outline'">
              Kết thúc
            </ps-kendo-button>
            <ps-kendo-button *ngIf="!endCreateDisable()" class="addnew" [disabled]="endCreateDisable()"
                             (onClick)="onEndAndCreateSession()" [theme]="'primary-outline'">
              kết thúc và tạo mới
            </ps-kendo-button>
            <ps-kendo-button *ngIf="endCreateDisable()" class="addnew" [disabled]="createDisable()"
                             (onClick)="createSession()" [theme]="'primary-outline'">
              tạo mới
            </ps-kendo-button>
          </div>
        </div>
      </div>
    </div>

    <!-- BLOCK 3 -->
    <div class="tabs" *ngIf="inventorySessionActive">
      <div class="tab" *ngFor="let tab of tabs; let i = index" [class.active]="i === activeTabIndex"
           [class.disabled]="i === enumTag.RESULT && inventorySessionActive.StatusID != enumStatus.DONE"
           (click)="selectTab(i)">
        {{ tab }}
      </div>
    </div>

    <div class="block-3" *ngIf="inventorySessionActive">

      <!-- START: LỖI KIỂM KÊ -->
      <div class="block-3-content" *ngIf="activeTabIndex === enumTag.ERROR">
        <div class="col-1">
          <label>Barcode lỗi</label>
          <kendo-listview [data]="scanErrorList" class="location-list">
            <ng-template kendoListViewItemTemplate let-item>
              <div [class.active]="item.Barcode == this.scanErrorActive.Barcode" (click)="selectedScanError(item)"
                   class="location-item">
                <span class="location-code">{{ item.Barcode }}</span>
                <span class="button-delete k-icon k-font-icon k-i-trash" (click)="onSeletedDeleteError(item)"></span>
              </div>
            </ng-template>
          </kendo-listview>
        </div>

        <div class="col-2">
          <div class="row-2">
            <ps-kendo-grid [data]="datatab | async" [pageable]="false">
              <kendo-grid-column [width]="100" field="Location" class="color-infor"
                                 title="Vị trí"></kendo-grid-column>
              <kendo-grid-column [width]="200" field="CreateBy" title="Người quét"></kendo-grid-column>
              <kendo-grid-column [width]="130" field="CreateTime" title="Ngày quét">
                <ng-template kendoGridCellTemplate let-item>
                  {{item.CreateTime |date: 'hh:mm dd/MM/yyyy'}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [width]="80" field="Quantity" title="Số lượng" headerClass="t-right"
                                 class="t-right"></kendo-grid-column>
              <kendo-grid-column [width]="200" title="Mã phụ tùng chỉnh lại">
                <ng-template kendoGridCellTemplate let-item>
                  <ps-kendo-textbox class="edit-barcode-error" [(ngModel)]="item.Barcode"
                                    (blur)="onUpdateErrorBarcode(item, 'Barcode')" (focus)="getDataFocus(item.Barcode)">
                  </ps-kendo-textbox>
                </ng-template>
              </kendo-grid-column>
            </ps-kendo-grid>
          </div>
        </div>
      </div>
      <!-- END: LỖI KIỂM KÊ -->

      <div class="block-3-content" *ngIf="activeTabIndex === enumTag.MONITOR">
        <div class="col-1">
          <label>Vị trí quầy kệ</label>
          <kendo-listview [data]="locationlist" class="location-list">
            <ng-template kendoListViewItemTemplate let-item>
              <div [class.active]="item.Code == this.locationActive.Code" (click)="setSelectedCode(item)"
                   class="location-item">
                <span class="location-code">{{ item.LocationCode }}</span>
                <span *ngIf="!item.HasScan" class="status">chưa kiểm kê</span>
              </div>
            </ng-template>
          </kendo-listview>
        </div>

        <div class="col-2">
          <div class="row-1">
            <div class="1-title">
              Danh sách hàng hóa kiểm kê
            </div>

            <div class="searchbar">
              <ps-filter-textbox [listField]="listfiltertext" (onFilter)="textFilterChangeForTab0($event)"
                                 [placeholder]="'Tìm kiếm mã, loại phụ tùng'" class="searchbox"></ps-filter-textbox>
            </div>

            <div class="group-btn">
              <ps-group-button-import [disabledDown]="inventorySessionActive.StatusID == enumStatus.DONE || inventoryPoint.StatusID == enumStatus.DONE"
                                      [disabledUp]="inventorySessionActive.StatusID == enumStatus.DONE  || inventoryPoint.StatusID == enumStatus.DONE"
                                      [actionUpName]="'import'" [actionDownName]="'Template'"
                                      [fileName]="'WHInventoryScanTemplate.xlsx'" (selectFile)="uploadScan($event)">
              </ps-group-button-import>
            </div>
          </div>

          <div class="row-2">
            <ps-kendo-grid [data]="datatab0 | async" [pageable]="true" [skip]="filterTab0.skip"
                           [pageSize]="filterTab2.take" (pageChanged)="onPageChangedTab0($event)">
              <kendo-grid-column [width]="200" field="Barcode" title="Barcode"></kendo-grid-column>
              <kendo-grid-column [width]="200" field="CreateBy" title="Người quét"></kendo-grid-column>
              <kendo-grid-column [width]="130" field="CreateTime" title="Ngày quét">
                <ng-template kendoGridCellTemplate let-item>
                  {{item.CreateTime |date: 'hh:mm dd/MM/yyyy'}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [width]="200" field="TypePartItemName" title="Loại phụ tùng"></kendo-grid-column>
              <kendo-grid-column [width]="80" field="Quantity" title="SL kiểm kê" class="t-right"></kendo-grid-column>
              <kendo-grid-column [width]="150" field="CategoryPartItemName" title="Phân nhóm"></kendo-grid-column>
            </ps-kendo-grid>
          </div>
        </div>
      </div>

      <!-- START: KẾT QUẢ KIỂM KÊ -->
      <div class="block-3-content" *ngIf="activeTabIndex === enumTag.RESULT">
        <div class="col-2">
          <div class="row-1">
            <div class="1-title">
              Danh sách hàng hóa kiểm kê
            </div>

            <div class="searchbar">
              <ps-filter-textbox [listField]="listfiltertext" (onFilter)="textFilterChangeForTab1($event)"
                                 [placeholder]="'Tìm kiếm mã, loại phụ tùng'" class="searchbox"></ps-filter-textbox>
            </div>

            <div class="group-btn btn-group1">
              <!-- <ps-kendo-button [disabled]="inventoryPoint.StatusID != enumStatus.DONE" [theme]="'primary-outline'" -->
              <ps-kendo-button [theme]="'primary-outline'" (onClick)="ExportInventorySummary()">
                <img src="../../../../../assets/images/icons/excel.png" alt />
                báo cáo tổng hợp
              </ps-kendo-button>
              <ps-kendo-button class="location" [theme]="'primary-outline'" (onClick)="ExportInventorySession()">
                <img src="../../../../../assets/images/icons/excel.png" alt />
                báo cáo chênh lệch
              </ps-kendo-button>
            </div>
          </div>

          <div class="row-2">
            <ps-kendo-grid [data]="datatab1 | async" [pageable]="true" [skip]="filterTab1.skip" [skip]="skip"
                           [pageSize]="filterTab1.take" (pageChanged)="onPageChangedTab1($event)">
              <kendo-grid-column [width]="200" field="Barcode" title="Barcode"></kendo-grid-column>
              <kendo-grid-column [width]="250" field="TypePartItemName" title="Loại phụ tùng"></kendo-grid-column>
              <kendo-grid-column [width]="100" field="Quantity" title="SL kiểm kê" class="t-right"></kendo-grid-column>
              <kendo-grid-column field="InvStockQty" title="SL tồn" [width]="100" class="t-right"
                                 [hidden]="inventoryPoint.InventoryHiddenStock == true">
              </kendo-grid-column>
              <kendo-grid-column title="Chênh lệch" [width]="100" class="t-center">
                <ng-template kendoGridCellTemplate let-item>
                  <div [ngClass]="{'warning': item.IsLack && item.IsLack == true,
                                'error': item.IsRedundant && item.IsRedundant == true,
                                'success': item.IsSufficient && item.IsRedundant == true}">
                    {{inventoryPoint.InventoryHiddenStock == true ?
                    (item.IsRedundant ? '+' : '-') :
                    ((item.IsRedundant ? '+' : '') + item.Difference)}}
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [width]="150" field="CategoryPartItemName" title="Phân nhóm"></kendo-grid-column>
              <kendo-grid-column [width]="150" field="position" title="Vị trí">
                <ng-template kendoGridCellTemplate let-item>
                  {{onFormatLocation(item.ListLocationScan)}}
                </ng-template>
              </kendo-grid-column>
            </ps-kendo-grid>
          </div>
        </div>
      </div>
      <!-- END: KẾT QUẢ KIỂM KÊ -->

      <!-- START: TỒN ĐẦU KỲ -->
      <div class="block-3-content" *ngIf="activeTabIndex === enumTag.STOCK">
        <div class="col-2">
          <div class="row-1">
            <div class="1-title">
              Danh sách hàng hóa tồn đầu
            </div>

            <div class="searchbar">
              <ps-filter-textbox [listField]="listfiltertext" (onFilter)="textFilterChangeForTab2($event)"
                                 [placeholder]="'Tìm kiếm mã, loại phụ tùng'" class="searchbox"></ps-filter-textbox>
            </div>

            <div class="group-btn">
              <ps-group-button-import [disabledDown]="inventorySessionActive.StatusID == enumStatus.DONE || inventoryPoint.StatusID == enumStatus.DONE"
                                      [disabledUp]="inventorySessionActive.StatusID == enumStatus.DONE || inventoryPoint.StatusID == enumStatus.DONE"
                                      [actionUpName]="'import tồn'" [fileName]="'WHInventoryStockTemplate.xlsx'"
                                      (selectFile)="uploadEventHandler($event)">
              </ps-group-button-import>

              <ps-kendo-button [theme]="'warning-outline'">lấy
                tồn</ps-kendo-button>
            </div>
          </div>

          <div class="row-2">
            <ps-kendo-grid [data]="datatab2 | async" [pageable]="true" [skip]="filterTab2.skip"
                           [pageSize]="filterTab2.take" (pageChanged)="onPageChangedTab2($event)">
              <kendo-grid-column [width]="200" field="Barcode" title="Barcode"></kendo-grid-column>
              <kendo-grid-column [width]="250" field="TypePartItemName" title="Loại phụ tùng"></kendo-grid-column>
              <kendo-grid-column [hidden]="inventoryPoint.InventoryHiddenStock" field="Quantity" title="SL tồn"
                                 [width]="100"></kendo-grid-column>
              <kendo-grid-column [width]="150" field="CategoryPartItemName" title="Phân nhóm"></kendo-grid-column>
            </ps-kendo-grid>
          </div>
        </div>
      </div>
      <!-- END: TỒN ĐẦU KỲ -->
    </div>
  </div>

  <ps-dialog-confirm [theme]="'error'" [open]="isOpenDialogConfirm">
    <div psDialogConfirmHeader>xoá mã phụ tùng sai</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá mã phụ tùng </span>
        <br>
        <div class="hightline">{{scanErrorActive?.Barcode}}</div>
      </div>
      <div class="sub-title">
        Mã phụ tùng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="isOpenDialogConfirm = !isOpenDialogConfirm">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="onDeletedError()" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
</div>