<ps-kendo-drawer-container [title]="'thông tin xe bán'" [expanded]="isDrawerOpen" (collapse)="onDrawerCollapse()">
  <ng-container psKendoDrawerTemplate>
    <div class="body-drawer">
      <!-- Dòng xe -->
      <ps-kendo-dropdown-list [label]="'Dòng xe'" [data]="listtypeofvehicle" [textField]="'TypeOfVehicle'"
        [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="sodetail.TypeOfVehicle"
        (selectChange)="dropdownvehiclechange('type', $event)"
        [disabled]="(FPDTO.approver && !FPDTO.master)  || actiontype == 'view' || sodetail.Code != 0">
      </ps-kendo-dropdown-list>

      <!-- Xe -->
      <ps-kendo-dropdown-list [label]="'Loại xe'" [data]="listvehicle" [textField]="'VehicleName'" [valueField]="'Code'"
        [valuePrimitive]="true" [(ngModel)]="sodetail.Vehicle" (selectChange)="dropdownvehiclechange('vehicle', $event)"
        [disabled]="!sodetail.TypeOfVehicle || (FPDTO.approver && !FPDTO.master) || !sodetail.TypeOfVehicle   || actiontype == 'view' || sodetail.Code != 0">
      </ps-kendo-dropdown-list>

      <!-- Số máy -->
      <ps-kendo-textbox [label]="'Đời xe'" [(ngModel)]="sodetail.Version" [disabled]="true">
      </ps-kendo-textbox>

      <!-- Màu xe -->
      <ps-kendo-dropdown-list [label]="'Màu xe'" [data]="listcolor" [textField]="'ColorName'" [valueField]="'Code'"
        [valuePrimitive]="true" [(ngModel)]="sodetail.VehicleColor"
        (selectChange)="dropdownvehiclechange( 'color', $event)"
        [disabled]="!sodetail.Vehicle || (FPDTO.approver && !FPDTO.master) || !sodetail.Vehicle   || actiontype == 'view' || sodetail.Code != 0">
      </ps-kendo-dropdown-list>

      <!-- Số khung -->
      <ps-kendo-textbox [label]="'Số khung (*)'" [(ngModel)]="sodetail.FrameSeri"
        [disabled]="!sodetail.VehicleColor || (FPDTO.approver && !FPDTO.master) || !sodetail.VehicleColor   || actiontype == 'view' || sodetail.Code != 0"
        (blur)="onblurseri('FrameSeri')">
      </ps-kendo-textbox>

      <!-- Số máy -->
      <ps-kendo-textbox [label]="'Số máy (*)'" [(ngModel)]="sodetail.EngineSeri"
        [disabled]="!sodetail.VehicleColor || (FPDTO.approver && !FPDTO.master) || !sodetail.VehicleColor   || actiontype == 'view' || sodetail.Code != 0"
        (blur)="onblurseri('EngineSeri')">
      </ps-kendo-textbox>

      <!-- giá bán -->
      <ps-kendo-numeric-textbox [label]="'Giá bán (*)'"
        [disabled]="(FPDTO.approver && !FPDTO.master) || !sodetail.CSVehicle   || actiontype == 'view'"
        [(ngModel)]="sodetail.Price" [format]="'n0'">
      </ps-kendo-numeric-textbox>

      <!-- Số sổ bảo hiểm -->
      <ps-kendo-textbox [label]="'Số sổ bảo hiểm'" [(ngModel)]="sodetail.InsuranceNumber" [disabled]="true">
      </ps-kendo-textbox>

      <!-- Thời gian bảo hiểm -->
      <ps-kendo-textbox [label]="'Thời gian bảo hiểm'" [(ngModel)]="sodetail.InsuranceTime" [disabled]="true">
      </ps-kendo-textbox>

      <!-- Số lần bảo trì -->
      <ps-kendo-textbox [label]="'Số lần bảo trì'" [disabled]="true" [(ngModel)]="sodetail.InsurancePeriod">
      </ps-kendo-textbox>

      <div class="location-map">
        <img [src]="sodetail.VehicleImage" alt="">
      </div>
    </div>
  </ng-container>
  <ng-container psKendoDrawerFooterTemplate>
    <ps-kendo-button [theme]="'error'"
      *ngIf="(FPDTO.creator || FPDTO.master) && sodetail.Code != 0 && somaster.Status == enumstt.NEW"
      (onClick)="ondeletedetail()">
      xoá
    </ps-kendo-button>
    <ps-kendo-button *ngIf="(FPDTO.creator || FPDTO.master) && somaster.Status == enumstt.NEW && sodetail.Code != 0"
      [theme]="'primary'" (onClick)="updatesodetail(sodetail)">
      Cập nhật
    </ps-kendo-button>
    <ps-kendo-button *ngIf="(FPDTO.creator || FPDTO.master) && somaster.Status == enumstt.NEW && sodetail.Code == 0"
      [theme]="'primary'" (onClick)="updatesodetail(sodetail)">
      Tạo mới
    </ps-kendo-button>
    <ps-kendo-button
      *ngIf="(FPDTO.approver || FPDTO.master) && somaster.Status != enumstt.NEW && somaster.Status != enumstt.CANCLE && sodetail.DeliveryStatus == PURDODSTT.NOTDELIVERED"
      [theme]="'primary'" (onClick)="onAddNew()">
      Đã nhận
    </ps-kendo-button>
  </ng-container>
  <div class="body-container">

    <!-- BREADCRUM -->
    <div class="breadcrum">
      <ps-toolbar-top class="breadcrumb-content">
        <ps-kendo-button [theme]="'error-outline'"
          *ngIf="(somaster.Status == enumstt.NEW) && (FPDTO.creator || FPDTO.master) && (somaster.Code != 0)"
          (onClick)="updatemasterstatus(enumstt.CANCLE, 'Huỷ')">
          huỷ
        </ps-kendo-button>
        <ps-kendo-button [theme]="'primary'"
          *ngIf="(somaster.Status == enumstt.NEW) && (FPDTO.creator || FPDTO.master) && (somaster.Code != 0)"
          (onClick)="updatemasterstatus(enumstt.WATITINGDELIVERY, 'Chờ giao xe')">
          đã đặt cọc
        </ps-kendo-button>
        <ps-kendo-button [theme]="'error'"
          *ngIf="(somaster.Status == enumstt.NEW) && (FPDTO.creator || FPDTO.master) && (somaster.Code != 0)"
          (onClick)="ondeletemaster()">
          xoá
        </ps-kendo-button>
        <ps-kendo-button [theme]="'primary'" (onClick)="onRefreshAll()"
          *ngIf="(sodetail.Code != 0 || somaster.Code != 0) && (FPDTO.creator || FPDTO.master)">
          tạo mới
        </ps-kendo-button>
      </ps-toolbar-top>
    </div>

    <!-- BODY -->
    <div class="body">
      <!-- BLOCK 1 -->
      <div class="block1-container">
        <div class="body-head">
          <h1>thông tin bán hàng</h1>
        </div>
        <div class="block-1">
          <div class="block-1-content">
            <div class="content-col-1">
              <ps-kendo-textbox [label]="'Số phiếu bán hàng'" class="text-hightline" [(ngModel)]="somaster.ID"
                [disabled]="true">
              </ps-kendo-textbox>
              <div class="datetime-picker">
                <kendo-label text="Ngày bán hàng"></kendo-label>
                <kendo-datepicker placeholder="dd/MM/yyyy" format="dd/MM/yyyy" [readOnlyInput]="true"
                  calendarType="classic" [value]="somaster.SaleDate"
                  [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Status != enumstt.NEW"
                  (valueChange)="onsetdatechange($event, 'SaleDate')" (blur)="onFieldChanged('SaleDate')">
                </kendo-datepicker>
              </div>
              <ps-kendo-textbox [label]="'Cửa hàng xuất hàng'" [(ngModel)]="outhead.HeadName"
                [disabled]="true"></ps-kendo-textbox>
              <ps-kendo-dropdown-list [data]="listWH" [textField]="'WHName'" [valueField]="'Code'"
                [(ngModel)]="somaster.WHOut" [label]="'Kho xuất hàng  (*)'" (valueChange)="onFieldChanged('WHOut')"
                [valuePrimitive]="true"
                [disabled]="(FPDTO.approver && !FPDTO.master)  || somaster.Status != enumstt.NEW">
              </ps-kendo-dropdown-list>
              <div class="status">
                <kendo-label [text]="'Tình trạng'"></kendo-label>
                <div [innerHTML]="{ Status: somaster.Status, StatusName: somaster.StatusName } | SALOrderMasterStatus">
                </div>
              </div>
            </div>
            <div class="content-col-2">
              <ps-kendo-dropdown-list class="text-hightline" [label]="'Người mua hàng  (*)'" [data]="listcus"
                [valueField]="'Code'" [textField]="'Name'" [filterable]="true" [(ngModel)]="somaster.Partner"
                (selectChange)="onCustomerChange($event)" [valuePrimitive]="true"
                [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Code == 0 || somaster.Status != enumstt.NEW">
              </ps-kendo-dropdown-list>

              <div class="col-2-row-4">
                <ps-kendo-masked-textbox class="text-hightline" [label]="'Di động'" [(ngModel)]="somaster.PartnerPhone"
                  [mask]="'0000 000 000'" [disabled]="true">
                  <!-- [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW"> -->
                </ps-kendo-masked-textbox>

                <ps-kendo-textbox [label]="'Email'" [(ngModel)]="somaster.PartnerEmail" [disabled]="true">
                  <!-- [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW"> -->
                </ps-kendo-textbox>

                <ps-kendo-textbox [label]="'Nghề nghiệp'" [(ngModel)]="somaster.PartnerOccupationName"
                  [disabled]="true">
                </ps-kendo-textbox>
                <!-- <ps-kendo-dropdown-list [label]="'Nghề nghiệp'" [data]="listopp" [textField]="'ListName'"
                                        [valueField]="'OrderBy'" [valuePrimitive]="true" [(ngModel)]="somastercus.Occupation"
                                        (valueChange)="onCustomerChange('Occupation')"
                                        [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW">
                </ps-kendo-dropdown-list> -->
              </div>

              <div class="col-2-row-4">
                <!-- <ps-kendo-dropdown-list [data]="provincelsit" textField="VNProvince" valueField="Code"
                                        [(ngModel)]="somastercus.Province" (valueChange)="onCustomerChange('Province')"
                                        [label]="'Tỉnh thành (*)'" [valuePrimitive]="true"
                                        [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW">
                </ps-kendo-dropdown-list> -->
                <ps-kendo-textbox [label]="'Tỉnh thành'" [(ngModel)]="somaster.PartnerProvinceName" [disabled]="true">
                </ps-kendo-textbox>

                <!-- <ps-kendo-dropdown-list [data]="districtlsit" textField="VNDistrict" valueField="Code"
                                        [(ngModel)]="somastercus.District" (valueChange)="onCustomerChange('District')"
                                        [label]="'Quận/Huyện  (*)'" [valuePrimitive]="true"
                                        [disabled]="(FPDTO.approver && !FPDTO.master) || !somastercus.Province || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW">
                </ps-kendo-dropdown-list> -->
                <ps-kendo-textbox [label]="'Quận/Huyện'" [(ngModel)]="somaster.PartnerDistrictName" [disabled]="true">
                </ps-kendo-textbox>

                <!-- <ps-kendo-dropdown-list [data]="wardlsit" textField="VNWard" valueField="Code"
                                        [(ngModel)]="somastercus.Ward" (valueChange)="onCustomerChange('Ward')" [label]="'Phường/Xã  (*)'"
                                        [valuePrimitive]="true"
                                        [disabled]="(FPDTO.approver && !FPDTO.master) || !somastercus.District || somaster.Code == 0 || !somaster.Customer  || somaster.Status != enumstt.NEW">
                </ps-kendo-dropdown-list> -->
                <ps-kendo-textbox [label]="'Phường/Xã'" [(ngModel)]="somaster.PartnerWardName" [disabled]="true">
                </ps-kendo-textbox>
              </div>

              <ps-kendo-textbox [label]="'Địa chỉ'" [(ngModel)]="somaster.PartnerAddress" [disabled]="true">
              </ps-kendo-textbox>
            </div>

            <div class="content-col-3">
              <ps-kendo-textbox [label]="'Tổng giá trị đơn hàng'" class="text-right" [disabled]="true"
                [(ngModel)]="somaster.TotalPrice">
              </ps-kendo-textbox>
              <ps-kendo-textbox [label]="'Tổng số lượng xe'" class="text-right" [disabled]="true"
                [(ngModel)]="somaster.TotalVehicle">
              </ps-kendo-textbox>
              <div class="col-3-row-3">
                <ps-kendo-dropdown-list [data]="listpaymentmethod" textField="ListName" valueField="TypeOfList"
                  [(ngModel)]="somaster.PaymentMethod" [label]="'Hình thức thanh toán'" [valuePrimitive]="true"
                  (valueChange)="onFieldChanged('PaymentMethod')"
                  [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Status != enumstt.NEW">
                </ps-kendo-dropdown-list>
                <ps-kendo-numeric-textbox class="text-right" [label]="'Số lần thanh toán'"
                  [(ngModel)]="somaster.PaymentCount" [format]="'n0'" (blur)="onFieldChanged('PaymentCount')"
                  [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.PaymentMethod == enumpaymentmethod.LUMPSUM || somaster.Status != enumstt.NEW">
                </ps-kendo-numeric-textbox>
              </div>
              <ps-kendo-numeric-textbox class="text-right text-hightline-warning" [label]="'Tiền đặt cọc'"
                [(ngModel)]="somaster.AmountPaid" [format]="'n0'"
                [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Status != enumstt.NEW"
                (blur)="onFieldChanged('AmountPaid')">
              </ps-kendo-numeric-textbox>
            </div>
            <div class="content-col-4">
              <ps-kendo-dropdown-list [data]="listEmployee" textField="FullName" valueField="Code"
                [(ngModel)]="somaster.SaleStaff" [label]="'Nhân viên bán hàng'" [valuePrimitive]="true"
                (valueChange)="onFieldChanged('SaleStaff')"
                [disabled]="(FPDTO.approver && !FPDTO.master) || somaster.Status != enumstt.NEW">
              </ps-kendo-dropdown-list>
              <ps-kendo-dropdown-list [data]="listEmployee" textField="FullName" valueField="Code"
                [(ngModel)]="somaster.TechnicalStaff" [label]="'Nhân viên kỹ thuật ráp xe'" [valuePrimitive]="true"
                (valueChange)="onFieldChanged('TechnicalStaff')"
                [disabled]="(FPDTO.approver && !FPDTO.creator) || somaster.Code == 0 || detailcount == 0 || somaster.Status == enumstt.OK">
              </ps-kendo-dropdown-list>
            </div>
          </div>
        </div>
      </div>

      <!-- BLOCK 2 -->
      <div class="block2-container" *ngIf="somaster.Code != 0">
        <div class="body-head">
          <h1>chi tiết đơn hàng</h1>
        </div>
        <div class="block-2">
          <div class="block-2-content">
            <div class="head-btn" *ngIf="somaster.Status == enumstt.NEW && (FPDTO.creator || FPDTO.master)">
              <ps-kendo-button [theme]="'primary'" (onClick)="onCreateNew()">
                tạo mới
              </ps-kendo-button>
            </div>
            <!-- LIST -->
            <div class="list">
              <ps-kendo-grid [data]="wholesaleDetailData | async" [pageable]="false">
                <!-- Cột dữ liệu -->
                <kendo-grid-column field="TypeOfVehicleName" title="Dòng xe" [width]="150"></kendo-grid-column>
                <kendo-grid-column field="VehicleName" title="Loại xe" class="type-vehicle"
                  [width]="250"></kendo-grid-column>
                <kendo-grid-column field="VehicleColorName" title="Màu xe" [width]="150"></kendo-grid-column>
                <kendo-grid-column field="Version" title="Đời xe" [width]="50"></kendo-grid-column>
                <kendo-grid-column field="Quantity" title="Số lượng" [width]="60" class="centercolumn"
                  headerClass="centercolumn"></kendo-grid-column>
                <kendo-grid-column field="TotalCost" title="Thành tiền" [width]="150">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    {{ dataItem.TotalCost | number }}
                  </ng-template>
                </kendo-grid-column>

                <!-- Detail Template chính -->
                <ng-template kendoGridDetailTemplate let-dataItem>
                  <div class="list-detail">
                    <div class="image-dateil">
                      <img [src]="dataItem.VehicleImage" alt="Vehicle" />
                    </div>
                    <ps-kendo-grid [data]="dataItem.ListDetail" [pageable]="false" [width]="50" [header]="false"
                      [actionColumnData]="actionColumn" (btnActionFocus)="onActionColumnFocus($event)"
                      [hasColumnAction]="true" (actionSelected)="onActionClick($event)">
                      <kendo-grid-column field="FrameSeri" [width]="250">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span class="frameseri">Số khung | </span> {{ dataItem.FrameSeri }}
                        </ng-template>
                      </kendo-grid-column>
                      <kendo-grid-column field="EngineSeri" [width]="250">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span>Số máy | </span> {{ dataItem.EngineSeri }}
                        </ng-template>
                      </kendo-grid-column>

                      <kendo-grid-column field="InsuranceNumber" [width]="250">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span *ngIf="dataItem.InsuranceNumber != null && dataItem.InsuranceNumber != ''">Số bảo hiểm |
                          </span> {{ dataItem.InsuranceNumber }}
                        </ng-template>
                      </kendo-grid-column>

                      <kendo-grid-column field="Price" [width]="250">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <span [title]="dataItem.Price">{{ dataItem.Price | number }}</span>
                        </ng-template>
                      </kendo-grid-column>

                      <kendo-grid-column field="DeliveryStatusName" [sticky]="true" [width]="100">
                        <ng-template kendoGridCellTemplate let-dataItem>
                          <div
                            [innerHTML]="{ Status: dataItem.DeliveryStatus, StatusName: dataItem.DeliveryStatusName} | SALOrderDetailStatus">
                          </div>
                        </ng-template>
                      </kendo-grid-column>
                    </ps-kendo-grid>
                  </div>
                </ng-template>
              </ps-kendo-grid>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- START: DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="showpopupdetail">
    <div psDialogConfirmHeader>xoá thông tin xe</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá thông tin xe</span>
        <br>
        <div class="hightline">{{sodetail.VehicleName}}</div>
        <div class="hightline-detail mt-2">SỐ KHUNG: {{sodetail.FrameSeri}}</div>
        <div class="hightline-detail">SỐ MÁY: {{sodetail.EngineSeri}}</div>
      </div>
      <div class="sub-title">
        Thông tin xe bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="showpopupdetail = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="DeleteSODetail(sodetail)" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
  <!-- START: DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="showpopupmaster">
    <div psDialogConfirmHeader>xoá thông tin phiếu</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phiếu bán sỉ này</span>
        <br>
        <div class="hightline">{{somaster.ID}}</div>
      </div>
      <div class="sub-title">
        Phiếu bán sỉ bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="showpopupmaster = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="deletesomaster(somaster)" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
</ps-kendo-drawer-container>