<div class="auth-layout">
    <!-- START: HEADER CAROUSEL -->
    <div class="header owl-carousel owl-theme">
        <div class="item" *ngFor="let item of carouselData">
            <img [src]="item" alt="Image">
        </div>
    </div>
    <!-- END: HEADER CAROUSEL -->

    <!-- START: BODY FORM -->
    <div class="body">
        <div class="form-header">
            <span class="material-icons">two_wheeler</span>
            <div class="title">ERP Portal</div>
            <div class="subtitle">Hệ thống quản lý đại lý xe máy</div>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <kendo-textbox #username name="username" showErrorIcon="initial" placeholder="Tài khoản"
                formControlName="username" required></kendo-textbox>
            <kendo-textbox #password name="password" showErrorIcon="initial" placeholder="Mật khẩu"
                formControlName="password" type="password" class="mt-3" required>
                <ng-template kendoTextBoxSuffixTemplate>
                    <button kendoButton type="button" look="clear" icon="eye" (touchstart)="showpassword()"
                        (touchstart)="showpassword()" (touchend)="hidepassword()"></button>
                </ng-template>
            </kendo-textbox>
            <ps-kendo-button [theme]="'primary'">Đăng nhập</ps-kendo-button>
        </form>
    </div>
    <!-- END: BODY FORM -->

    <!-- START: FOOTER COPYRGIHT -->
    <ps-footer-copyright></ps-footer-copyright>
    <!-- END: FOOTER COPYRGIHT -->
</div>