@import "../../../../../assets/scss/colors";

::ng-deep
{
    mtb009-outbound
    {

        .k-label
        {
            font-size: 13px !important;
        }

        ps-kendo-dropdown-list
        {
            .k-list-item-text
            {
                font-size: 14px !important;
            }
        }

        ps-kendo-dropdown-button
        {
            .k-dropdown-button
            {
                background-color: $primary;
                border-radius: 5px;

                .k-link
                {
                    padding-left: 8px !important;
                }
            }
        }

        ps-kendo-dropdown-button .k-button-text
        {
            color: $white !important;
        }

        ps-dialog-confirm ps-kendo-button:first-child .k-button-text
        {
            color: $secondary !important;
        }

        .arrow-dropdown img
        {
            filter: brightness(10);
        }

        /* link trong ActionColumn menu */
        .k-link
        {
            width: 200px !important;
        }

        .k-group .k-item .k-link:active
        {
            background-color: $gray-light !important;
        }

        ps-dialog-confirm
        {
            .main-title
            {
                text-align: center;

                .hightline
                {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 1;
                    color: $primary;
                }
            }

            .sub-title
            {
                span
                {
                    text-transform: uppercase;
                    color: $error;
                }
            }
        }

        .ps-filter-bar
        {

            .kendo-dropdown-list
            {
                kendo-dropdownlist
                {
                    span
                    {

                        min-width: 120px;
                    }

                }
            }

            .io-type-container
            {
                min-width: 200px;
            }
        }

        .mtb009-outbound
        {
            width: 100%;
            height: 100%;
            padding-right: 10px;



            .ps-filter-bar
            {
                ps-filter-textbox
                {
                    .filter-textbox
                    {
                        ps-kendo-textbox
                        {
                            .kendo-textbox
                            {
                                min-width: 270px;
                            }
                        }
                    }
                }

                ps-kendo-dropdown-list
                {
                    min-width: 200px;
                }

                ps-kendo-dropdown-button .k-button-text
                {
                    color: $white !important;
                }
            }

            .list
            {
                height: calc(100% - 121px);
                width: 100%;

                .k-grid
                {
                    margin-top: 6px;

                    .actionColumn
                    {
                        border-left: none !important;
                    }

                    .k-grid-container
                    {
                        .k-grid-content
                        {
                            .k-grid-table-wrap
                            {
                                .k-grid-table
                                {
                                    .k-table-tbody
                                    {
                                        .k-table-row
                                        {
                                            height: 50px;

                                            .k-table-td
                                            {
                                                &.col-description
                                                {
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    display: -webkit-box;
                                                    -webkit-box-orient: vertical;
                                                    -webkit-line-clamp: 2;
                                                    line-height: 1.6;
                                                    max-height: 3em;
                                                }

                                                .inbound-name
                                                {
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    display: -webkit-box;
                                                    -webkit-box-orient: vertical;
                                                    -webkit-line-clamp: 1;
                                                    line-height: 1.5;
                                                    max-height: 1.5em;
                                                    color: $primary;
                                                    font-weight: bold;
                                                }

                                                &.inbound-status
                                                {
                                                    div
                                                    {
                                                        text-transform: uppercase;
                                                    }
                                                }

                                                .inbound-group
                                                {

                                                    display: flex;

                                                    &.inbound-staff
                                                    {
                                                        .content-content.group-b
                                                        {
                                                            font-weight: 700;
                                                        }

                                                        .content-label
                                                        {
                                                            width: 95px;
                                                        }
                                                    }

                                                    &.inbound-point
                                                    {
                                                        .group-label
                                                        {
                                                            width: 35px;
                                                        }
                                                    }

                                                    &.inbound-quantity
                                                    {
                                                        .group-label
                                                        {
                                                            width: 70px;
                                                        }
                                                    }

                                                    &.inbound-date
                                                    {}

                                                    .hightline
                                                    {}

                                                    .group-b
                                                    {}
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}