<div class="ath002-store">
    <!-- START: HEADER -->
    <ps-header-main>
        <div class="title">
            lựa chọn đơn vị
        </div>
    </ps-header-main>
    <!-- END: HEADER -->

    <!-- START: NOTE -->
    <div class="note">
        <div>
            Vui lòng lựa chọn
            <span>đơn vị</span>
        </div>
        <div>
            để xử lý các tác nghiệp liên quan
        </div>
    </div>
    <!-- END: NOTE -->

    <!-- START: BODY -->
    <div class="body">
        <div class="list">
            <div class="item" *ngFor="let item of listHead; let i = index" [class.highlight]="i % 2" (click)="selectHead(item)">
                <div class="image">
                      <span class="material-icons">two_wheeler</span>
                </div>
                <div class="group-name">
                    <div class="short-name">{{item.HeadName}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: BODY -->

    <!-- START: FOOTER -->
    <ps-footer-copyright></ps-footer-copyright>
    <!-- END: FOOTER -->
</div>