@import '../../../../../assets/scss/colors';

::ng-deep {
  ps-kendo-button {
    .k-button-solid-base {
      background-image: none;
    }

    .k-button {
      height: 32px;
      border-color: $secondary;
      box-shadow: none;
      background-color: transparent;
      padding: 0 8px;
      border-radius: 8px;

      .k-button-text {
        font-size: 13px;
        font-weight: normal;
        color: $secondary;
        text-transform: none;
        line-height: 1;
        display: flex;
      }

      .k-focus {
        box-shadow: none;
      }
    }

    .k-button-solid-base.k-focus {
      box-shadow: none !important;
    }

    .k-button:hover,
    .k-focus {
      background-color: transparent;
      box-shadow: none;
    }

    .ontouch {
      background-color: rgb(0, 0, 0, 0.1) !important;
    }

    .primary,
    .primary:hover {
      border-color: $primary;
      background-color: $primary;

      .k-button-text {
        color: $white;
      }
    }

    .primary-outline,
    .primary-outline:hover {
      border-color: $primary;

      .k-button-text,
      .k-icon-wrapper-host .k-button-icon {
        color: $primary;
      }
    }

    .error,
    .error:hover {
      border-color: $error;
      background-color: $error;

      .k-button-text {
        color: $white;
      }
    }

    .error-outline:hover,
    .error-outline {
      border-color: $error;

      .k-button-text,
      .k-icon-wrapper-host .k-button-icon {
        color: $error;
      }
    }

    .warning,
    .warning:hover {
      border-color: $warning;
      background-color: $warning;

      .k-button-text {
        color: $white;
      }
    }

    .warning-outline,
    .warning-outline:hover {
      border-color: $warning;

      .k-button-text {
        color: $warning;
      }
    }

    .info,
    .info:hover {
      border-color: $info;
      background-color: $info;

      .k-button-text {
        color: $white;
      }
    }

    .info-outline,
    .info-outline:hover {
      border-color: $info;

      .k-button-text {
        color: $info;
      }
    }

    .secondary,
    .secondary:hover {
      border-color: $secondary;
      background-color: $secondary;

      .k-button-text {
        color: $white;
      }
    }
  }
}