@import "../../../../../assets/scss/colors";

::ng-deep
{
    mtb024-sal-collection-owner
    {
        font-size: 13px;
        height: 100%;

        .mtb024-sal-collection-owner
        {
            height: 100%;

            ps-header-back
            {
                .ps-header
                {
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    .header-right
                    {
                        height: fit-content;
                        display: flex;
                        width: calc(100% - 44px);
                        justify-content: space-between;
                        align-items: center;

                        .left-side
                        {
                            min-width: 168px;
                            width: 168px;

                            .func-title1
                            {
                                font-weight: bold;
                                text-transform: uppercase;
                                color: $primary;
                            }
                        }

                        .right-side
                        {
                            text-align: end;
                            width: calc(100% - 176px);

                            div
                            {

                                span,
                                .marquee-content
                                {
                                    font-weight: bold;
                                }

                                span
                                {
                                    color: $error;
                                }

                                .marquee-content
                                {
                                    color: $info;
                                }
                            }

                            div
                            {

                                span,
                                .marquee-content
                                {
                                    font-weight: bold;
                                }

                                span
                                {
                                    color: $error;
                                }

                                .marquee-content
                                {
                                    color: $info;
                                }
                            }

                            .marquee-wrapper
                            {
                                width: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                position: relative;

                                .marquee-content
                                {
                                    display: inline-block;
                                    white-space: nowrap;
                                    transform: translateX(0);
                                }

                                .marquee-content.running
                                {
                                    transform: translateX(70%);
                                    animation: slide-left 8s linear infinite;
                                }

                                @keyframes slide-left
                                {
                                    from
                                    {
                                        transform: translateX(70%);
                                    }

                                    to
                                    {
                                        transform: translateX(-100%);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .retail-body
            {
                height: calc(100% - 112px);
                display: flex;
                flex-direction: column;
                padding: 0 8px;
                margin: 8px 0;
                overflow: auto;

                .body-title
                {
                    font-size: 13px;
                    font-weight: bold;
                    color: $secondary;
                    height: 32px;
                    display: flex;
                    align-items: center;
                    line-height: 1;
                }

                .main-body
                {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    background: $white;
                    padding: 8px;
                    border-radius: 8px;
                    // margin-bottom: 8px;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                    .row-1
                    {
                        gap: 8px;
                        display: flex;
                        align-items: flex-end;
                        position: relative;

                        ps-kendo-masked-textbox
                        {
                            flex: 1;
                        }

                        ps-kendo-button
                        {
                            max-width: 36px;

                            button
                            {
                                background: $secondary;

                                .k-button-text
                                {
                                    span
                                    {
                                        color: $white;
                                    }
                                }
                            }
                        }

                        ps-kendo-checkbox
                        {
                            position: absolute;
                            top: 0;
                            right: 0;

                            .checkbox
                            {
                                input:disabled
                                {
                                    background: $disable-input;
                                }
                            }
                        }

                    }

                    ps-kendo-dropdown-list
                    {
                        .kendo-dropdown-list
                        {
                            kendo-dropdownlist
                            {
                                kendo-popup
                                {
                                    .k-popup
                                    {
                                        kendo-list
                                        {
                                            .k-list-content
                                            {
                                                max-height: 200px;
                                                overflow: auto;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .datepicker
                    {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                        justify-content: flex-end;


                        label
                        {
                            font-size: 13px;
                            line-height: 1;
                        }

                        kendo-datepicker
                        {
                            height: 35px;
                            border-color: $border;
                            border-radius: 5px;


                            &:hover
                            {
                                box-shadow: none;
                                border-color: #126433;
                            }

                            kendo-dateinput
                            {
                                background: $disable-input;
                            }

                            input
                            {
                                font-size: 13px;
                                color: $secondary;
                                font-weight: 400;
                            }

                            button
                            {
                                background: $white;
                                width: 33px;
                            }

                            &.disable-block
                            {
                                background: $disable-input;
                                pointer-events: none;

                                button
                                {
                                    background: $disable-input;
                                }
                            }

                            &.readonly-mode
                            {
                                border: none;
                                pointer-events: none;

                                button
                                {
                                    display: none;
                                }
                            }
                        }

                        .k-disabled
                        {
                            border-color: $border;
                            background-color: $disable-input;
                            opacity: 1;

                            .k-input-button
                            {
                                border-left: none;
                                background-color: transparent;
                            }
                        }

                        .status
                        {
                            margin-top: 5px;
                        }
                    }

                    .row-6
                    {
                        display: flex;
                        gap: 8px;
                        align-items: flex-end;

                        ps-kendo-dropdown-list
                        {
                            &:first-child
                            {
                                min-width: 134px;
                            }

                            &:nth-of-type(2)
                            {
                                flex: 1;
                            }

                            &:last-child
                            {
                                flex: 1;
                            }

                        }
                    }

                }

                ps-kendo-button
                {
                    width: 100%;

                    button
                    {
                        width: 100%;
                    }
                }
            }

            ps-footer-action
            {
                .footer-action
                {
                    display: flex;

                    ps-kendo-button
                    {
                        width: 50%;

                        button
                        {
                            height: 100%;
                            border-radius: 0;
                            width: 100%;
                            border: none;
                            padding: 0;

                            .k-button-text
                            {
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                gap: 4px;
                                padding: 4px 0;
                                justify-content: center;
                                font-size: 13px;
                                text-transform: none;
                                font-weight: normal;

                                svg
                                {
                                    width: 24px;
                                    height: 24px;
                                }

                                .text
                                {
                                    font-size: 13px;
                                    text-transform: none;
                                }
                            }
                        }

                        &:last-child
                        {
                            .text
                            {
                                color: $white;
                            }
                        }

                        &:first-child
                        {
                            border: none;
                            align-items: center;

                            .k-button-text
                            {
                                width: 100%;
                                height: 65%;
                            }
                        }

                        &:nth-of-type(2)
                        {
                            border: none;
                        }
                    }

                }

                &.active
                {
                    .footer-action
                    {
                        ps-kendo-button
                        {
                            width: 50%;
                        }
                    }
                }
            }


        }
    }
}