<div class="card-content-column k-flex-1">
  <div class="btn-group">
    <ps-kendo-button class="button" [icon]="'reload'" (onClick)="onReload()">
    </ps-kendo-button>
    <ps-kendo-button class="button" [disabled]="resetDisabled" (onClick)="onReset()">
      <img src="../../../../../assets/images/icons/reset-filter.icon.png" alt>
    </ps-kendo-button>
    <ps-kendo-button class="button" [disabled]="clearDisabled" (onClick)="onClear()">
      <img src="../../../../../assets/images/icons/remove-filter.icon.png" alt>
    </ps-kendo-button>
  </div>
</div>