@import '../../../../../assets/scss/colors';

::ng-deep
{
  prt002-inventory-detail
  {
    .custom-multiselect-wrapper
    {
      .underline-multiselect
      {
        .k-animation-container
        {
          .k-popup
          {
            .k-list
            {
              .k-list-content
              {
                .k-list-ul
                {
                  .k-selected
                  {
                    outline: none;
                    cursor: default;
                    pointer-events: none;
                    box-shadow: none;
                    opacity: 0.5;
                  }
                }
              }
            }
          }
        }
      }
    }


    .datetime-picker
    {
      display: flex;
      flex-direction: column;
      width: 25%;
      min-width: 250px;
      gap: 5px;

      .date-range
      {
        display: flex;
        gap: 12px;
        align-items: center;
        height: 35px;

        .k-datepicker
        {
          height: 35px;

          input
          {
            font-size: 13px;
            color: $secondary;
            font-weight: 400;
          }
        }

        .k-disabled
        {
          border-color: $border;
          background-color: $disable-input;
          opacity: 1;

          .k-input-button
          {
            border-left: none;
            background-color: transparent;
          }
        }
      }

      kendo-label
      {
        line-height: 1;

        label
        {
          font-size: 13px;
          font-weight: 400;
          color: $secondary;
          line-height: 1;
        }
      }
    }

    .radio-group
    {
      display: flex;
      width: fit-content;
      min-width: 310px;
      flex-direction: column;
      gap: 5px;

      &.radio-group-1
      {
        min-width: 370px;
      }

      kendo-label
      {
        line-height: 1;

        label
        {
          font-size: 13px;
          font-weight: 400;
          color: $secondary;
          line-height: 1;
        }
      }


      .radios
      {
        margin: 10px 0 0 15px;
        display: flex;
        gap: 50px;
      }
    }

    .status-group
    {
      display: flex;
      flex-direction: column;
      min-width: 110px;

      kendo-label
      {
        line-height: 1;

        label
        {
          font-size: 13px;
          font-weight: 400;
          color: $secondary;
          line-height: 1;
        }
      }

      .status
      {
        display: inline-flex;
        align-items: center;
        margin: 9px 0 0 0;
        font-size: 13px;
        font-weight: bold;
      }
    }

    .breadcrum
    {
      padding-right: 10px;
      height: 45px;
      overflow: auto;
      width: 100%;

      .group-btn
      {
        display: flex;
        gap: 10px;
        overflow: auto;

      }

      ps-toolbar-top
      {
        .toolbar
        {
          overflow-x: auto;
          overflow-y: hidden;

          .toolbar-top
          {
            min-width: fit-content;
          }
        }
      }
    }

    .block-wrapper
    {
      height: calc(100% - 100px);
      padding-right: 6px;
      overflow-x: auto;
      margin: 10px 0;

      .block
      {
        margin-top: 5px;

        .title
        {
          display: flex;
          position: relative;
          margin-bottom: 5px;
          justify-content: space-between;
          align-items: flex-end;

          h1
          {
            margin: 0;
            font-size: 14px;
            font-weight: 700;
            color: $secondary;
          }

          span
          {
            margin-right: 10px;
            font-size: 10px;
            cursor: pointer;
            color: $info;
          }
        }

        .block-inventory
        {
          width: 100%;
          background: $white;
          border-radius: 5px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          padding: 10px 0 0 0;

          .inventory-container
          {
            margin: 0 10px 0 10px;
            padding-bottom: 10px;
            overflow: hidden;
            overflow-x: auto;
            display: flex;
            gap: 50px;

            .container-left
            {
              width: 25%;
              min-width: 250px;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .kendo-textbox
              {
                width: 100%;

                .k-textbox
                {
                  .k-input-inner
                  {
                    color: $primary;
                  }
                }
              }
            }

            .container-right
            {
              width: calc(75% - 50px);
              min-width: 830px;
              display: flex;
              flex-direction: column;
              gap: 15px;

              .personnell-form-row
              {
                display: flex;
                gap: 50px;
                width: 100%;
                justify-content: space-between;

                ps-kendo-dropdown-list
                {
                  width: calc(100% / 3);
                  min-width: 250px;
                }
              }
            }
          }
        }
      }

      .block-2
      {
        padding: 15px 0 0 0;
        overflow-x: hidden;

        .title
        {
          display: flex;
          position: relative;
          align-items: center;
          padding: 0 0 5px 0;

          h1
          {
            margin: 0;

            font-size: 14px;
            font-weight: 700;
            color: $secondary;
          }

          span
          {
            padding: 10px 0;
            font-size: 10px;
            position: absolute;
            right: 10px;
            cursor: pointer;
            color: $info;
          }
        }

        .block-list
        {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .list-item
          {
            background: $white;
            padding-top: 10px;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            width: 100%;

            .inventory-container
            {
              margin: 0 10px;
              overflow-x: auto;
              overflow-y: hidden;
              display: flex;
              gap: 50px;
              padding-bottom: 10px;

              .grid-left
              {
                display: flex;
                flex-direction: column;
                min-width: 250px;
                width: 25%;
                gap: 15px;
                height: fit-content;

                .datetime-picker
                {
                  width: 100%;
                }

                ps-kendo-dropdown-list
                {
                  .kendo-dropdown-list
                  {
                    .k-dropdownlist
                    {
                      .k-input-inner
                      {
                        .k-input-value-text
                        {
                          font-weight: 700;
                        }
                      }
                    }
                  }
                }
              }

              .grid-right
              {
                width: 100%;
                min-width: 725px;

                .personnell-form-row
                {
                  width: 100%;
                  display: flex;
                  gap: 50px;
                  align-items: flex-start;
                  position: relative;

                  ps-kendo-dropdown-list
                  {
                    width: calc(100% / 3);
                    min-width: 250px;
                  }

                  ps-kendo-multiselect
                  {
                    width: 100%;
                    min-width: 425px;

                    kendo-label
                    {
                      line-height: 1;

                      label
                      {
                        font-size: 13px;
                        font-weight: 400;
                        color: $secondary;
                        line-height: 1;
                      }
                    }
                  }

                  .personnell-details
                  {
                    display: flex;
                    flex-direction: column;
                    width: 224px;
                    min-width: 224px;

                    label
                    {
                      font-size: 13px;
                      font-weight: 400;
                    }
                  }

                  .personnel-participating
                  {
                    display: flex;
                    flex-direction: column;
                    width: calc(100% - 224px - 24px);
                    padding: 0 10px 0 0;
                    min-width: 500px;

                    kendo-label
                    {
                      line-height: 1;

                      label
                      {
                        font-size: 13px;
                        font-weight: 400;
                        color: $secondary;
                        line-height: 1;
                      }
                    }
                  }

                }

                .personnell-form-rowunder
                {
                  display: flex;
                  gap: 24px;
                  align-items: flex-start;
                  position: relative;
                  width: 100%;

                  .form-group-horizontal
                  {
                    display: flex;
                    width: 100%;
                    margin-top: 15px;
                    gap: 50px;
                    justify-content: space-between;

                    .box-group
                    {
                      display: flex;
                      gap: 50px;
                    }

                    .button-group
                    {
                      display: flex;
                      align-items: stretch;
                      gap: 5px;

                      .left-buttons
                      {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        button
                        {
                          flex: 1;
                          margin-bottom: 5px;


                          &:last-child
                          {
                            margin-top: 0;
                          }
                        }
                      }

                      .right-button ::ng-deep button
                      {
                        height: 77px;
                        width: 100px;
                      }

                      button
                      {
                        font-size: 16px;
                        width: 100px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .add-inventory
  {
    position: absolute;
    bottom: 10px;
    width: calc(100% - 10px);
    z-index: 10;
    overflow: hidden;
    padding-right: 10px;

    .full-width-button ::ng-deep button
    {
      width: 100%;
      background: #fff;
    }
  }

  .popup
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .k-overlay
    {
      width: 100%;
      position: absolute;
      border-radius: 10px;
    }

    .popup-container
    {
      position: relative;
      width: 100%;
      height: 100%;

      .k-animation-container
      {
        background-color: $white;
        z-index: 100001;
        font-size: 13px;
        position: absolute;
        left: calc((100% - 350px) / 2) !important;
        top: calc((100% - 200px) / 2) !important;
        border-radius: 5px;

        .k-popup
        {
          .header
          {
            height: 50px;
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            color: $error;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            border-bottom: 1px solid $border;
          }

          .body
          {
            height: 100px;
            width: 350px;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            .main-title
            {
              text-align: center;

              .hightline
              {
                font-weight: 700;
                font-size: 16px;
                line-height: 1;
                color: $primary;
              }
            }

            .sub-title
            {
              span
              {
                text-transform: uppercase;
                color: $error;
              }
            }
          }

          .footer
          {
            height: 50px;
            width: 350px;
            border-top: 1px solid $border;

            .cancle
            {
              button
              {
                width: 50%;
                height: 50px;
                border-radius: 0;
                border: none;
              }
            }

            .delete
            {
              button
              {
                width: 50%;
                height: 50px;
                border-radius: 0;
                border: none;
              }
            }
          }
        }
      }
    }
  }
}