<!-- <ps-kendo-multiselect [label]="'sd'"></ps-kendo-multiselect> -->
<div class="breadcrum">
  <ps-toolbar-top>
    <div class="group-btn">
      <ps-kendo-button [theme]="'error-outline'" *ngIf="inventoryMaster.StatusID == enumStatus.DOING"
                       (onClick)="onUpdateInventoryMasterStatus(inventoryMaster, enumStatus.CANCLE)">
        hủy kiểm kê
      </ps-kendo-button>
      <ps-kendo-button [theme]="'error-outline'"
                       *ngIf="inventoryMaster.StatusID == enumStatus.NEW && inventoryMaster.Code != 0"
                       (onClick)="openPopupDelete()">
        xoá kỳ kiểm kê
      </ps-kendo-button>
      <ps-kendo-button [theme]="'primary-outline'" *ngIf="inventoryMaster.StatusID == enumStatus.DOING"
                       (onClick)="onUpdateInventoryMasterStatus(inventoryMaster, enumStatus.DONE)">
        hoàn tất
      </ps-kendo-button>
      <ps-kendo-button [theme]="'primary'" (onClick)="newInvMater()" *ngIf="inventoryMaster.Code != 0">
        tạo mới
      </ps-kendo-button>
    </div>
  </ps-toolbar-top>
</div>

<div class="block-wrapper">

  <div class="block">
    <div class="title">
      <h1>THÔNG TIN KỲ KIỂM KÊ</h1>
      <span (click)="toggleCollapse()">{{ isCollapsed ? 'Mở rộng' : 'Thu gọn' }}</span>
    </div>

    <div class="block-inventory">
      <div class="inventory-container">
        <div class="container-left">
          <ps-kendo-textbox [(ngModel)]="inventoryMaster.InventoryName" (blur)="updateMaster('InventoryName')"
                            [label]="'Kỳ kiểm kê'"
                            [disabled]="inventoryMaster.StatusID != enumStatus.NEW"></ps-kendo-textbox>
          <div class="datetime-picker" *ngIf="!isCollapsed">
            <kendo-label text="Thời gian kiểm kê"></kendo-label>
            <div class="date-range">
              <kendo-datepicker placeholder="dd/MM/yyyy" [value]="inventoryMaster.FromDate" [readOnlyInput]="true"
                                calendarType="classic" [max]="setMaterMaxForm()"
                                [disabled]="inventoryMaster.StatusID != enumStatus.NEW"
                                (valueChange)="onMasterDateChange($event, 'FromDate')"></kendo-datepicker>
              <span>-</span>
              <kendo-datepicker placeholder="dd/MM/yyyy" [value]="inventoryMaster.ToDate" [readOnlyInput]="true"
                                calendarType="classic" [disabled]="inventoryMaster.StatusID != enumStatus.NEW"
                                (valueChange)="onMasterDateChange($event, 'ToDate')"></kendo-datepicker>
            </div>
          </div>
        </div>

        <div class="container-right">
          <ps-kendo-textbox [disabled]="inventoryMaster.StatusID != enumStatus.NEW"
                            [(ngModel)]="inventoryMaster.Description" (blur)="updateMaster('Description')"
                            [label]="'Mục tiêu kiểm kê'"></ps-kendo-textbox>
          <div class="personnell-form-row" *ngIf="!isCollapsed">
            <ps-kendo-dropdown-list [disabled]="inventoryMaster.StatusID != enumStatus.NEW" [label]="'Nhân sự chủ trì'"
                                    [data]="listEmployee" [textField]="'FullName'" [valueField]="'Code'"
                                    [valuePrimitive]="true" [(ngModel)]="inventoryMaster.Owner"
                                    (selectChange)="ownerChange($event)">
            </ps-kendo-dropdown-list>

            <div class="radio-group radio-group-1">
              <kendo-label text="Hiển thị đối soát"></kendo-label>
              <div class="radios">
                <ps-kendo-radiobutton [disabled]="inventoryMaster.Owner != userCode || inventoryMaster.StatusID == enumStatus.DONE || inventoryMaster.StatusID == enumStatus.CANCLE"
                                      [(ngModel)]="inventoryMaster.HiddenStock" [label]="'Cho phép hiển tồn'"
                                      [id]="'show'" [name]="'HiddenStock'" [value]="false"
                                      (onchecked)="updateMaster('HiddenStock')"></ps-kendo-radiobutton>
                <ps-kendo-radiobutton [disabled]="inventoryMaster.Owner != userCode || inventoryMaster.StatusID == enumStatus.DONE || inventoryMaster.StatusID == enumStatus.CANCLE"
                                      [(ngModel)]="inventoryMaster.HiddenStock" [label]="'Không cho phép hiển tồn'"
                                      [id]="'hide'" [name]="'HiddenStock'" [value]="true"
                                      (onchecked)="updateMaster('HiddenStock')"></ps-kendo-radiobutton>
              </div>
            </div>

            <div class="status-group">
              <kendo-label text="Tình trạng"></kendo-label>
              <div class="status active"
                   [innerHTML]="{ Status: inventoryMaster.StatusID, StatusName: inventoryMaster.StatusName } | WHInventoryMasterStatus">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="block-2" *ngIf="inventoryMaster.Code != 0 && inventoryPoint.length">
    <div class="title">
      <h1>CHI TIẾT KỲ KIỂM KÊ</h1>
    </div>

    <div class="block-list">
      <div class="list-item" *ngFor="let itemdata of inventoryPoint">
        <div class="inventory-container">
          <div class="grid-left">
            <ps-kendo-dropdown-list [disabled]="CheckPointDisabled(itemdata, 'WHName')" [label]="'Điểm kiểm kê'"
                                    [data]="listWH" [textField]="'WHName'" [valueField]="'Code'" [valuePrimitive]="true"
                                    [(ngModel)]="itemdata.Warehouse"
                                    (selectChange)="onPointChange($event, itemdata, 'Warehouse')"
                                    (focus)="onPointFocus()">
            </ps-kendo-dropdown-list>

            <div class="datetime-picker">
              <kendo-label text="Thời gian kiểm kê"></kendo-label>
              <div class="date-range">
                <kendo-datepicker [disabled]="CheckPointDisabled(itemdata, 'FromDate')" placeholder="dd/MM/yyyy"
                                  [value]="formatDate(itemdata.FromDate)"
                                  (valueChange)="onPointDateChange($event, itemdata, 'FromDate')" [readOnlyInput]="true"
                                  calendarType="classic" [min]="setPointMinForm()"
                                  [max]="setPointMaxForm(itemdata)"></kendo-datepicker>
                <span>-</span>
                <kendo-datepicker [disabled]="CheckPointDisabled(itemdata)" placeholder="dd/MM/yyyy"
                                  [value]="formatDate(itemdata.ToDate)" [readOnlyInput]="true"
                                  (valueChange)="onPointDateChange($event, itemdata, 'ToDate')" calendarType="classic"
                                  [min]="setPointMinTo(itemdata)" [max]="setPointMaxTo()"></kendo-datepicker>
              </div>
            </div>
          </div>

          <div class="grid-right">
            <div class="personnell-form-row">
              <ps-kendo-dropdown-list [disabled]="CheckPointDisabled(itemdata, 'Owner')" [label]="'Nhân sự chủ trì'"
                                      [data]="listEmployee" [textField]="'FullName'" [valueField]="'Code'"
                                      [valuePrimitive]="true" [(ngModel)]="itemdata.Owner"
                                      (selectChange)="onPointChange($event, itemdata, 'Owner')"></ps-kendo-dropdown-list>
              <ps-kendo-multiselect [disabled]="CheckPointDisabled(itemdata, 'Owner')" [label]="'Nhân sự tham gia'"
                                    [filterable]="true" [data]="listEmployeeOrder" [textField]="'FullName'"
                                    [valueField]="'StaffID'" (focus)="onOtherStaffFocus(itemdata)"
                                    (blur)="onOtherStaffBlur(itemdata)" [(ngModel)]="itemdata.ListStaffJoin"
                                    (valueChange)="onChangePointStaff($event, itemdata)">
              </ps-kendo-multiselect>
            </div>

            <div class="personnell-form-rowunder">
              <div class="form-group-horizontal">
                <div class="radio-group">
                  <kendo-label text="Phân loại kiểm kê"></kendo-label>
                  <div class="radios">
                    <ps-kendo-radiobutton [disabled]="CheckPointDisabled(itemdata, 'IsAll')"
                                          [(ngModel)]="itemdata.IsAll" [label]="'Toàn hệ thống'"
                                          [id]="'all' + itemdata.Code" [value]="true" [name]="'IsAll' + itemdata.Code"
                                          (onchecked)="onPointChange(true, itemdata, 'IsAll')"></ps-kendo-radiobutton>
                    <ps-kendo-radiobutton [disabled]="CheckPointDisabled(itemdata, 'IsAll')"
                                          [(ngModel)]="itemdata.IsAll" [label]="' Theo SKU lựa chọn'"
                                          [id]="'sku' + itemdata.Code" [value]="false" [name]="'IsAll' + itemdata.Code"
                                          (onchecked)="onPointChange(false, itemdata, 'IsAll')"></ps-kendo-radiobutton>
                  </div>
                </div>

                <div class="box-group">
                  <div class="status-group">
                    <kendo-label text="Tình trạng"></kendo-label>
                    <div class="status active"
                         [innerHTML]="{ Status: itemdata.StatusID, StatusName: itemdata.StatusName } | WHInventoryMasterStatus">
                    </div>
                  </div>
                  <div class="button-group">
                    <div class="left-buttons">
                      <ps-kendo-button [theme]="'primary'" [disabled]="CheckPointDisabled(itemdata, 'Done')"
                                       (onClick)="onUpdatePointStatus(itemdata, enumstatus.DONE)">
                        HOÀN TẤT
                      </ps-kendo-button>

                      <ps-kendo-button [theme]="'error-outline'" [disabled]="CheckPointDisabled(itemdata, 'Cancle')"
                                       *ngIf="itemdata.StatusID != enumstatus.NEW"
                                       (onClick)="onUpdatePointStatus(itemdata, enumstatus.CANCLE)">
                        HỦY KIỂM KÊ
                      </ps-kendo-button>
                      <ps-kendo-button [disabled]="CheckPointDisabled(itemdata, 'Delete')" [theme]="'error-outline'"
                                       *ngIf="itemdata.StatusID == enumstatus.NEW"
                                       (onClick)="onDeleteInvPoint(itemdata)">
                        xoá
                      </ps-kendo-button>
                    </div>
                    <ps-kendo-button (onClick)="onDetailClick(itemdata)" [theme]="'primary-outline'"
                                     class="right-button" *ngIf="itemdata.StatusID != enumStatus.NEW">
                      CHI TIẾT
                    </ps-kendo-button>
                    <ps-kendo-button [disabled]="CheckPointDisabled(itemdata, 'Start')"
                                     (onClick)="onDetailClick(itemdata)" [theme]="'primary-outline'"
                                     class="right-button" *ngIf="itemdata.StatusID == enumStatus.NEW">
                      bắt đầu
                    </ps-kendo-button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="add-inventory" *ngIf="inventoryMaster.Code != 0">
  <ps-kendo-button [theme]="'primary-outline'" (onClick)="addInvPoint()" [disabled]="inventoryPoint.length == listWH.length || 
                   inventoryMaster.StatusID == enumStatus.DONE || 
                   inventoryMaster.StatusID == enumStatus.CANCLE" class="full-width-button">
    THÊM ĐIỂM KIỂM KÊ
  </ps-kendo-button>
</div>

<div class="popup" *ngIf="popupConfirmOpen">
  <div class="k-overlay"></div>
  <div class="popup-container">
    <!-- <kendo-popup [animate]="{
        type: 'fade',
        duration: 0,
      }">
      <div class="header">XOÁ KỲ KIỂM KÊ</div>
      <div class="body">
        <div class="main-title">
          <span>Bạn có chắc chắn muốn xoá kỳ kiểm kê</span>
          <br>
          <div class="hightline">{{inventoryMaster.InventoryName}}</div>
        </div>
        <div class="sub-title">
          Kỳ kiểm kê bị xoá sẽ <span>KHÔNG</span> thể phục hồi
        </div>
      </div>
      <div class="footer">
        <ps-kendo-button class="cancle" (onClick)="popupConfirmOpen = false">huỷ</ps-kendo-button>
        <ps-kendo-button class="delete" (onClick)="DeleteInventoryMaster(inventoryMaster)"
                         [theme]="'error'">xoá</ps-kendo-button>
      </div>
    </kendo-popup> -->
  </div>
</div>

<div class="popup" *ngIf="popupConfirmOpenPoint">
  <div class="k-overlay"></div>
  <div class="popup-container">
    <kendo-popup [animate]="{
        type: 'fade',
        duration: 0,
      }">
      <div class="header">XOÁ ĐIỂM KIỂM KÊ</div>
      <div class="body">
        <div class="main-title">
          <span>Bạn có chắc chắn muốn xoá điểm kiểm kê</span>
          <br>
          <div class="hightline">{{inventoryPointDelete.WarehouseName}}</div>
        </div>
        <div class="sub-title">
          Điểm kiểm kê bị xoá sẽ <span>KHÔNG</span> thể phục hồi
        </div>
      </div>
      <div class="footer">
        <ps-kendo-button class="cancle" (onClick)="popupConfirmOpenPoint = false">huỷ</ps-kendo-button>
        <ps-kendo-button class="delete" (onClick)="DeleteInventoryPoint(inventoryPointDelete)"
                         [theme]="'error'">xoá</ps-kendo-button>
      </div>
    </kendo-popup>
  </div>
</div>