<div class="prt-category">
  <!-- NAVIGATION BAR -->
  <ps-toolbar-top></ps-toolbar-top>
  <!-- FILTER-BAR -->
  <div class="ps-filter-bar">
    <ps-filter-textbox
      *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.PART"
      [placeholder]="'Tìm kiếm phân nhóm phụ tùng'"
      [listField]="listfiltertext"
      (onFilter)="textFilterChange($event)"
    >
    </ps-filter-textbox>
    <ps-filter-textbox
      *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.VEHICLE"
      [placeholder]="'Tìm kiếm nhóm xe máy'"
      [listField]="listfiltertext"
      (onFilter)="textFilterChange($event)"
    >
    </ps-filter-textbox>
  </div>
  <!-- LIST -->
  <div class="list" [class.no-add-btn]="!(isMaster || isCreator)">
    <button class="add-btn" *ngIf="isMaster || isCreator" (click)="onAddNew()">
      + Thêm mới
    </button>
    <ps-kendo-grid
      [data]="data | async"
      [hasColumnAction]="false"
      (pageChanged)="onPageChanged($event)"
      [skip]="skip"
    >
      <!-- Phân nhóm phụ tùng - TypeCategory == 1 -->
      <kendo-grid-column
        *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.PART"
        class="part-group-col"
        [width]="200"
        title="Phân nhóm phụ tùng (*)"
      >
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div
            [title]="dataItem.Category"
            (dblclick)="!newItem && startEdit(rowIndex, dataItem, 'Category')"
          >
            <ng-container
              *ngIf="
                (newItem && rowIndex === 0) ||
                  (editingCell?.row === rowIndex &&
                    editingCell.field === 'Category');
                else readOnlyCategory
              "
            >
              <input
                id="input-Category-{{ rowIndex }}"
                [(ngModel)]="dataItem.Category"
                (blur)="saveEdit(dataItem, 'Category')"
                (keydown.enter)="saveEdit(dataItem, 'Category')"
                (focus)="getItemFocus(dataItem)"
              />
            </ng-container>
            <ng-template #readOnlyCategory>
              <div
                class="category-name"
                [ngClass]="{
                  'edit-text': (isMaster || isCreator) && dataItem.IsModify,
                  'view-text': isViewer || !dataItem.IsModify
                }"
              >
                {{ dataItem.Category || "\u00A0" }}
              </div>
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- Phân nhóm xe máy - TypeCategory == 2 -->
      <kendo-grid-column
        *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.VEHICLE"
        class="part-group-col"
        [width]="200"
        title="Phân nhóm xe máy (*)"
      >
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div
            [title]="dataItem.Category"
            (dblclick)="!newItem && startEdit(rowIndex, dataItem, 'Category')"
          >
            <ng-container
              *ngIf="
                (newItem && rowIndex === 0) ||
                  (editingCell?.row === rowIndex &&
                    editingCell.field === 'Category');
                else readOnlyCategory
              "
            >
              <input
                id="input-Category-{{ rowIndex }}"
                [(ngModel)]="dataItem.Category"
                (blur)="saveEdit(dataItem, 'Category')"
                (keydown.enter)="saveEdit(dataItem, 'Category')"
                (focus)="getItemFocus(dataItem)"
              />
            </ng-container>
            <ng-template #readOnlyCategory>
              <div
                class="category-name"
                [ngClass]="{
                  'edit-text': (isMaster || isCreator) && dataItem.IsModify,
                  'view-text': isViewer || !dataItem.IsModify
                }"
              >
                {{ dataItem.Category || "\u00A0" }}
              </div>
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- Diễn giải -->
      <kendo-grid-column
        class="description-col"
        [width]="900"
        title="Diễn giải"
      >
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <div
            [title]="dataItem.Description"
            (dblclick)="
              !newItem && startEdit(rowIndex, dataItem, 'Description')
            "
          >
            <ng-container
              *ngIf="
                editingCell?.row === rowIndex &&
                  editingCell.field === 'Description';
                else readOnlyDesc
              "
            >
              <input
                id="input-Description-{{ rowIndex }}"
                [(ngModel)]="dataItem.Description"
                (blur)="saveEdit(dataItem, 'Description')"
                (keydown.enter)="saveEdit(dataItem, 'Description')"
                (focus)="getItemFocus(dataItem)"
              />
            </ng-container>
            <ng-template #readOnlyDesc>
              <div
                class="category-name"
                [ngClass]="{
                  'edit-text': (isMaster || isCreator) && dataItem.IsModify,
                  'view-text': isViewer || !dataItem.IsModify,
                  'placeholder-text':
                    !dataItem.Description &&
                    (isMaster || isCreator) &&
                    dataItem.IsModify
                }"
              >
                {{
                  dataItem.Description ||
                    ((isMaster || isCreator) && dataItem.IsModify
                      ? "Nhấp đúp để nhập mô tả…"
                      : "")
                }}
              </div>
            </ng-template>
          </div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column
        [sticky]="true"
        class="delete-col"
        [width]="40"
        title=""
      >
        <ng-template kendoGridCellTemplate let-dataItem>
          <ng-container
            *ngIf="
              (isMaster || isCreator) && dataItem.IsModify && dataItem.Code !== 0;
              else disabledTrash
            "
          >
            <span
              class="k-icon k-font-icon k-i-trash clickable"
              (click)="onDeleteClick(dataItem)"
            ></span>
          </ng-container>
          <ng-template #disabledTrash>
            <span class="k-icon k-font-icon k-i-trash disable-trash"></span>
          </ng-template>
        </ng-template>
      </kendo-grid-column>
    </ps-kendo-grid>
  </div>

  <!-- START: XÓA THÔNG TIN -->

  <!-- Phân nhóm phụ tùng - TypeCategory == 1 -->
  <ps-dialog-confirm
    *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.PART"
    [theme]="'error'"
    [open]="popupConfirmOpen"
  >
    <div class="dialog-head" psDialogConfirmHeader>xoá thông tin phụ tùng</div>
    <div class="dialog-body" psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phân nhóm phụ tùng</span>
        <br />
        <div class="hightline">{{ detailActive?.Category }}</div>
      </div>
      <div class="sub-title">
        Thông tin phụ tùng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div class="dialog-footer" psDialogConfirmFooter>
      <ps-kendo-button (onClick)="popupConfirmOpen = !popupConfirmOpen"
        >huỷ</ps-kendo-button
      >
      <ps-kendo-button (onClick)="confirmDelete()" [theme]="'error'"
        >xoá</ps-kendo-button
      >
    </div>
  </ps-dialog-confirm>

  <!-- Phân nhóm xe máy - TypeCategory == 2 -->
  <ps-dialog-confirm
    *ngIf="TypeCategory == LSPartCategoryTypeDataEnum.VEHICLE"
    [theme]="'error'"
    [open]="popupConfirmOpen"
  >
    <div class="dialog-head" psDialogConfirmHeader>xoá thông tin xe máy</div>
    <div class="dialog-body" psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phân nhóm xe máy</span>
        <br />
        <div class="hightline">{{ detailActive?.Category }}</div>
      </div>
      <div class="sub-title">
        Thông tin phụ tùng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div class="dialog-footer" psDialogConfirmFooter>
      <ps-kendo-button (onClick)="popupConfirmOpen = !popupConfirmOpen"
        >huỷ</ps-kendo-button
      >
      <ps-kendo-button (onClick)="confirmDelete()" [theme]="'error'"
        >xoá</ps-kendo-button
      >
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
</div>
