@import "../../../../../assets/scss/colors";

::ng-deep
{
  prt-category
  {
    .prt-category
    {
      padding: 0 10px 0 0;
      height: 100%;
      ps-toolbar-top
      {}
      
      .ps-filter-bar
      {
        
        ps-filter-textbox
        {
          .filter-textbox
          {
            ps-kendo-textbox
            {
              min-width: 249px;
            }
          }
        }
      }
      
      .placeholder-text
      {
        color: $secondary !important;
        font-style: italic;
      }
      
      
      //----------- LIST --------------
      .list
      {
        width: 100%;
        position: relative;
        padding-top: 6px;
        height: calc(100% - 116px);

        .add-btn
        {
          padding: 0;
          z-index: 99;
          font-weight: bold;
          position: absolute;
          color: $primary;
          height: 32.15px;
          top: 31px;
          border: none;
          background: $background-primary;
          width: 100%;
          font-size: 13px;
          cursor: pointer;

          &:hover
          {
            background: $green-100;
          }
        }

        .disable-trash
        {
          opacity: 0.4;
          pointer-events: none;
        }

        ps-kendo-grid
        {
          margin-top: 6px;

          kendo-grid
          {
            .k-grid-aria-root
            {
              .k-grid-header
              {}

              kendo-grid-list
              {
                margin-top: 32.15px;

                .k-grid-content
                {
                  .k-grid-table-wrap
                  {
                    .k-grid-table
                    {
                      colgroup
                      {}

                      tbody
                      {
                        // tr:nth-child(odd) {
                        //   background-color: #eeeeee;
                        // }

                        // tr:nth-child(even) {
                        //   background-color: #ffffff;
                        // }
                        tr
                        {
                          td
                          {
                            height: 22.15px;

                            div
                            {
                              .category-name
                              {
                                &.edit-text
                                {
                                  color: $info;
                                }

                                &.view-text
                                {
                                  color: $secondary;
                                }
                              }
                            }
                          }

                          .delete-col
                          {
                            text-align: center;
                            border-left: 1px solid $black !important;

                            span
                            {
                              color: $error;
                              cursor: pointer;

                              &:hover
                              {
                                filter: brightness(1.1);
                              }

                              &.disable-trash
                              {
                                pointer-events: none;
                                opacity: 0.5;
                              }
                            }
                          }

                          .part-group-col,
                          .description-col
                          {
                            div
                            {
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;

                              input::-webkit-outer-spin-button,
                              input::-webkit-inner-spin-button
                              {
                                -webkit-appearance: none;
                                margin: 0;
                              }

                              input
                              {
                                padding-right: 10px;
                                border-radius: 5px;
                                border: 1px solid $primary;
                                width: 100%;

                                &:focus-visible
                                {
                                  outline-offset: 999999px;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .list.no-add-btn
      {
        ps-kendo-grid
        {
          kendo-grid
          {
            .k-grid-aria-root
            {
              kendo-grid-list
              {
                margin-top: 0 !important;
              }
            }
          }
        }
      }

      //-----------PS DIALOG CONFIRM--------------
      ps-dialog-confirm
      {
        .dialog-body
        {
          .main-title
          {
            div
            {
              text-align: center;
              font-weight: bold;
              color: $primary;
              font-size: 16px;
              line-height: 1;
            }
          }

          .sub-title
          {
            span
            {
              color: $red;
            }
          }
        }
      }
    }
  }
}