@import "../../../../../assets/scss/colors";

::ng-deep {
  mtb003-wholesale {
    ps-dialog-confirm {
      .main-title {
        text-align: center;

        .hightline {
          font-weight: 700;
          font-size: 16px;
          line-height: 1;
          color: $primary;
        }
      }

      .sub-title {
        span {
          text-transform: uppercase;
          color: $error;
        }
      }
    }

    .mtb003-wholesale {
      width: 100%;
      height: 100%;
      padding-right: 10px;

      .ps-filter-bar {
        ps-filter-textbox {
          .filter-textbox {
            ps-kendo-textbox {
              .kendo-textbox {
                min-width: 250px;
              }
            }
          }
        }

        .header-col-2 {
          display: flex;
          align-items: center;
          gap: 10px;

          ps-kendo-dropdown-list {
            min-width: 200px;
            width: 200px;

            .kendo-dropdown-list {
              .k-dropdownlist {
                .k-input-inner {
                  .k-input-value-text {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
                }

                .k-animation-container {
                  width: fit-content !important;

                  .k-popup {
                    .k-list {
                      .k-list-content {
                        .k-list-ul {
                          li {
                            span {
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .header-col-3 {
          display: flex;
          align-items: center;
          gap: 10px;

          ps-kendo-dropdown-list {
            min-width: 200px;
          }
        }
      }

      .list {
        position: relative;
        height: calc(100% - 121px);

        ps-kendo-grid {
          kendo-grid {
            margin-top: 6px;
            .actionColumn {
              border-left: none !important;
            }

            .k-grid-aria-root {
              .k-grid-header {
                .k-grid-header-wrap {
                  .k-grid-header-table {
                    .k-table-thead {
                      tr {
                        th:nth-of-type(1),
                        th:nth-of-type(3),
                        th:nth-of-type(5) {
                          justify-content: center;
                        }
                      }
                    }
                  }
                }
              }

              kendo-grid-list {
                .k-grid-content {
                  .k-grid-table-wrap {
                    table {
                      tbody {
                        tr {
                          .actionColumn {
                            border-left: none;
                          }

                          .list-col-1,
                          .list-col-3,
                          .list-col-5 {
                            text-align: center;
                          }

                          .list-col-1 {
                            .sale-code {
                              font-weight: bold;
                              color: $primary;
                            }
                          }

                          .list-col-2 {
                            .cus-name,
                            .address {
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                            }

                            .cus-name {
                              font-weight: bold;
                              color: $primary;
                            }
                          }

                          .list-col-3 {
                            .revenue {
                              font-weight: bold;
                            }

                            .deposit {
                              color: $warning;
                            }
                          }

                          .list-col-4 {
                            .salesperson,
                            .salesperson span {
                              font-weight: bold;
                            }

                            .salesperson,
                            .technician,
                            .registrar {
                              white-space: nowrap;
                              overflow: hidden;
                              text-overflow: ellipsis;
                              display: flex;

                              span {
                                display: block;
                                width: 65px;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
