<div class="mtb003-wholesale">
  <!-- START: HEADER TOOL -->
  <ps-toolbar-top>
    <ps-kendo-button *ngIf="FunctionPermissionDTO.master || FunctionPermissionDTO.creator" [theme]="'primary'" (onClick)="addnewitem()">tạo
      mới</ps-kendo-button>
  </ps-toolbar-top>
  <!-- END: HEADER TOOL -->
  <!-- START: FILTER -->
  <div class="ps-filter-bar">
    <ps-filter-textbox [placeholder]="'Tìm kiếm khách hàng, xe bán'" [listField]="listfiltertext"
                       (onFilter)="textFilterChange($event)">
    </ps-filter-textbox>
    <div class="header-col-2">
      <ps-kendo-dropdown-list [label]="'Dòng xe'" [(ngModel)]="typedataactive.Code" [data]="listtypedata"
                              [textField]="'TypeOfVehicle'" (selectChange)="dropdownvehiclechange('type', $event)"
                              [valueField]="'Code'" [valuePrimitive]="true">
      </ps-kendo-dropdown-list>
      <ps-kendo-dropdown-list [label]="'Loại xe'" [(ngModel)]="vehicleactive.Code" [data]="listvehicle"
                              [textField]="'VehicleName'" (selectChange)="dropdownvehiclechange('vehicle', $event)"
                              [valueField]="'Code'" [valuePrimitive]="true" [disabled]="!typedataactive.Code">
      </ps-kendo-dropdown-list>
      <ps-kendo-dropdown-list [label]="'Màu xe'" [(ngModel)]="coloractive.Code" [data]="listcolor"
                              [textField]="'ColorName'" (selectChange)="dropdownvehiclechange('color', $event)"
                              [valueField]="'Code'" [valuePrimitive]="true" [disabled]="!vehicleactive.Code">
      </ps-kendo-dropdown-list>
    </div>
    <div class="header-col-3">
      <ps-filter-status1 [data]="liststatus" [valueField]="'TypeOfStatus'" (changedValue)="statusFilterChange($event)"
                         [field]="'Status'" [label]="'Tình trạng hồ sơ'">
      </ps-filter-status1>
      <ps-kendo-dropdown-list [label]="'Hình thức thanh toán'" [(ngModel)]="paymentmethodactive.TypeOfList"
                              [data]="listpaymentmethod" (selectChange)="dropdownvehiclechange('method', $event)"
                              [textField]="'ListName'" [valueField]="'TypeOfList'" [valuePrimitive]="true">
      </ps-kendo-dropdown-list>
    </div>
    <ps-filter-button [clearDisabled]="isDisabledClear" [resetDisabled]="isDisabledReset" (reload)="onReload()"
                      (clear)="statusFilterClear()" (reset)="statusFilterReset()">
    </ps-filter-button>
  </div>

  <!-- LIST -->
  <div class="list">
    <ps-kendo-grid #grid [data]="data | async" [actionColumnWidth]="50" [actionColumnData]="actionColumn"
                   (btnActionFocus)="onActionColumnFocus($event)" [hasColumnAction]="true"
                   (actionSelected)="onActionClick($event)" [pageable]="true" (pageChanged)="onPageChanged($event)"
                   [skip]="skip">

      <kendo-grid-column class="list-col-1" [width]="120" title="Phiếu bán hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="sale-code">{{ dataItem.ID }}</div>
          <div>{{ dataItem.SaleDate | date: 'dd/MM/yyyy' }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="list-col-2" [width]="400" title="Khách hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [title]="dataItem.PartnerName + ' | ' + dataItem.PartnerPhone" class="cus-name">
            {{ dataItem.PartnerName }} {{dataItem.PartnerPhone != "" && dataItem.PartnerPhone != null ? '| ' + dataItem.PartnerPhone : '' }}
          </div>
          <div class="address" [title]="dataItem.PartnerFullAddress">{{ dataItem.PartnerFullAddress }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="list-col-3" [width]="150" title="Doanh thu">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="revenue">{{ dataItem.Price | number}}</div>
          <div *ngIf="dataItem.AmountPaid > 0" class="deposit">Cọc: {{ dataItem.AmountPaid | number}}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="list-col-4" [width]="250" title="Thông tin bán hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="salesperson">
            <span>Dòng xe</span>: {{ dataItem.TotalTypeOfVehicle }}
          </div>
          <div class="technician">
            <span>Loại xe</span>: {{ dataItem.TotalLSVehicle }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="list-col-5" [width]="150" title="Hình thức thanh toán">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>{{ dataItem.PaymentMethodName }}</div>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column class="list-col-6" [sticky]="true" [width]="120" title="Tình trạng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [innerHTML]="{ Status: dataItem.Status, StatusName: dataItem.StatusName } | SALOrderMasterStatus"></div>
        </ng-template>
      </kendo-grid-column>
    </ps-kendo-grid>
  </div>
  <!-- END: FILTER -->

  <!-- START: DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="showpopup">
    <div psDialogConfirmHeader>xoá phiếu bán hàng</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phiếu bán hàng</span>
        <br>
        <div class="hightline">{{itemAction.ID}}</div>
      </div>
      <div class="sub-title">
        Phiếu bán hàng bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="showpopup = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="deletemaster(itemAction)" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
</div>