@import '../../../../../assets/scss/colors';

::ng-deep
{
  ps-kendo-multiselect
  {
    height: 35px;


    .k-chip-solid-base
    {
      border-color: rgba(0, 0, 0, 0.08);
      color: #424242;
      background-color: #fff;
      background-image: none;
      border: none;

      &:hover
      {
        background-color: $hover-green !important;
      }
    }

    .custom-multiselect-wrapper
    {
      display: flex;
      flex-direction: column;
      gap: 5px;
      position: relative;

      &:has(.k-disabled)
      {
        label:hover
        {
          cursor: default;
        }
      }

      kendo-multiselect
      {
        width: 100%;
        height: 35px;
        border: 1px solid $border;
        box-shadow: none;

        &.k-disabled
        {
          background-color: $disable-input;
          opacity: 1;

          .k-selection-multiple
          {
            .k-chip
            {
              background-color: transparent;
            }
          }
        }

        &.k-multiselect:has(input[aria-expanded=true])
        {
          box-shadow: none;
        }

        &:hover
        {
          border-color: $primary;
        }

        .kendo-taglist
        {
          .k-chip
          {
            .k-chip-actions
            {
              .k-chip-remove-action
              {
                .k-icon-wrapper-host
                {
                  .k-icon
                  {
                    width: 0;

                    &::before
                    {
                      padding-right: 0;
                    }
                  }
                }
              }
            }
          }
        }
      }

      .my-icon
      {
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

    .search-button
    {
      position: absolute;
      right: 5px;
      top: 115%;
      transform: translateY(-50%);
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 10;
    }

    .k-i-x-circle::before
    {
      content: "\e11b";
      padding-bottom: 7px;
      font-size: 12px;
      padding-right: 15px;
    }

    .search-button .k-icon
    {
      font-size: 18px;
      color: #666;
    }

    .underline-multiselect .k-chip-list-md
    {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      padding: 5px 10px 6px 10px;
    }

    .underline-multiselect .k-chip-list-md::after
    {
      content: '';
      position: absolute;
      left: 15px;
      right: 25px;
      bottom: 4px;
      height: 1px;
      background-color: $grey-a400;
    }

    kendo-label
    {
      line-height: 1;

      label
      {
        cursor: pointer;
        font-size: 13px;
        color: $secondary;
        font-weight: 400;
        line-height: 1;
      }
    }


    .k-multiselect:has(input[aria-expanded="true"])
    {
      border: 1px solid $primary;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
      border-radius: 4px;
    }

    .k-input-solid:focus-within
    {
      border-color: rgba(0, 0, 0, 0.16);
      box-shadow: none;
    }

    .k-input-solid:focus,
    .k-input-solid.k-focus
    {
      border-color: rgba(0, 0, 0, 0.16);
      box-shadow: none;
    }
  }
}