@import '../../../../../assets/scss/colors';

::ng-deep
{
    ps-header
    {
        .header
        {
            height: 100%;
            display: flex;
            justify-content: space-between;

            .header-sidebar
            {
                width: 260px;
                height: 100%;
                display: flex;
                padding: 0 15px;
                position: relative;

                &::before
                {
                    content: "";
                    position: absolute;
                    background-color: $border;
                    width: 1px;
                    height: 40px;
                    right: 0;
                    top: 15px;
                }

                .sidebar-logo
                {
                    width: 185px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .logo-frame
                    {
                        display: flex;
                        height: fit-content;
                        width: fit-content;
                        align-items: center;
                        gap: 10px;
                        cursor: pointer;

                        .frame-img
                        {
                            overflow: hidden;
                            width: 50px;
                            height: 27px;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            img
                            {
                                width: 75px;
                                margin-top: 6px;
                            }
                        }

                        .frame-title
                        {
                            display: flex;
                            flex-direction: column;

                            span
                            {
                                text-transform: uppercase;
                                font-size: 18px;
                                color: $hoaiminh-primary;
                                line-height: 1;
                            }
                        }
                    }
                }

                .sidebar-button
                {
                    width: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .btn
                    {
                        width: 35px;
                        height: 35px;
                        padding: 0;
                        border: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        span
                        {
                            overflow: hidden;
                            height: 14px;
                            display: flex;
                            align-items: center;
                            font-size: 30px;
                        }
                    }
                }
            }

            .header-menu
            {
                height: 100%;
                width: calc(100% - 275px);
                display: flex;
                justify-content: space-between;

                .menu-items
                {
                    display: flex;
                    align-items: center;

                    .items-list
                    {
                        padding: 0;
                        margin: 0;
                        height: fit-content;

                        .list-item
                        {
                            height: 40px;
                            padding: 0 15px;
                            color: $black-color;
                            text-transform: uppercase;
                            border-radius: 3px;
                            margin-right: 1px;

                            &.list-active,
                            &:hover
                            {
                                background-color: $primary;
                                color: $white;
                            }
                        }
                    }
                }

                .menu-action
                {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    .k-button
                    {
                        height: 40px;
                        width: 40px;
                        background-image: none;
                        background-color: transparent;
                        border-color: transparent;

                        &:hover
                        {
                            border-color: $primary;
                        }

                        &.k-button-solid-base:focus
                        {
                            box-shadow: none;
                        }
                    }

                    .k-dropdown-button
                    {
                        .k-button
                        {
                            height: 40px;
                            padding: 5px 25px 5px 5px;
                            border-radius: 5px;
                            background-color: transparent;
                            position: relative;
                            width: fit-content;

                            .k-button-text
                            {
                                line-height: 1;
                                font-size: 13px;
                                font-weight: 700;
                                color: $secondary;
                                text-transform: uppercase;

                                .user-avatar
                                {
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 50%;
                                }

                                .arrow-dropdown
                                {
                                    position: absolute;
                                    right: 6px;
                                    top: 12px;
                                    transform: rotate(180deg);
                                }
                            }

                            &.k-focus
                            {
                                box-shadow: none;
                            }

                            &:hover
                            {
                                filter: brightness(1.1);
                            }
                        }

                        .k-animation-container
                        {
                            box-shadow: 2px 2px 4px rgb(0, 0, 0, 0.2);

                            .k-popup
                            {
                                kendo-button-list
                                {
                                    .k-group
                                    {
                                        gap: 5px;

                                        .k-item
                                        {
                                            height: 35px;

                                            &:last-child
                                            {
                                                .k-link
                                                {
                                                    span
                                                    {
                                                        color: $error;
                                                    }

                                                    &:active
                                                    {
                                                        span
                                                        {
                                                            color: $white;
                                                        }
                                                    }
                                                }
                                            }

                                            &:nth-child(2)::before,
                                            &:nth-child(4)::after
                                            {
                                                &
                                                {
                                                    content: '';
                                                    width: calc(100% - 10px);
                                                    height: 1px;
                                                    background-color: $border;
                                                    margin-left: 5px;
                                                    min-height: 1px;
                                                }
                                            }

                                            &:first-child
                                            {
                                                pointer-events: none;

                                                .k-link
                                                {
                                                    &:hover
                                                    {
                                                        background-color: transparent;
                                                    }
                                                }
                                            }

                                            &.k-focus,
                                            &:focus
                                            {
                                                .k-link
                                                {
                                                    box-shadow: none;
                                                }
                                            }

                                            .k-link
                                            {
                                                display: flex;
                                                justify-content: space-between;
                                                padding: 0 0 0 5px;
                                                gap: 30px;

                                                .material-icons
                                                {
                                                    width: 35px;
                                                    height: 35px;
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                }

                                                &:active
                                                {
                                                    background-color: $primary;

                                                    .k-menu-link-text,
                                                    span
                                                    {
                                                        color: $white;
                                                    }
                                                }

                                                .user-infor
                                                {
                                                    height: 75px;
                                                    display: flex;
                                                    cursor: default;

                                                    .infor-avt
                                                    {
                                                        width: 75px;
                                                        height: 100%;
                                                        display: flex;
                                                        justify-content: center;
                                                        align-items: center;

                                                        img
                                                        {
                                                            width: 45px;
                                                            height: 45px;
                                                            border-radius: 50%;
                                                        }
                                                    }

                                                    .infor-title
                                                    {
                                                        display: flex;
                                                        flex-direction: column;
                                                        justify-content: center;
                                                        gap: 2px;

                                                        .title-name
                                                        {
                                                            font-size: 14px;
                                                            font-weight: 700;
                                                            line-height: 1;
                                                            color: $secondary;
                                                        }

                                                        .title-other
                                                        {
                                                            font-size: 10px;
                                                            font-weight: 400;
                                                            line-height: 1;
                                                            color: $primary;
                                                            font-style: italic;
                                                        }
                                                    }
                                                }
                                            }

                                            &:has(.user-infor)
                                            {
                                                height: 75px;

                                                .k-link
                                                {
                                                    padding-right: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &:has(.k-animation-container)
                        {
                            .k-button
                            {
                                border-color: $primary;

                                .k-button-text
                                {
                                    .arrow-dropdown
                                    {
                                        transform: rotate(0);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .head-change-popup
            {
                position: absolute;

                .k-overlay
                {
                    z-index: 100000001;
                }

                .k-animation-container
                {
                    z-index: 100000001;
                    top: 50% !important;
                    left: 50% !important;
                    transform: translate(-50%, -50%);
                    width: 40vw;
                    max-width: 352px;

                    .k-popup
                    {
                        width: 100%;
                        height: 100%;
                        position: relative;

                        .popup-header
                        {
                            height: 50px;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 700;
                            display: flex;
                            text-transform: uppercase;
                            justify-content: center;
                            align-items: center;

                            span
                            {
                                position: absolute;
                                right: 0;
                                top: 0;
                                width: 30px;
                                height: 30px;
                                cursor: pointer;
                            }
                        }

                        .popup-content
                        {
                            display: flex;
                            flex-direction: column;
                            gap: 8px;
                            max-height: 272px;
                            overflow: hidden;
                            overflow-y: auto;
                            margin-bottom: 24px;

                            .content-item
                            {
                                height: 48px;
                                margin: 0 48px;
                                display: flex;
                                width: calc(100% - 96px);
                                border: 1px solid $border;
                                border-radius: 5px;
                                cursor: pointer;

                                &:hover
                                {
                                    border: 1px solid $primary;
                                    background-color: $hover-green;
                                }

                                .item-image
                                {
                                    height: 100%;

                                    img
                                    {
                                        height: 100%;
                                    }
                                }

                                .item-context
                                {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 100%;
                                    text-align: flex-start;

                                    .context-name
                                    {
                                        text-transform: uppercase;
                                        font-size: 14px;
                                    }

                                    .context-brief
                                    {
                                        font-size: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .password-change-popup
            {
                position: absolute;

                .k-overlay
                {
                    z-index: 100000001;
                }

                .k-animation-container
                {
                    z-index: 100000001;
                    top: 50% !important;
                    left: 50% !important;
                    transform: translate(-50%, -50%);
                    width: 40vw;
                    height: 40vh;
                    max-width: 450px;

                    .k-popup
                    {
                        height: fit-content;
                        width: 100%;
                        position: relative;

                        .popup-header
                        {
                            height: 50px;
                            text-transform: uppercase;
                            font-size: 16px;
                            font-weight: 700;
                            display: flex;
                            text-transform: uppercase;
                            justify-content: center;
                            align-items: center;
                            background-color: $primary;
                            color: $white;
                        }

                        .popup-footer
                        {
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                            padding-right: 10px;
                            gap: 10px;
                            border-top: 1px solid $border;
                        }

                        .popup-content
                        {
                            height: fit-content;
                            max-height: calc(100% - 80px);
                            display: flex;
                            justify-content: center;
                            flex-direction: column;
                            gap: 10px;
                            padding: 25px 50px;

                            form
                            {
                                display: flex;
                                flex-direction: column;
                                width: 100%;

                                .k-textbox
                                {
                                    height: 50px;
                                    border: none;
                                    border-bottom: 1px solid $border;
                                    border-radius: 0;
                                    opacity: 1;

                                    &.hasPrefix
                                    {
                                        padding-left: 0;
                                    }

                                    &.k-input-solid.k-focus,
                                    &.k-focus,
                                    &:focus-within,
                                    &:hover
                                    {
                                        box-shadow: none !important;
                                        border-color: $primary;
                                    }

                                    &.k-disabled
                                    {
                                        opacity: 1;
                                        background-color: $disable-input;
                                    }

                                    .k-input-inner
                                    {
                                        &::placeholder
                                        {
                                            font-style: italic;
                                            color: $placeholder;
                                        }

                                        font-size: 18px;
                                        line-height: 1;
                                        color: $secondary;
                                        padding: 0;
                                    }

                                    .k-input-suffix
                                    {
                                        .k-button
                                        {
                                            height: 50px;

                                            .k-button-icon
                                            {
                                                .k-button-icon
                                                {
                                                    color: $secondary;
                                                    font-size: 18px;
                                                }
                                            }

                                            &.k-focus,
                                            &.k-button-clear-base:focus::after
                                            {
                                                background-color: $white !important;
                                            }
                                        }
                                    }
                                }

                                ps-kendo-button,
                                ps-kendo-button button
                                {
                                    width: 100%;
                                    height: 50px;
                                }

                                ps-kendo-button
                                {
                                    margin-top: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}