<div class="header">
    <div class="header-sidebar">
        <div class="sidebar-logo">
            <div class="logo-frame" (click)="onChangeHead()">
                <div class="frame-img">
                    <img src="../../../assets/images/logos/header-logo.png" alt="Hoài Minh Head logo">
                </div>
                <div class="frame-title ">
                    <span class="playfair-display">{{headActive.HeadName}}</span>
                    <!-- <span class="playfair-display">{{headActive.HeadName.split(' ')[0]}}</span> -->
                    <!-- <span class="playfair-display">{{headActive.HeadName.split(' ').slice(1).join(' ')}}</span> -->
                </div>
            </div>
        </div>
        <div class="sidebar-button">
            <button class="btn" (click)="onToggle()">
                <span class="material-icons o-35" *ngIf="ngExpanded">format_indent_decrease</span>
                <span class="material-icons o-35" *ngIf="!ngExpanded">format_indent_increase</span>
            </button>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu-items">
            <ul class="items-list">
                <button class="list-item btn mulish" *ngFor="let item of data"
                        [class.list-active]="dataactive.Code == item.Code" (click)="onSelectModule(item)">
                    {{item.ModuleName}}
                </button>
            </ul>
        </div>
        <div class="menu-action">
            <button kendoButton class="action-item"
                    imageUrl="../../../assets/images/icons/notification.icon.png"></button>
            <kendo-dropdownbutton [data]="dataAction" [textField]="'Action'" (itemClick)="onItemActionClick($event)"
                                  [popupSettings]="{ appendTo: 'component', align: 'right' }">
                <img class="user-avatar" src="{{dataAction[0].ImageThumb}}">
                <span class="arrow-dropdown">
                    <img src="../../../../../assets/images/icons/arrow_dropdown.icon.png" alt="">
                </span>
                <ng-template kendoDropDownButtonItemTemplate let-dataItem>
                    <div class="user-infor" *ngIf="!dataItem.IsAction">
                        <div class="infor-avt">
                            <img class="user-avatar" src="{{dataItem.ImageThumb}}" alt="staff avatar image">
                        </div>
                        <div class="infor-title">
                            <div class="title-name">{{dataItem.FullName}}</div>
                            <div class="title-other">{{dataItem.DepartmentName}}</div>
                            <div class="title-other">{{dataItem.PositionName}}</div>
                        </div>
                    </div>
                    <span *ngIf="dataItem.IsAction">{{ dataItem.Action }} {{i}}</span>
                    <span *ngIf="dataItem.IsAction" class="material-icons w-300">{{dataItem.Icon}}</span>
                </ng-template>
            </kendo-dropdownbutton>
        </div>
    </div>

    <div class="head-change-popup" *ngIf="showHeadPopup">
        <div class="k-overlay"></div>
        <kendo-popup>
            <div class="popup-header">
                danh sách head
                <span class="k-icon k-font-icon k-i-x" (click)="showHeadPopup = false"></span>
            </div>
            <div class="popup-content">
                <div class="content-item" *ngFor="let itemhead of listHead" (click)="selectHead(itemhead)">
                    <div class="item-image">
                        <img src="../../../../../assets/images/logos/hoaiminh-logo.png" alt="">
                    </div>
                    <div class="item-context">
                        <div class="context-name playfair-display" style="color: #e5322b;">
                            {{itemhead.HeadName}}
                        </div>
                    </div>
                </div>
            </div>
        </kendo-popup>
    </div>

    <div class="password-change-popup" *ngIf="showPasswordPopup">
        <div class="k-overlay"></div>
        <kendo-popup>
            <div class="popup-header">
                thay đổi mật khẩu
            </div>
            <div class="popup-content">
                <form [formGroup]="changePasswordForm">
                    <kendo-textbox #newpassword name="newpassword" showErrorIcon="initial" placeholder="Mật khẩu mới"
                                   formControlName="newpassword" type="password" required>
                        <ng-template kendoTextBoxSuffixTemplate>
                            <button kendoButton type="button" look="clear" icon="eye"></button>
                        </ng-template>
                    </kendo-textbox>
                    <kendo-textbox #renewpassword name="renewpassword" showErrorIcon="initial"
                                   placeholder="Nhập lại mật khẩu" formControlName="renewpassword" type="password"
                                   class="mt-3" required>
                        <ng-template kendoTextBoxSuffixTemplate>
                            <button kendoButton type="button" look="clear" icon="eye"></button>
                        </ng-template>
                    </kendo-textbox>
                    <kendo-textbox #password name="password" showErrorIcon="initial" placeholder="Mật khẩu cũ"
                                   formControlName="password" type="password" class="mt-3" required>
                        <ng-template kendoTextBoxSuffixTemplate>
                            <button kendoButton type="button" look="clear" icon="eye"></button>
                        </ng-template>
                    </kendo-textbox>
                </form>
            </div>
            <div class="popup-footer">
                <ps-kendo-button (onClick)="showPasswordPopup = !showPasswordPopup">huỷ</ps-kendo-button>
                <ps-kendo-button [theme]="'primary'">đổi mật khẩu</ps-kendo-button>
            </div>
        </kendo-popup>
    </div>
</div>