<kendo-grid #PsKendoGrid [sort]="sort" [data]="data" [rowClass]="rowCallback" [pageable]="pageable" [isDetailExpanded]="isDetailExpanded"
            [pageSize]="pageSize" [skip]="skip" (pageChange)="onPageChange($event)" [ngClass]="{'none-header-gird': !header}" [resizable]="resizable"
            (detailExpand)="ondetailexpand($event)" [selectable]="selectable" (selectionChange)="onSelectionChange($event)" [rowSelected]="rowSelected">
  <ng-content></ng-content>

  <kendo-grid-column [width]="35" [class]="'checkboxColumn'" [headerClass]="'checkboxColumn'" [sticky]="true"
                     *ngIf="hasColumnCheckbox">
    <ng-template kendoGridHeaderTemplate let-dataItem>
      <div>
        <input type="checkbox" [checked]="isAllCheckboxChecked"
               (change)="isAllCheckboxChecked = !isAllCheckboxChecked; setValueAllCheckbox(isAllCheckboxChecked)"
               class="myinput" />
      </div>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div>
        <input type="checkbox" *ngIf="isAllCheckboxChecked" (change)="checkItemChecked(dataItem)"
               [checked]="isAllCheckboxChecked" class="myinput" />
        <input type="checkbox" *ngIf="!isAllCheckboxChecked" [checked]="checkedItem(dataItem)"
               (change)="checkItemChecked(dataItem)" class="myinput" />
      </div>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column [width]="actionColumnWidth" [class]="actionColumnSticky ? 'actionColumn' : 'actionColumn actionColumnNoneSticky'"
                     [headerClass]="actionColumnSticky ? 'actionColumn' : 'actionColumn actionColumnNoneSticky'" [sticky]="actionColumnSticky"
                     *ngIf="hasColumnAction">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div>
        <kendo-dropdownbutton [data]="actionColumnData" icon="more-horizontal"
                              (itemClick)="onItemClick($event, dataItem)" (open)="onBtnActionFocus(dataItem)"
                              [popupSettings]="{ animate: true, popupClass: 'actionPopupColumn', align: 'right' }">
          <ng-template kendoDropDownButtonItemTemplate let-action>
            <div *ngIf="action.separator != true">
              <span *ngIf="action.iconClass != null" class="k-icon k-font-icon k-i-{{action.iconClass}}"></span>
              <span *ngIf="action.icon != null" class="material-icons">{{action.icon}}</span>
              <span *ngIf="action.image != null" class="image">
                <img [src]="action.image" alt="">
              </span>
              <span class="title">{{action.text}}</span>
            </div>
            <div class="separator" *ngIf="action.separator == true"></div>
          </ng-template>
        </kendo-dropdownbutton>
      </div>
    </ng-template>
  </kendo-grid-column>

  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
    <div class="page-quantity">
      <div class="label">Số lượng hiển thị</div>
      <kendo-pager-page-sizes [popupSettings]="{ popupClass: 'component' }" [pageSizes]="pageSizes"
                              class="ps-kendo-grid-page-size"></kendo-pager-page-sizes>
    </div>
    <div class="page-index">
      <kendo-pager-prev-buttons class="k-pager-nav-btn"></kendo-pager-prev-buttons>
      <kendo-pager-numeric-buttons [buttonCount]="4"></kendo-pager-numeric-buttons>
      <kendo-pager-next-buttons class="k-pager-nav-btn"></kendo-pager-next-buttons>
    </div>
  </ng-template>
</kendo-grid>