<div class="mtb005-delivery">
  <!-- START: HEADER TOOL -->
  <ps-toolbar-top>
    <ps-kendo-button *ngIf="FunctionPermissionDTO.master || FunctionPermissionDTO.creator" [theme]="'primary'"
                     (onClick)="addnewitem()">
      tạo mới
    </ps-kendo-button>
  </ps-toolbar-top>
  <!-- END: HEADER TOOL -->
  <!-- START: FILTER -->
  <div class="ps-filter-bar">
    <ps-filter-textbox [placeholder]="'Tìm kiếm lệnh giao hàng, đơn hàng'" [listField]="listfiltertext"
                       (onFilter)="textFilterChange($event)">
    </ps-filter-textbox>

    <ps-kendo-dropdown-list [label]="'Cửa hàng đặt hàng'" [data]="listhead" [textField]="'BriefName'"
                            [valueField]="'Code'" [valuePrimitive]="true" [(ngModel)]="headactive.Code"
                            (selectChange)="onStoreChange($event)">
    </ps-kendo-dropdown-list>

    <ps-filter-status1 [data]="liststatus" [valueField]="'TypeOfStatus'" [field]="'StatusID'"
                       [label]="'Tình trạng phiếu'" (changedValue)="statusFilterChange($event)">
    </ps-filter-status1>

    <ps-filter-button [clearDisabled]="isDisabledClear" [resetDisabled]="isDisabledReset" (reload)="onReload()"
                      (clear)="statusFilterClear()" (reset)="statusFilterReset()">
    </ps-filter-button>
  </div>

  <!-- LIST -->
  <div class="list">
    <ps-kendo-grid #grid [data]="data | async" [actionColumnWidth]="50" [actionColumnData]="actionColumn"
                   (btnActionFocus)="onActionColumnFocus($event)" [hasColumnAction]="true" (actionSelected)="onActionClick($event)"
                   [pageable]="true" (pageChanged)="onPageChanged($event)" [skip]="skip">

      <!-- Lệnh giao hàng -->
      <kendo-grid-column class="list-col-1" [width]="150" title="Lệnh giao hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="delivery-code">{{ dataItem.DO }}</div>
          <div>{{ dataItem.EstEffDate | date: 'dd/MM/yyyy' }}</div>
        </ng-template>
      </kendo-grid-column>

      <!-- Thông tin đặt hàng -->
      <kendo-grid-column class="list-col-2" [width]="350" title="Thông tin đặt hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="order-partner">{{ dataItem.SupplierName }}</div>
          <div>
            {{ dataItem.PONo != null && dataItem.PONo != '' ? ('PO: ' + dataItem.PONo) : '' }}
            {{ dataItem.PODate != null ? ('| ' + (dataItem.PODate | date: 'dd/MM/yyyy')) : '' }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- Cửa hàng đặt hàng -->
      <kendo-grid-column class="list-col-3" [width]="200" title="Cửa hàng đặt hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="order-store">{{ dataItem.HeadName }}</div>
        </ng-template>
      </kendo-grid-column>

      <!-- Chi tiết giao hàng -->
      <kendo-grid-column class="list-col-4" [width]="150" title="Chi tiết giao hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div class="total-detail">
            <div class="line-infor">Dòng xe</div>:
            {{ dataItem.TotalTypeOfVehicle }}
          </div>
          <div class="total-detail">
            <div class="line-infor">Loại xe</div>:
            {{ dataItem.TotalVehicle }}
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- Cửa hàng nhập hàng -->
      <kendo-grid-column class="list-col-5" [width]="200" title="Cửa hàng nhập hàng">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div>
            {{ dataItem.ListInHeadName[0] }}
          </div>
          <div>
            {{ dataItem.ListInHeadName[1] }}
          </div>
          <div *ngIf="dataItem.ListInHeadName.length == 3">
            {{ dataItem.ListInHeadName[3] }}
          </div>
          <div *ngIf="dataItem.ListInHeadName.length > 3">
            + {{ dataItem.ListInHeadName.length - 2 }} CH
          </div>
        </ng-template>
      </kendo-grid-column>

      <!-- Tình trạng -->
      <kendo-grid-column class="list-col-6" [width]="120" title="Tình trạng" [sticky]="true">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div [innerHTML]="{ Status: dataItem.StatusID, StatusName: dataItem.StatusName } | PURDOMasterStatus"></div>
        </ng-template>
      </kendo-grid-column>

    </ps-kendo-grid>
  </div>
  <!-- END: FILTER -->

  <!-- START: DELETE DIALOG -->
  <ps-dialog-confirm [theme]="'error'" [open]="showpopup">
    <div psDialogConfirmHeader>xoá phiếu giao nhận</div>
    <div psDialogConfirmBody>
      <div class="main-title">
        <span>Bạn có chắc chắn muốn xoá phiếu giao nhận</span>
        <br>
        <div class="hightline">{{itemAction.DO}}</div>
      </div>
      <div class="sub-title">
        Phiếu giao nhận bị xoá sẽ <span>KHÔNG</span> thể phục hồi
      </div>
    </div>
    <div psDialogConfirmFooter>
      <ps-kendo-button (onClick)="showpopup = false">huỷ</ps-kendo-button>
      <ps-kendo-button (onClick)="deletedomaster(itemAction)" [theme]="'error'">xoá</ps-kendo-button>
    </div>
  </ps-dialog-confirm>
  <!-- END: DELETE DIALOG -->
</div>