@import "../../../../../assets/scss/colors";

::ng-deep {
  mtb018-sal-warehouse-detail {
    font-size: 13px;

    .mtb018-sal-warehouse-detail {
      height: 100%;

      ps-header-back {
        .ps-header {
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          .header-right {
            height: fit-content;
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .left-side {
              .func-title1 {
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                color: $primary;
              }
            }

            .right-side {
              div {
                text-align: end;
              }

              span {
                color: $error;
                font-weight: bold;
              }

              .staffname span {
                color: $secondary;
              }
            }
          }
        }
      }

      .body {
        height: calc(100% - 96px);
        padding: 8px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: auto;

        .info-card {
          background: $white;
          border-radius: 8px;
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

          .card-body {
            padding: 12px 8px;
            display: flex;
            flex-direction: column;
            gap: 8px;

            .info-row {
              display: flex;
              gap: 4px;
              align-items: center;

              .info-label {
                width: 55px;
              }

              .info-value {
                font-weight: bold;
                flex: 1;

                &.text-primary {
                  color: $primary;
                  font-weight: bold;
                }
              }
            }

            .input-row {
              display: flex;
              gap: 8px;
              align-items: flex-end;

              ps-kendo-textbox {
                flex: 1;
              }

              ps-kendo-button.barcode-button {
                button {
                  min-width: 35px;
                  height: 35px;
                  padding: 0;
                  background-color: $secondary;
                  border-color: $secondary;

                  .k-button-text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;

                    .material-icons {
                      font-size: 20px;
                      color: $white;
                    }
                  }
                }

                button:hover,
                button:focus {
                  background-color: $gray-700;
                  border-color: $gray-700;
                }
              }
            }

            .input-row-two {
              display: flex;
              gap: 8px;

              ps-kendo-textbox,
              ps-kendo-dropdown-list {
                flex: 1;
              }
            }
          }
        }
      }

      ps-footer-action {
        .footer-action {
          display: flex;

          ps-kendo-button {
            button {
              height: 100%;
              border-radius: 0;
              width: 100%;
              border: none;
              padding: 0;

              .k-button-text {
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 4px;
                padding: 4px 0;
                justify-content: center;

                svg {
                  width: 24px;
                  height: 24px;
                }

                .text {
                  font-size: 13px;
                  text-transform: none;
                }
              }
            }

            &:last-child {
              width: 75%;

              .text {
                color: $white;
              }
            }

            &:first-child {
              width: 25%;
              border: none;
              align-items: center;
            }
          }
        }
      }
    }
  }
}
