<div class="ath002-store">
    <!-- START: HEADER -->
    <ps-header-main>
        <div class="title">
            lựa chọn đơn vị
        </div>
    </ps-header-main>
    <!-- END: HEADER -->

    <!-- START: NOTE -->
    <div class="note">
        <div>
            Vui lòng lựa chọn
            <span>đơn vị</span>
        </div>
        <div>
            để xử lý các tác nghiệp liên quan
        </div>
    </div>
    <!-- END: NOTE -->

    <!-- START: BODY -->
    <div class="body">
        <div class="list">
            <div class="item" *ngFor="let item of listHead; let i = index" [class.highlight]="i % 2">
                <div class="image">
                    <img src="../../../assets/images/logos/hoaiminh-logo.png" alt="">
                </div>
                <div class="group-name">
                    <div class="short-name playfair-display">{{item.HeadName}}</div>
                    <div class="name">{{item.TradeName}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: BODY -->

    <!-- START: FOOTER -->
    <ps-footer-copyright></ps-footer-copyright>
    <!-- END: FOOTER -->
</div>