@import "../../../../../assets/scss/colors";

::ng-deep
{
  ps-kendo-dialog
  {
    .ps-kendo-dialog
    {
      position: absolute;
      top: -10px;
      left: -10px;
      width: calc(100% + 20px);
      height: calc(100% + 20px);

      .k-overlay
      {
        z-index: 100001;
        position: absolute;
        border-radius: 10px;
      }

      .kendo-dialog
      {
        z-index: 100002;
        width: 80%;
        height: 80%;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 5px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
        border: 1px solid $border;

        .k-popup
        {
          height: 100%;
          border: none;
          border-radius: 5px;
          box-shadow: none;
          background-color: $white;

          [psKendoDialogHeader]
          {
            height: 50px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            border-bottom: 1px solid $border;
            font-size: 16px;
            font-weight: 700;
          }

          [psKendoDialogFooter]
          {
            border-top: 1px solid $border;
            display: flex;
            justify-content: flex-end;
            height: 50px;
            align-items: center;
            gap: 10px;
            padding-right: 10px;
          }

          [psKendoDialogBody]
          {
            height: calc(100% - 100px);
            padding: 10px;
            display: flex;
            flex-direction: column;
          }
        }

        &.ps-dialog-success
        {
          border-color: $success;

          [psKendoDialogHeader]
          {
            background-color: $success;
            color: $white;
          }

          [psKendoDialogFooter]
          {
            border-color: $success;
          }
        }

        &.ps-dialog-warning
        {
          border-color: $warning;

          .k-popup
          {
            [psKendoDialogHeader]
            {
              background-color: $warning;
              color: $white;
            }

            [psKendoDialogFooter]
            {
              border-color: $warning;
            }
          }
        }

        &.ps-dialog-info
        {
          border-color: $info;

          .k-popup
          {
            [psKendoDialogHeader]
            {
              background-color: $info;
              color: $white;
            }

            [psKendoDialogFooter]
            {
              border-color: $info;
            }
          }
        }

        &.ps-dialog-error
        {
          border-color: $error;

          .k-popup
          {
            [psKendoDialogHeader]
            {
              background-color: $error;
              color: $white;
            }

            [psKendoDialogFooter]
            {
              border-color: $error;
            }
          }
        }
      }
    }
  }

}